<div
class="modal fade"
id="feedbackModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
      feedback Details
    </h1>

    <button
      type="button"
      class="btn-close btn-close-white"
      
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body">
    <button class="open-button">Chat</button>
<div class="chat-popup" id="myForm">
    <form action="/action_page.php" class="form-container">
      <h1>Chat</h1>
  
      <label for="msg"><b>Message</b></label>
      <textarea placeholder="Type message.." name="msg" required></textarea>
  
      <button type="submit" class="btn">Send</button>
      <button type="button" class="btn cancel">Close</button>
    </form>
  </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" >
        Close
      </button>
    </div>
    </div>
    </div>
    </div>
    
 