<div class="container mt-5 mb-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="card card-table">
        <div>
          <div class="p-4">
            <h1 class="text-center mb-5">Reset Password</h1>

            <!--Get Code View-->
            <p *ngIf="getCodeView">
              Enter the phone number used to register your account.
            </p>
          </div>
          <!--Get Code View-->
          <div class="ps-4">
            <div class="alert alert-danger" *ngIf="getCodeErrorMessage">
              {{ getCodeErrorMessage }}
            </div>
            <!--RESET CODE VIEW ERRor-->
            <div class="alert alert-danger" *ngIf="passwordResetSuccessMessage">
              {{ passwordResetSuccessMessage }}
            </div>

            <!--RESET CODE VIEW Success-->
            <div class="alert alert-success" *ngIf="errorMessage">
              {{ errorMessage }} <br />Use the code to reset your password.
            </div>
            <div *ngIf="countDownStarted">
              <p id="timer" *ngIf="!isCountdownOver && !passwordResetSuccess">
                OTP will expire in: <span>{{ time }}</span>
              </p>
              <p id="timer" *ngIf="isCountdownOver && !passwordResetSuccess">OTP has Expired</p>
            </div>
            <div *ngIf="resetCodeDefault">
              <button
                type="button"
                (click)="resendOtp()"
                class="btn btn-resend-otp mt-2 mb-3"
                *ngIf="isCountdownOver"
              >
                Resend OTP
              </button>
            </div>
            
            <div class="alert alert-success" *ngIf="passwordResetSuccess">
              {{ errorResetMessage }} <br />You can proceed to login.
            </div>
          </div>

          <form #restForm="ngForm" class="ps-4">
            <div class="mb-3" *ngIf="getCodeView">
              <label for="phone">Phone No:</label>
              <input
                [(ngModel)]="formData.msisdn"
                (ngModelChange)="getCodeErrorMessage = ''"
                name="username"
                type="text"
                class="form-control"
                id="msisdn"
                aria-describedby="emailHelp"
                placeholder="0701234567"
                required
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0/,254).replace(/^7/,2547).replace(/(\..*)\./g, '$1');"
              />
              <button
                type="submit"
                class="btn btn-signup mt-3 mb-3"
                (click)="getCode()"
                [disabled]="!formData.msisdn"
              >
                Get Code
              </button>
              
              <button class="btn btn-signup" routerLink="/signin">
                <fa-icon [icon]="backIcon"></fa-icon> Back to login
              </button>
            </div>
            <div *ngIf="resetCodeDefault">
              <div class="mb-5">
                <label for="password">Enter Code:</label>
                <div class="d-flex">
                  <input
                    [(ngModel)]="formData.otp"
                    name="code"
                    type="text"
                    class="form-control code-input"
                    id="code"
                    placeholder=""
                    required
                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g,'$1');"
                  />
                </div>
              </div>
              <div class="mb-5 form-group">
                <label for="password">New Password</label>
                <div class="input-group">
                  <input
                    #yourElement
                    [type]="fieldTextType ? 'text' : 'password'"
                    [ngClass]="
                      passwordInvalid && formData.password.length
                        ? 'input-error'
                        : ''
                    "
                    [(ngModel)]="formData.password"
                    (ngModelChange)="validatePasswordRule()"
                    name="password"
                    type="password"
                    class="form-control border-end-0 border"
                    id="password"
                    placeholder="Password"
                    required
                  />
                  <span class="input-group-append">
                    <span
                      class="input-group-text bg-transparent ms-n3 border-start-0 border"
                      *ngIf="fieldTextType"
                    >
                      <fa-icon
                        [icon]="eyeIcon"
                        (click)="toggleFieldTextType()"
                      ></fa-icon>
                    </span>
                    <span
                      class="input-group-text bg-transparent ms-n3 border-start-0 border"
                      *ngIf="!fieldTextType"
                    >
                      <fa-icon
                        [icon]="eyeSlashIcon"
                        (click)="toggleFieldTextType()"
                      ></fa-icon>
                    </span>
                  </span>
                </div>
              </div>
              <div class="mb-5 form-group">
                <label for="password">Confirm Password </label>
                <div class="input-group">
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    [ngClass]="
                      passwordInvalid && formData.confirmPassword.length
                        ? 'input-error'
                        : ''
                    "
                    [(ngModel)]="formData.confirmPassword"
                    (ngModelChange)="validatePasswordRule()"
                    name="password"
                    type="password"
                    class="form-control border-end-0 border"
                    id="confirmpassword"
                    placeholder="Password"
                    required
                  />
                  <span class="input-group-append">
                    <span
                      class="input-group-text bg-transparent ms-n3 border-start-0 border"
                      *ngIf="fieldTextType"
                    >
                      <fa-icon
                        [icon]="eyeIcon"
                        (click)="toggleFieldTextType()"
                      ></fa-icon>
                    </span>
                    <span
                      class="input-group-text bg-transparent ms-n3 border-start-0 border"
                      *ngIf="!fieldTextType"
                    >
                      <fa-icon
                        [icon]="eyeSlashIcon"
                        (click)="toggleFieldTextType()"
                      ></fa-icon>
                    </span>
                  </span>
                </div>
              </div>
              <small class="redText ms-2" *ngIf="passwordInvalid">
                {{ passwordErrorMessage }}</small
              >
              <button
                type="submit"
                class="btn btn-signup mt-2 mb-5"
                (click)="validatePassword()"
              >
                Reset Password <fa-icon></fa-icon>
              </button>
            
            </div>
          </form>
          <p *ngIf="passwordResetSuccess">
            Proceed to<a routerLink="/signin"> login</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
