
.container {
    position:absolute;
    width:100%;
    color: white;
    background:#1B3A27;
    bottom:0px;
    align-items: center;
    
}

footer{
    background: #1B3A27;
    color: white;
    height: 100px;
    width: 100%;
    bottom: 0;
}
p, h5{
    text-align: center;
    margin-top: 20px;

}