.container {
    
    width:100%;
    color: white;
    background:#1B3A27;
    
    align-items: center;
    
}

footer{
    background: #1B3A27;
    color: white;
    height: 100px;
    width: 100%;
   
}
p, h5{
    text-align: center;
    margin-top: 20px;
}