  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" [@fadeIn]>

    <img src="../../assets/images/CoachMatePRO-Transparent.png" alt="Logo" class="logo me-2" />

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="/home#" [ngClass]="{ 'home-active-link': !router.url.includes('home#') }">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#features"
            [ngClass]="{ 'home-active-link': router.url.includes('feature') }">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#security"
            [ngClass]="{ 'home-active-link': router.url.includes('security') }">Security</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home#contact"
            [ngClass]="{ 'home-active-link': router.url.includes('contact') }">Contact</a>
        </li>
        <li class="nav-item ">
          <button type="button" class="btn btn-outline-success me-2" routerLink="/signin">
            Login
          </button>
          <button type="button" class="btn btn-outline-success" routerLink="/signup">
            Register
          </button>
        </li>
      </ul>
    </div>
  </nav>

  <div class="show-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top align-items-center" [@fadeIn]>

      <img src="../../assets/images/CoachMatePRO-Transparent.png" alt="Logo" class="logo me-2" />
      <div class="d-flex justify-content-between align-items-center login-reg-buttons mb-1">
        <button type="button" class="btn btn-outline-success me-2" routerLink="/signin">
          Login
        </button>
        <button type="button" class="btn btn-outline-success me-2" routerLink="/signup">
          Register
        </button>
      </div>
    </nav>
  </div>
  <!-- <div class="outlet" [ngClass]="{'outlet-no-content':router.url.includes('login') || router.url.includes('signup') || router.url.includes('registration') || router.url.includes('setup') || router.url.includes('home')}">
  <router-outlet></router-outlet>
</div> -->

  <div class="container-fluid section mb-5" id="section">
    <div class="container">
      <section class="" id="home" [@fadeIn]>
        <div class="row align-items-center pb-3 mt-5 mb-5">
          <div class="col-md-6 mb-3">
            <div class="abt-section-img mb-3 mb-md-0 text-center">
              <img src="../../../assets/images/pexels-kampus-production-5940706.jpg" class="img-custom-size img-fluid"
                alt="users" />
            </div>
          </div>
          <div class="col-md-6 mb-3">
            <div class="abt-section-text text-center text-md-start">
              <h4 class="display-4" style="color: #EF4813">CoachMatePRO</h4>
              <p class="lead me-2">
                Introducing your virtual coaching business management system. We support you to streamline your coaching
                practise with automatic alerts, secure contract signing and easy schedule tracking. Say goodbye to
                missed meetings and payments. Focus on coaching your clients to success. Get started today!
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="features-section" id="features" [@fadeIn]>
        <div class="section-header text-center">
          <h3 class="section-title">Features</h3>
          <!-- <br />
        <span class="section-description">We are working hard to make sure we cater for your daily operational
          needs</span> -->
        </div>

        <br />

        <div class="features-list">
          <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active" data-bs-interval="10000" [@fadeIn]>
                <div class="feature-imgs">
                  <img src="../../../assets/images/schedules.png" class="d-block w-100" alt="..." />
                </div>
                <div class="captions text-center">
                  <h5 class="fw-bold mt-2 mb-2">Scheduling and Alerts:</h5>
                  <p class="feat">
                    The system offers a comprehensive scheduling tool that helps
                    coaches and clients manage their time efficiently. It sends
                    alerts for upcoming meetings and payments, ensuring that no
                    important appointments are missed.
                  </p>
                </div>
              </div>
              <div class="carousel-item" [@fadeIn] data-bs-interval="2000">
                <div class="feature-imgs">
                  <img src="../../../assets/images/feedbacks.png" class="d-block w-100" alt="..." />
                </div>
                <div class="captions text-center">
                  <h5 class="fw-bold mt-2 mb-2">Manage Feedback</h5>
                  <p class="feat">
                    The system enables clients to provide feedback electronically,
                    making it easier for coaches to track progress and improve
                    their services.
                  </p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000" [@fadeIn]>
                <div class="feature-imgs">
                  <img src="../../../assets/images/education.png" class="d-block w-100" alt="..." />
                </div>
                <div class="captions text-center">
                  <h5 class="fw-bold mt-2 mb-2">Education and Training</h5>
                  <p class="feat">
                    The system offers an option for coaches to add courses,
                    expanding their reach and impact.
                  </p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000" [@fadeIn]>
                <div class="feature-imgs">
                  <img src="../../assets/images/contracts.png" class="d-block w-100" alt="..." />
                </div>
                <div class="captions text-center">
                  <h5 class="fw-bold mt-2 mb-2">Contract Management:</h5>
                  <p class="feat">
                    The system provides a digital platform for the signing of
                    coaching contracts, which streamlines the process and reduces
                    the risk of errors.
                  </p>
                </div>
              </div>
              <div class="carousel-item" data-bs-interval="2000" [@fadeIn]>
                <div class="feature-imgs">
                  <img src="../../../assets/images/payment.png" class="d-block w-100" alt="..." />
                </div>
                <div class="captions text-center">
                  <h5 class="fw-bold mt-2 mb-2">Manage Payments</h5>
                  <p class="feat">
                    The system provides a secure and convenient way for clients to
                    manage their payments, eliminating the need for manual
                    transactions and reducing the risk of errors.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex align-items-center justify-content-center">
            <button class="btn custom-btn" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
              <fa-icon class="carousel-icon left-icon" [icon]="leftIcon"></fa-icon>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="btn custom-btn" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
              <fa-icon class="carousel-icon right-icon" [icon]="rightIcon"></fa-icon>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </section>

      <br />

      <div class="security" id="security">
        <div class="row justify-content-center align-items-center" [@fadeIn]>
          <div class="col-md-6 col-sm-6 me-2">
            <h3 class="section-title">Your Data & Your Client's, Is Safe</h3>
            <br />
            <span class="lead">
              We are committed to ensuring the utmost security of all data in our
              possession.
              <br />
              Here's why you should trust us
            </span>
          </div>
        </div>

        <br />
        <br />

        <div class="row" [@fadeIn]>
          <div class="col-md-6 mb-3" *ngFor="let content of securityContent; index as i">
            <div class="security-item">
              <span class="security-icon">
                <i class="fas fa-check-circle"></i>
              </span>
              <div class="pt-1">
                <h4>{{ content.title }}</h4>
                <p>{{ content.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact" id="contact" [@fadeIn]>
        <div class="row align-items-md-center">
          <div class="col-md-5 text-white">
            <div class="text-md-start">
              <h3 class="fw-bold mb-4" style="font-size: 50px; line-height: 1.2">
                We'd Love To Hear From You!
              </h3>
            </div>
            <p class="lead">
              If you have any questions or general queries about CoachMatePRO,
              please let us know, we'd love to hear from you.
            </p>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6">
            <form class="form" [formGroup]="contactForm" (ngSubmit)="contactUsMessage()" ngNativeValidate>
              <div class="form-group">
                <input formControlName="name" id="form_name" type="text" name="name" class="form-control"
                  placeholder="Name" required data-error="Firstname is required." />
              </div>
              <div class="form-group">
                <input formControlName="email" id="form_email" type="email" name="email" class="form-control"
                  placeholder="Email" required data-error="Valid email is required." />
              </div>
              <div class="form-group">
                <textarea formControlName="message" id="form_message" name="message" class="form-control"
                  placeholder="Message" rows="2" required data-error="Please, leave us a message."></textarea>
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-signup1 mt-3 theEnd text-white form-group"
                  [disabled]="!contactForm.valid">
                  Send Message
                </button>

              </div>
            </form>
          </div>
        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="footer d-none d-lg-block" [@fadeIn]>
        <div class="row">

          <div class=" col-lg-4 mb-3 lead text-center">
            <h5 style="font-size: 24px">Explore</h5>
            <a href="/home#">Home</a>
            <a href="/home#features">Features</a>
            <a href="/home#security">Security</a>
            <a href="/home#contact">Contact us</a>
          </div>

          <div class="col col-12-ms col-lg-4 mb-3 lead text-center">
            <h5 style="font-size: 24px">Account</h5>
            <a [routerLink]="'/terms-and-conditions'" target="_blank">Terms & conditions</a>
            <a [routerLink]="'/privacy-policy'" target="_blank">Privacy policy</a>
          </div>

          <div class="col col-12-ms col-lg-4 mb-3 lead   text-center">
            <h5 style="font-size: 24px">Get in touch</h5>
            <p class="mb-0">You can write us on:</p>
            <a class="mb-0" href="">hello@coachmatepro.app</a>
            <p>Or use our social links to reach us</p>
            <div class="social-networks">
              <a href="https://www.facebook.com/KimunyaMugo" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/in/kimunya/?locale=en_US" target="_blank"><i
                  class="fab fa-linkedin"></i></a>
              <a href="https://twitter.com/@KimunyaMugo" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://api.whatsapp.com/send?phone=+254 723 786191" target="_blank"><i
                  class="fab fa-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <hr class="half-width" />
        <div class="footer-text-container">
          <span class="footer-text">Copyright © 2023 Powered By <a href="https://www.meliora.co.ke"
              target="_blank">Meliora</a></span>
        </div>
      </div>

      <div class="footer show-sm">
        <div class="row" [@fadeIn]>
          <div class="col-md-12 mb-3 lead">
            <h5 style="font-size: 24px">Explore</h5>
            <a href="/home#">Home</a>
            <a href="/home#features">Features</a>
            <a href="/home#security">Security</a>
            <a href="/home#contact">Contact us</a>
          </div>
          <div class="col-12 mb-3 lead">
            <h5 style="font-size: 24px">Account</h5>
            <a [routerLink]="'/terms-and-conditions'" target="_blank">Terms & conditions</a>
            <a [routerLink]="'/privacy-policy'" target="_blank">Privacy policy</a>
          </div>
          <div class="col-12 mb-3 lead">
            <h5 style="font-size: 24px">Get in touch</h5>
            <p class="mb-0">You can write us on:</p>
            <a class="mb-0" href="">support@coachmate.pro</a>
            <p>Or use our social links to reach us</p>
            <div class="social-networks">
              <a href="https://www.facebook.com/KimunyaMugo" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://www.linkedin.com/in/kimunya/?locale=en_US" target="_blank"><i
                  class="fab fa-linkedin"></i></a>
              <a href="https://twitter.com/@KimunyaMugo" target="_blank"><i class="fab fa-twitter"></i></a>
              <a href="https://api.whatsapp.com/send?phone=+254723786191" target="_blank"><i
                  class="fab fa-whatsapp"></i></a>
            </div>
          </div>
        </div>

        <hr class="half-width" />

        <div class="footer-text-container" [@fadeIn]>
          <span class="footer-text">Copyright © 2023 Powered By <a href="https://www.meliora.co.ke"
              target="_blank">Meliora</a></span>
        </div>
      </div>

    </div>
  </div>
