.container-fluid{
    background-color: #ffffff;
    position: relative;
    color: #5C656D;
}


.hero-section{
    position: relative;
    padding: 30px;


}
.hero-text{
    position: absolute;
    color: #1B3A27;
    top: 10%;
    right: 45%;
    left: 0;
    background-color: #f4f4f4;
    width: 500px;
    height: 65%;
    padding: 20px;
}

 fa-icon {
    font-size: 40px;
    color: #1B3A27;
 }
 h4 {
    color:#1B3A27;
 }
 .section-text {
    line-height: 150%;
    max-width: 540px;
    margin: 0 auto;
    padding: 5px;
 }

.carousel-icon{
    font-size: 40px;
    color: #1B3A27;  
}
.feature-imgs{
    margin: 0 auto;
    max-width: 700px;
    max-height: 500px;
}

nav,
.navbar {
  font-weight: 16px !important;
  font-size: 16px !important;
  z-index: 2;
  padding: 0;
}
.btn-signup1{
  background-color: #0f8239;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.9rem;
  border-radius: 4px ;
}

nav {
  font-weight: 16px!important;
}

.navbar {
  flex-direction: row;
  // border-bottom: 1px solid #e1e1e1;
  height: 60px;
  font-size: 16px!important;
  z-index: 2;
  padding: 0;

  // .welcome-img {
  //   height: 60px;
  //   position: relative;
  //   top: 2px;
  //   padding-bottom: 5px;
  //   padding-left: 10px;
  // }

  .nav-item {
    margin: 0 10px;
    display: flex;
    padding: 12px;
    font-weight: 16px!important;
  }

  .nav-link {
    font-weight: 500;
    letter-spacing: 1px;
    border: none!important;
    border-radius: 0;
    margin: 0 1px;
  }
}

.navbar-on-home {
  background-color: #fff!important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.05), 0 4px 6px -2px rgba(0, 0, 0, 0.05)!important;

  .welcome-img {
    background-color: #fff;
  }

  .collapse {
    background-color: #fff;
  }

  .nav-link {
    color: #5f6063;

    &:hover {
      background-color: #fff;
      color: #3c4043;
    }
  }
}
.logo-img {
  height: 130px;
 
}
.nav-btns {
  margin: 0 10px;
  padding: 14px;
  font-weight: 16px!important;
}

.active-link {
  background-color: #4b6050;
}

.home-active-link {
  color: #257631!important;
  font-weight: 600!important;
}

.abt-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.transparent-logo {
  transition: opacity 0.5s ease;
}

.btn-auth {
  margin-left: 10px;
  padding: 5px 15px;
  background-color: #fff;
  color: #257631;
  letter-spacing: 1px;
  font-size: 0.9rem;
  font-weight: 600;
  border: 1px solid #257631;
}

.btn-auth-reg {
  background-color: #257631;
  color: #fff;
}

.abt-section-img {
  flex: 0 0 40%;
  text-align: center;
}

.abt-section-img img {
  max-width: 600px;
  height: auto;
}

.abt-section-text {
  flex: 0 0 40%; /* Adjusted to match the image container */
  text-align: left;
}

.display-4 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.lead {
  font-size: 1.0rem;
  line-height: 1.8;
}

.feat {
  font-size: 0.1rem;
  line-height: 1.8;
}


/* Section styles */
.features-section {
  padding: 20px;
  background-color: #f7f7f7;
}

/* Header styles */
.features-section h4 {
  font-size: 1.0rem;
  line-height: 1.8;
}

/* Paragraph styles */
.features-section p {
  font-size: 1.0rem;
}
.section-title {
  font-size: 2rem;
}
.section-description {
  color: #5f6063;
  text-align: center;
  margin-bottom: 40px;
  display: block;
  font-size: 1.0rem;
}

.section-title {
  font-size: 2rem;
}

.contact {
  padding: 5rem 0;
  background-color: #f7f7f7
}

.contact .container {
  border-radius: 32px;
}

.contact h3 {
  color:  #5f6063;
  font-weight: 600;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.contact p {
  color:  #000205;
  font-size: 1.2rem;
}

.contact p a {
  text-decoration: underline;
  font-weight: 600;
  color: #010204;
}

.contact input,
.contact textarea {
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 20px;
}

.contact .hidden {
  display: none;
}




.footer {
  background-color: #fff;
  padding-top: 6rem;
  padding-bottom: 0;
  display: block;
  text-align: center;
}

.footer h5 {
  color: #000208;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer a,
.footer p {
  color:#000103;
  font-size: 0.9rem;
}

.footer a {
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .image-holder {
  height: 100px;
  margin-bottom: 10px;
}

.footer .image-holder img {
  height: 100%;
}

.footer .logo-description {
  font-size: 1.5rem;
  color: #000000;
}

.footer .social-networks {
  display: inline-block;
}

.footer .social-networks a {
  display: inline-block;
  margin: 5px 10px;
  font-size: 1.5rem;
  text-align: center;
  height: 55px;
  width: 55px;
  padding-top: 10px;
  border-radius: 50%;
  border: 2px solid #f1f1f133;
  transition: all 0.2s;
}

.footer .social-networks a:first-child {
  margin-left: 0;
}

.footer .social-networks a:hover {
  border: 2px solid #f1f1f1;
}

.footer .footer-text-container {
  border-top: 1px solid #f1f1f1;
  text-align: center;
  padding: 10px 0;
}

.footer .footer-text-container .footer-text {
  font-size: 0.9rem;
  color: #000104;
}

.footer .footer-text-container .footer-text a {
  color: #000001;
  text-decoration: underline;
  display: inline;
}

.security {
  scroll-margin-top: 50px!important;
  padding-top: 10vh;
  padding-bottom: 13vh;
}

.security .section-description {
  margin-bottom: 7vh;
  display: block;
}

.security .security-item {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  height: 90%;
  margin-bottom: 20px;
}

.security .security-item .security-icon {
  color: #04540c;
  font-size: 1.5rem;
  margin-right: 20px;
}

.security .security-item h4 {
  color: #3c4043;
  font-weight: 600;
}

.security .security-item p {
  color: #5f6063;
  font-size: 0.9rem;
}
@media (max-width: 767px) {
  
.security .section-header h3 {
    line-height: 1.5;
  }
}