.container-fluid{
    background-color: #ffffff;
    position: relative;
    color: #5C656D;
}


.hero-section{
    position: relative;
    padding: 30px;


}
.hero-text{
    position: absolute;
    color: #1B3A27;
    top: 10%;
    right: 45%;
    left: 0;
    background-color: #f4f4f4;
    width: 500px;
    height: 65%;
    padding: 20px;
}
    .info{
        font-size: 12px;
    }

    .abt-section-img,.abt-section-text{
        padding: 20px;}
        h4{
            color: #1B3A27;
        }
        
     
    .abt-section-img{
        border: 1px solid #f8f8f8;
        background-color: #f4f4f4;
    }
 fa-icon{
    font-size: 40px;
    color: #1B3A27;
 }
 h4{
    color:#1B3A27;
 }
 .section-text{
    line-height: 150%;
    max-width: 540px;
    margin: 0 auto;
    padding: 5px;
 }

.carousel-icon{
    font-size: 40px;
    color: #1B3A27;  
}
.feature-imgs{
    margin: 0 auto;
    max-width: 700px;
    max-height: 500px;
}

   h5{
    color: #1B3A27;
   }

.contact-form{
margin: 0 auto!important;
  max-width: 1200px!important;
  width: 80%;
}
 .form{
  padding: 40px;
}
.btn-signup{
    background-color: #1B3A27;
    color: #fff;
    letter-spacing: 1px;
    font-size: 0.9rem;
    border-radius: 4px ;
}
hr.half-width{
    width:50%;
    margin: 0 auto;
  }


input[type="text"],input[type="email"],textarea{
  padding: 5px!important;
  border: none!important;
  border-radius: 0%;
  border-bottom: 1px rgb(59, 57, 57) solid!important;
  margin: 0.75rem !important;
}

textarea:focus{
  color: #1B3A27!important;
  border-bottom: #1B3A27 solid!important;
  outline: none!important;
  overflow: hidden!important;
}
textarea:hover{
    border-bottom: #1B3A27 solid!important;


}
input[type=email]:hover{
    border-bottom: #1B3A27 solid!important;
}
input[type=text]:hover{
    border-bottom: #1B3A27 solid!important;

}
input[type=text]:focus {
    outline: none;
    border-bottom: #1B3A27 solid!important;
    
}
input[type=email]:focus {
  outline: none;
  border-bottom: #1B3A27 solid!important;
}
