<!-- <!-- <div class="row">
    <div class="col-10">
        <h3>Client View</h3>
    </div>
    <div class="col-2">
        <app-user></app-user>
    </div>
</div>
<br>
<div class="row">
    <div class="col-5">
        <h6>Client Name:{{clients.name}}</h6>
        <h6>Client Email: {{clients.email_address}}</h6>
        <h6>Client Phone Number: {{clients.msisdn}}</h6>
        <h6>Client Profession: {{clients.profession}}</h6>
        
    </div>
    <div class="col-5">
        <h6>Client Group/Individual: {{clients.type}}</h6>
        <h6>Client Added On: {{clients.id}}</h6>
        <h6>Client Status:{{clients.status}}</h6>
</div>
<div class="row">
    <h3>Client Contracts</h3>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Coaching Category</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">No Of Sessions</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let contract of contracts">
            <th scope="row">{{contract.id}}</th>
            <td>{{contract.coachingCategory}}</td>
            <td>{{contract.startDate | date: "MMM d, y" }}</td>
            <td>{{contract.endDate | date: "MMM d, y" }}</td>
            <td>{{contract.noOfSessions }}</td>
            <td class="actions">
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash-can"></i>
            </td>
          </tr>
        </tbody>
      </table>
</div>
<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">session Name</th>
            <th scope="col">session Date</th>
            <th scope="col">Session Venue</th>
            <th scope="col">Session Type</th>
            <th scope="col">Starts at</th>
            <th scope="col">Ends at</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let session of sessions">
            <th scope="row">{{session.id}}</th>
            <td>{{session.name}}</td>
            <td>{{session.sessionDate}}</td>
            <td>{{session.sessionVenue}}</td>
            <td>{{session.sessionType}}</td>
            <td>{{session.sessionStartTime | date: "hh:mm a"}}</td>
            <td>{{session.sessionEndTime | date: "hh:mm a"}}</td>
            <td class="actions">
                <i (click)="navigateToSessionView(session.id)" class="fa-solid fa-arrow-up-right-from-square"></i>
                <i class="fa-solid fa-pen-to-square"></i>
                <i class="fa-solid fa-trash-can"></i>
            </td>
          </tr>
        </tbody>
      </table>
</div> -->


        <!-- <table class="table" *ngIf="currentTab === 'orders'" [@fadeIn]>
          <thead>
            <th colspan="1">Order Title</th>
            <th colspan="1">Order Amount</th>
            <th colspan="1">Due date</th>
            <th colspan="1">Status</th>
            <th colspan="1">Actions</th>
          </thead>
          <tbody *ngIf="orders?.length" [@fadeIn]>
            <tr *ngFor="let order of orders">
              <td>{{ order.name }}</td>
              <td>{{ order.orderAmount }}</td>
              <td>{{ order.dueDate | date: "MMM d, y hh:mm a" }}</td>
              <td>
                <span
                  class="badge"
                  [ngClass]="{
                    'badge-success': customer.status === 'ACTIVE',
                    'badge-danger': customer.status !== 'ACTIVE'
                  }"
                  >{{ customer.status }}</span
                >
              </td>

              <td>
                <button
                  class="btn btn-view"
                  [routerLink]="['/order', order.id]"
                >
                  View
                </button>
              </td>
            </tr>
          </tbody>
        </table> -->

