<div class="row">
    <div class="col-10">
        <h3></h3>
    </div>
    <div class="col-2">
        <app-user></app-user>
    </div>
</div>

<br>
<div class="row">
  <div class="col-2"></div>
  <div class="col-8">

<div class="card details-card">
  <div class="d-flex justify-content-between mb-3 flex-wrap" [@fadeIn]>
    <div>
      <h5 class="section-title">Client View</h5>
    </div>
    <div class="d-flex">
      <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editClientModal">
        <i class="fas fa-edit"></i>
        Edit
      </button>
        <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteClientModal">
          <i class="fas fa-trash"></i>
          Delete
      </button>
     
    </div>
  </div>

  <div class="donut-wrapper" *ngIf="loadingClient" [@fadeIn]>
    <div class="donut multi">
      
    </div>
  </div>

    <div class="client-details" *ngIf="clients">
      <div class="client-details" *ngIf="!loadingClient $$ clients" [@fadeIn]>
        <div class="d-flex justify-content-between onedetail">
          <span class="title">Client Id</span>
          <span class="value">{{clients.id}}</span>
        </div>
        <div class="d-flex justify-content-between onedetail">
          <span class="title">Client Name</span>
          <span class="value">{{clients.firstName + " " + clients.lastName | titlecase}}</span>
      </div>
      <div class="d-flex justify-content-between onedetail">
        <span class="title">Client email</span>
        <span class="value">{{clients.email_address}}</span>
      </div>
      <div class="d-flex justify-content-between onedetail">
        <span class="title">Client Phone</span>
        <span class="value">{{clients.msisdn}}</span>
      </div>
      <div class="d-flex justify-content-between onedetail">
        <span class="title">Client Address</span>
        <span class="value">{{clients.physical_address}}</span>
      </div>
      <div class="d-flex justify-content-between onedetail">
        <span class="title">Reason</span>
        <span class="value">{{clients.reason}}</span>
      </div>
      <div class="d-flex justify-content-between onedetail">
        <span class="title">Status</span>
        <span class="value">{{clients.status}}</span>
      </div>
  </div>

</div>
<div class="col-2"></div>
</div>
