<div class="container mb-3">
    <div class="card">
      <div class="card-header">
        <h3>Coaching Contract</h3>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <p><strong>Contract Id:</strong> {{ contract.id }}</p>
            <p><strong>Coaching Topic:</strong> {{ contract.coachingTopic }}</p>
            <p><strong>Contract Type:</strong> {{ contract.coachingCategory }}</p>
            <p><strong>Client Name:</strong> {{ contract.client.fullName }}</p>
            <p><strong>Start Date:</strong> {{ contract.startDate }}</p>
            <p><strong>End Date:</strong> {{ contract.endDate }}</p>
          </div>
          <div class="col-md-6">
            <p><strong>Number of Sessions:</strong> {{ contract.noOfSessions }}</p>
            <p><strong>Fees per Session [Individual]:</strong> {{ contract.individualFeesPerSession}}</p>
            <p><strong>Fees per Session [Group]:</strong> {{ contract.groupFeesPerSession }}</p>
            <p><strong>Objectives:</strong> {{ contract.objectives }}</p>
          </div>
        </div>
            </div>
              </div>
            </div>
            <div class="col-2">
              <button type="button"  data-bs-toggle="modal" data-bs-target="#editModal" class="btn btn-success">
                <i class="fa-solid fa-user-plus"></i><i data-bs-toggle="modal" data-bs-target="#confirmDelete"
               ></i>Add Session
              </button>
            </div>
            <div class="row list-container container mt-2 " >
              <table class="table table-striped"  >
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">session Name</th>
                    <th scope="col">Session Venue</th>
                    <th scope="col">Session Type</th>
                    <th scope="col">session Date</th>
                    <th scope="col">Starts at</th>
                    <th scope="col">Ends at</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
            
                <tbody  class="list-container">
                  <tr *ngFor="let session of sessions">
                    <th scope="row">{{ session.id }}</th>
                    <td>{{ session.name }}</td>
                    <td>{{ session.sessionVenue }}</td>
                    <td>{{ session.sessionType }}</td>
                    <td>{{ session.sessionDate }}</td>
                    <td>{{ session.sessionStartTime }}</td>
                    <td>{{ session.sessionEndTime }}</td>
                    <td class="actions">
                      <i
                      (click)="navigateToSessionView(session.id)"
                      class="fa-solid fa-arrow-up-right-from-square"
                    ></i>

                      <i data-bs-toggle="modal" data-bs-target="#sessionModal"class="fa-solid fa-pen-to-square"(click)="editSession(session)"></i>

                      <i class="fa-solid fa-trash-can"(click)="deleteSession(id,userDetails)"></i>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <p class="text-muted mt-5" *ngIf="!loading && !sessions.length">
                No sessions Found.
              </p>
            </div>
  
  <!-- Modal for adding or editing a session -->
  <div class="modal" id="sessionModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="addSessionForm" >
              <div class="row p-2">
                <div class=" mb-3 col-md-6 ">
                  <label for="sessionname">Session Name</label>
                  <input 
                  type="text" 
                  class="form-control" 
                  id="sessionname" 
                  placeholder="Enter Session Name" 
                  name="name" 
                  [(ngModel)]="addSessionForm.name">
                </div>
              <div class="row p-2">
                <div class=" mb-3 col-md-6 ">
                  <label for="inputlastname">Session Details</label>
                  <input type="text" 
                  class="form-control" 
                  id="inputEmail4" 
                  placeholder="Enter Session Description" 
                  name="details" 
                  [(ngModel)]="addSessionForm.sessionDetails" >
                
                </div>
                <div class="mb-3 col-md-6">
                  <label for="inputEmail4">Session Date</label>
                  <input type="date" 
                  variant="success" 
                  class="form-control" 
                  id="inputEmail4" 
                  placeholder="Date" 
                  name="session_date" 
                  [(ngModel)]="addSessionForm.sessionDate" >   
                </div>
              </div>
              <div class="row p-2">
                  <div class="mb-3 col-md-6">
                    <label for="inputEmail4">From</label>
                    <input type="time" 
                    class="form-control" 
                    id="inputEmail4" 
                    placeholder="Time" 
                    name="session_time_from" 
                    [(ngModel)]="addSessionForm.sessionStartTime" >
                    </div>
                <div class="mb-3 col-md-6">
                  <label for="inputEmail4">To</label>
                  <input type="time" 
                  class="form-control" 
                  id="inputEmail4" 
                  placeholder="Time" 
                  name="session_time_to" 
                  [(ngModel)]="addSessionForm.sessionEndTime" >
                </div>
              </div>
              <div class="row p-2">
                <div class=" mb-3 col-md-6 ">
                    <label class="form-group-text" for="clientType">Session Venue</label>
                <select class="form-select" 
                    id="inputGroupSelect01" 
                    name="session_venue" 
                    [(ngModel)]="addSessionForm.sessionVenue">
                    <option value="VIRTUAL">VIRTUAL</option>
                    <option value="PHYSICAL">PHYSICAL</option>
                  </select>
                    </div>
                    <div class="mb-3 col-md-6">
                      <label for="inputEmail4">Session Goals</label>
                      <input 
                      type="email" class="form-control" 
                      id="inputEmail4" placeholder="Goals" 
                      name="goals" [(ngModel)]="addSessionForm.goals">
                    </div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary">Save</button>
  <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
</div>
