<div class="row">
  <div class="col mt-4" style="margin-left: 5px">
    <h5 class="fw-bold">
      <i class="fas fa-chevron-left pe-5 pt-3 back-icon back" (click)="back()">
        Back</i
      >
    </h5>
  </div>
</div>
<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div
        class="card card-table d-flex">
        <div class="">
          <h1 class="modal-title fs-5 text-center"  id="exampleModalLabel">Add New Coach</h1>
        </div>
        <form>
          <div class="row p-2">
            <div class="mb-3 col-md-6">
              <label for="fullname">First Name *</label>
              <input
                [(ngModel)]="addCoach.firstName"
                name="firstName"
                type="text"
                class="form-control"
                placeholder="First Name"
                aria-describedby="emailHelp"
                id="firstame"
                required
              />
            </div>
            <div class="mb-3 col">
              <label for="fullname">Last Name *</label>
              <input
                [(ngModel)]="addCoach.lastName"
                name="lastName"
                type="text"
                placeholder="Enter User Last Name"
                class="form-control"
                id="lastName"
                required
              />
            </div>
          </div>

          <div class="row p-2">
            <div class=" mb-3 col-md-6 ">
              <label for="exampleInputPassword1">Mobile no *</label>
              <input required [(ngModel)]="addCoach.msisdn" name="msisdn" type="number" class="form-control"
                id="contact" placeholder="Contact" required
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0/,254).replace(/^7/,2547).replace(/(\..*)\./g, '$1');" />
            </div>
            <div class=" mb-3 col-md-6 ">
              <label for="exampleInputPassword1">Email *</label>
              <input [(ngModel)]="addCoach.email" name="email" type="email" class="form-control" id="email"
                placeholder="Email" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-outline-success" data-bs-dismiss="modal" (click)="newCoach()" [disabled]="
            !addCoach.firstName||
            !addCoach.lastName||
            !addCoach.email||
            !addCoach.msisdn
            ">ADD COACH
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>