<app-user></app-user>
<button (click)="savePdfDesktop()" class="btn btn-submit"><i class="fa fa-download"></i> Download</button>
<div class="container mb-3" id="statementDesktop">
<h2 style="text-align: center ;" class="mb-5" >Account Statememt</h2>
<div class="row">
  <div class="col-6">
    <h6>Name: {{coachData.fullName}}</h6>
  </div>
  <div class="col-6">
    <h6></h6>
  </div>
</div>
<div class="mt-3" style="overflow-x:auto;">
  <div class="custom-select">
    <label for="period">Period</label>
    <br>
    <select (change)="applyFilter()" [(ngModel)]="statementPeriod">
      <option value="PerMonth" selected>1 month</option>
      <option value="Per6Months">6 months</option>
      <option value="PerYear">1 year</option>
    </select>
</div>
  
  <br>
  
  <table>
    <thead>
    <tr>
      <th>Date</th>
      <th>Ref No.</th>
      <th>Description</th>
      <th>Balance Before</th>
      <th>Amount In</th>
      <th>Balance After</th>

    </tr>
  </thead>
  <tbody *ngIf="accountStatements?.length" [@fadeIn] >
    <tr *ngFor="let accountStatement of accountStatements
      | paginate
          : {
              itemsPerPage: itemsPerPage,
              currentPage: page,
              totalItems: totalLength
            }
    " >
      <td>{{accountStatement.createdAt | date: "MMM d y" }}</td>
      <td>{{accountStatement.id}}</td>
      <td>{{ accountStatement.description}}</td>
      <td>{{accountStatement.balanceAfter}}</td>
      <td>{{ accountStatement.amountIn}}</td>
      <td>{{accountStatement.balanceBefore}}</td>
    </tr>
  </tbody>
</table>
<div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
  <div class="donut multi"></div>
</div>
<p class="text-muted mt-5" *ngIf="!loading && !accountStatements.length">
  No Statememt found
</p>
<div
        align="center"
        *ngIf="totalLength > 20 && payments.length && !loading"
        [@fadeIn]
      >
        <pagination-controls
          (pageChange)="applyFilter()"
          [maxSize]="7"
          previousLabel=""
          nextLabel=""
        ></pagination-controls>
      </div>
</div>
</div>
