<div class="row justify-content-center m-2 p-3">
  <div class="col-md-8">
    <div class="card card-table justify-content-between m-3">
      <div class="d-flex justify-content-between m-3">
        <h1 class="fw-bold">Set your weekly hours</h1>
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#addSlotModal">
          <i class="fa fa-plus"></i> Add a Date Override
        </button>
      </div>
      <div class="donut-wrapper m-3" *ngIf="loading" [@fadeIn]>
        <div class="donut multi"></div>
      </div>
      <div *ngFor="let daySlots of combinedSlots; let i = index">
        <div class="pt-3 pb-2 border-bottom" *ngFor="let slot of daySlots">
          <div class="row">
            <div class="col">
              <!--day-->
              <div class="d-flex">
                <!--check box-->
                <input class="form-check-input m-2 slots-checkbox" type="checkbox"
                  [(ngModel)]="slot.dayOfTheWeek.available" (change)="updateDayOfTheWeek(slot.dayOfTheWeek)"
                  id="flexCheckDefault">
                <label class="form-check-label m-2" for="flexCheckDefault">
                  {{ slot?.dayOfTheWeek?.day?.slice(0, 3) }}
                </label>
              </div>
            </div>
            <div class="col" *ngIf="slot?.dayOfTheWeek?.available">
              <div class="d-flex m-2" *ngFor="let time of slot?.time; let j = index">
                <!--time-->
                <input type="time" variant="success" [(ngModel)]="time.startTime" name="startTime"
                  class="form-control slots-time" id="inputStartTime" placeholder="Start time" name="startTime" step="1800"
                  (change)="saveSlot(time, slot.dayOfTheWeek)">
                <p class="m-2">-</p>
                <input type="time" variant="success" [(ngModel)]="time.endTime" name="endTime"
                  class="form-control slots-time" id="inputEndTime" placeholder="End time" name="endTime"
                  (change)="saveSlot(time, slot.dayOfTheWeek)">
                <!--delete icon-->
                <i class="fa fa-trash m-2 p-2 delete" (click)="deleteSlot(time, slot?.time, j)"></i>
              </div>
            </div>
            
            <div class="col">
              <p class="m-2" *ngIf="!slot?.dayOfTheWeek?.available">Unavailable</p>
              <p class="m-2" *ngIf="slot?.dayOfTheWeek?.available && slot?.time?.length == 0">Add a slot here</p>
            </div>
            <div class="col">
              <div class="d-flex justify-content-end">
                <!--plus icon-->
                <button type="button" class="btn btn-outline-success m-1" (click)="addDaySlot(slot.time)"
                  [disabled]="slot?.dayOfTheWeek?.available != true">
                  <i class="fa fa-plus"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="row justify-content-center m-2 p-3">
  <div class="col-md-8">
    <div class="card card-table justify-content-between m-3 pb-5">
      <div class="d-flex justify-content-between m-3">
        <h1 class="fw-bold">Connect to Calendly</h1>
      </div>

      <div class="row">
        <div class="col">
          <!--calendly username-->
          <div class="form-group">
            <label for="calendlyUsername">Calendly Username *</label>
            <small class="form-text text-muted"
              >(Enter your Calendly username to connect your account)</small
            >
            <input
              type="text"
              class="form-control"
              id="calendlyUsername"
              placeholder="Calendly Username"
              [(ngModel)]="calendlyUsername"
              (keyup)="createCalendlyHtml()"
            />
          </div>
        </div>
      </div>

      <!--preview if it is connected-->
      <div class="row" *ngIf="calendlyUsername">
        <div class="col">
          <div id="calendly">
            <!-- Calendly inline widget comes here -->
          </div>
        </div>
      </div>

      <!--if it works submit-->
      <div class="row" *ngIf="calendlyUsername">
        <div class="col">
          <small class="form-text text-muted"
            >(If the preview is working, click submit to save your Calendly
            username)</small
          >
          <button
            type="button"
            class="btn btn-outline-success m-1"
            (click)="submitCalendlyUsername()"
          >
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="modal fade"
  id="addSlotModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h1
          class="modal-title fs-5 justify-content-center"
          id="exampleModalLabel"
        >
          Add a Fixed Date Slot
        </h1>

        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row justify-content-center">
            <div class="col">
              <label for="inputEmail4">Date</label>
              <input
                type="date"
                variant="success"
                [(ngModel)]="oneSlot.sessionDate"
                name="sessionDate"
                class="form-control"
                id="inputEmail4"
                placeholder="Date"
                name="sessionDate"
              />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <label for="inputEmail4">Start Time</label>
              <input
                type="time"
                variant="success"
                [(ngModel)]="oneSlot.startTime"
                name="startTime"
                class="form-control"
                id="inputEmail4"
                placeholder="Date"
                name="sessionDate"
              />
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <label for="inputEmail4">End Time</label>
              <input
                type="time"
                variant="success"
                [(ngModel)]="oneSlot.endTime"
                name="endTime"
                class="form-control"
                id="inputEmail4"
                placeholder="Date"
                name="sessionDate"
              />
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Cancel
        </button>
        <button
          type="button"
          class="btn btn-outline-success"
          data-bs-dismiss="modal"
          (click)="addSlot()"
        >
          Add Slot
        </button>
      </div>
    </div>
  </div>
</div>