<div class="row">
  <div class="col  mt-4" style="margin-left: 5px;">
    <h3 class="fw-bold">Availability Slots</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
  </div>
  <div class="col-md-2">
    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#addSlotModal">
      <i class="fa fa-plus"></i> Add Slot
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th>Session Date</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Booked</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let slot of coachSlots">
              <td>{{slot.sessionDate}}</td>
              <td>{{slot.startTime}}</td>
              <td>{{slot.endTime}}</td>
              <td>{{slot.booked}}</td>
              <td><button type="button" class="btn btn-danger" (click)="deleteSlot(slot)">Delete</button></td>
            </tr>
          </tbody>
        </table>
        <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
          <div class="donut multi"></div>
        </div>
        <p class="text-muted mt-5" *ngIf="!loading && !coachSlots?.length">
          No Slots Added Yet.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="addSlotModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-l">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5 justify-content-center" id="exampleModalLabel">Add Slots</h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="row justify-content-center">
            <div class="col">
              <label for="inputEmail4">Session Date</label>
              <input type="date" variant="success" [(ngModel)]="slot.sessionDate" name="sessionDate"
                class="form-control" id="inputEmail4" placeholder="Date" name="sessionDate">

            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <label for="inputEmail4">Start Time</label>
              <input type="time" variant="success" [(ngModel)]="slot.startTime" name="startTime" class="form-control"
                id="inputEmail4" placeholder="Date" name="sessionDate">

            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col">
              <label for="inputEmail4">End Time</label>
              <input type="time" variant="success" [(ngModel)]="slot.endTime" name="endTime" class="form-control"
                id="inputEmail4" placeholder="Date" name="sessionDate">

            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-submit" data-bs-dismiss="modal" (click)="addSlot()">
          Add Slot
        </button>
      </div>
    </div>
  </div>
</div>
