<div class="row">
    <div class="col-10">
          <h3>My Account summary </h3>
    </div>
    <div class="col-2">
          <app-user></app-user>
    </div>
  </div>
  <div class="row dashboard-banner d-flex justify-content-between align-items-center p-3">
    <div class="col-10 text-center p-3 mb-10">
      <h2  class="fw-bold" *ngIf="this.userRole == 'ORGANIZATION'">
        Hello {{orgName}},
        <span class="fw-light">
            Welcome manage your finances here...
        </span>
      </h2>
      <h2  class="fw-bold" *ngIf="this.userRole == 'COACH'">
        Hello {{User.coach.businessName }},
        <span class="fw-light">
            Welcome manage your finances here...
        </span>
      </h2>
      <h2  class="fw-bold" *ngIf="this.userRole == 'CLIENT'">
        Hello {{User.fullName }},
        <span class="fw-light">
          Welcome manage your finances here...
        </span>
      </h2>
      
    </div>
  </div>
  <div class="row  d-flex justify-content-between align-items-center  ">
  <div class="col-4 card text-center top-cards">
    <div class="card-body">
      <h6 class="card-title">Not Paid</h6>
      <h3 class="card-text fw-bold">{{totalDue}} USD</h3>
      <button type="button" routerLink="/record-payment" class="btn addbtn"><i class="fa fa-plus"></i> Record Payment</button>
      
    </div>
</div>
<div class="col-4 card text-center top-cards" >
  <div class="card-body">
    <h6 class="card-title">Paid</h6>
    <h3 class="card-text fw-bold">{{amountDeposited}} USD</h3>
    <button type="button" routerLink="/receipts" class="btn addbtn"><i class="fa fa-plus"></i> See Receipts</button>
    
  </div>
</div>
  <div class="col-4 card text-center top-cards" >
      <div class="card-body">
        <h6 class="card-title">Paid Invoices</h6>
        <h3 class="card-text fw-bold">{{invoicesPaid}}%</h3>
        <button type="button" routerLink="/statement" class="btn addbtn"><i class="fa fa-plus"></i> View Statement</button>
        
      </div>
  </div>
  </div>