<div class="container-fluid g-0">
    <app-header (sideNavToggle)="sideNavStatus = $event;" *ngIf="hideHeaderAndSideNav"></app-header>
    <main>
      <app-sidenav [hidden]="
      router.url.includes('signin')
      " [sideNavStatus]="sideNavStatus" *ngIf="hideHeaderAndSideNav"
        [ngClass]="{'app-sidenav-open': sideNavStatus}"></app-sidenav>
  
      <div class="display-area" [ngClass]="
      {'display-area-shrink': sideNavStatus}">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>






