<div class="container-fluid g-0">
    <app-header (sideNavToggle)="sideNavStatus = $event;" *ngIf="hideHeaderAndSideNav"></app-header>
    <main>
      <app-sidenav [hidden]="
      router.url.includes('signin')
      " [sideNavStatus]="sideNavStatus" *ngIf="hideHeaderAndSideNav"
        [ngClass]="{'app-sidenav-open': sideNavStatus}"></app-sidenav>
  
      <div class="display-area" [ngClass]="
      {'display-area-shrink': sideNavStatus}">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
  
  <!-- <app-header></app-header>
<app-sidenav></app-sidenav> -->
<!-- <div class="outlet" [ngClass]="{'outlet-no-content':router.url.includes('login') || router.url.includes('signup') || router.url.includes('registration') || router.url.includes('setup') || router.url.includes('home')}"> -->
  <!-- <div class="display-area" [ngClass]="
      {'display-area-shrink': sideNavStatus}"> -->
        <!-- <router-outlet></router-outlet> -->
      <!-- </div> -->
<!-- </div> -->
 







