<!-- <div style="margin: 10;">
    <h3>Add Attachments</h3>
  
    <form [formGroup]="attachmentForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="sessionId">Session ID:</label>
        <input type="text" formControlName="sessionId" id="sessionId">
      </div>
  
      <div class="form-group">
        <label for="attachmentType">Attachment Type:</label>
        <select formControlName="attachmentType" id="attachmentType">
          <option value="link">Link</option>
          <option value="pdf">PDF</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="attachment">Attachment:</label>
        <input type="file" formControlName="attachment" id="attachment">
      </div>
  
      <button type="submit" [disabled]="!attachmentForm.valid">Submit</button>
    </form>
  </div>
   -->