
<div class="row">
    <div class="col-10">
        <h3>Dashboard</h3>
    </div>
    <div class="col-2">
        <app-user></app-user>
    </div>
</div>
<div class="row row-height">
    <div class="col-3 card text-center top-cards">
        <div class="card-body">
          <h5 class="card-title">Upcoming Sessions</h5>
          <h3 class="card-text">45</h3>
          
        </div>
    </div>
    <div class="col-3 card text-center top-cards" >
        <div class="card-body">
          <h5 class="card-title">Completed Sessions</h5>
          <h3 class="card-text">20</h3>
          
        </div>
    </div>
    <div class="col-3 card text-center top-cards" >
        <div class="card-body">
          <h5 class="card-title">Number of Clients</h5>
          <h3 class="card-text">30</h3>
         
        </div>
    </div>
    <div class="col-3 card text-center top-cards">
        <div class="card-body">
          <h5 class="card-title">Contracts</h5>
          <h3 class="card-text">11</h3>
          
        </div>
    </div>
</div>

<div class="row row-height">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">Quick Links</div>
            <div class="card-body">
              
              <div class="row">
              <div class="col-3">
              <button type="button" class="btn btn-warning" routerLink="sessions">SCHEDULE SESSION</button>
                </div>
                <div class="col-3">
              <button type="button" routerLink="addclient" class="btn btn-success">ADD CLIENT</button>
            </div>
              <div class="col-3">
              <button type="button" routerLink="contract" class="btn btn-light">ADD CONTRACT</button>
            </div>
            <div class="col-3">
               
              </div>
        </div>

            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Upcoming Sessions</h5>
              <p class="card-text">View All</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">.</li>
              <li class="list-group-item">.</li>
              <li class="list-group-item">.</li>
            </ul>
           
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
              <h5 class="card-title">Contracts</h5>
              <p class="card-text">View All</p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">.</li>
              <li class="list-group-item">.</li>
              <li class="list-group-item">.</li>
            </ul>
           
        </div>
    </div>
</div>
