<div class="row">
  <div class="col-10">
        <h3>Dashboard</h3>
  </div>
  <div class="col-2">
        <app-user></app-user>
  </div>
</div>

<div class="row dashboard-banner d-flex justify-content-between align-items-center p-3">
  <div class="col-10 text-center p-3 mb-10">
    <h2  class="fw-bold">
      Hello {{User.coach.businessName| lowercase }},
      <span class="fw-light">
        Welcome back!
      </span>
    </h2>
    
  </div>
</div>
  <div class="row">
    <div class="col-10">
    <p class="p-3 desc" >Here's how things currently look like...</p>
    </div>
  </div>
 
  <!-- <button
    class="btn btn-add"
    [routerLink]="'/add/order'"
    *ngIf="!salesData"
  >
    <fa-icon [icon]="addIcon"> </fa-icon> Add order
  </button> -->

<div class="row row-height">
    <!-- <div class="col-3 card text-center top-cards">
        <div class="card-body">
          <h6 class="card-title">Upcoming Sessions</h6>
          <h3 class="card-text fw-bold">{{numberOfSessions}}</h3>
          
        </div>
    </div> -->
    <div class="col-3 card text-center top-cards">
      <div class="card-body">
        <h6 class="card-title">Log hours</h6>
        <h3 class="card-text fw-bold">{{numberOfHours}} hrs {{numberOfMinutes}} mins</h3>
        
      </div>
  </div>
  <div class="col-3 card text-center top-cards" >
    <div class="card-body">
      <h6 class="card-title">Coach Education</h6>
      <h3 class="card-text fw-bold">{{numberOfHoursCoachEducation}} hrs</h3>
      <button type="button" routerLink="/AddTraining" class="btn addbtn"><i class="fa fa-plus"></i> Add Training</button>
      
    </div>
</div>
    <div class="col-3 card text-center top-cards" >
        <div class="card-body">
          <h6 class="card-title">Sessions Created</h6>
          <h3 class="card-text fw-bold">{{numberOfSessions}}</h3>
          <button type="button" routerLink="/addSession" class="btn addbtn"><i class="fa fa-plus"></i> Add Session</button>
          
        </div>
    </div>
    <div class="col-3 card text-center top-cards" >
        <div class="card-body">
          <h6 class="card-title">Number of Clients</h6>
          <h3 class="card-text fw-bold">{{numberOfClients}}</h3>
          <button type="button" routerLink="/addclient" class="btn addbtn"><i class="fa fa-plus"></i> Add Client</button>
         
        </div>
    </div>
    <div class="col-3 card text-center top-cards">
        <div class="card-body">
          <h6 class="card-title">Contracts</h6>
          <h3 class="card-text fw-bold">{{numberOfContracts}}</h3>
          <button type="button" routerLink="/contract" class="btn addbtn"><i class="fa fa-plus"></i> Create Contract</button>
          
        </div>
    </div>
</div>
<!-- 
<div class="row row-height">
    <div class="col-12">
        <div class="card ">
            <div class="card-header">Quick Links</div>
            <div class="card-body">
              
              <div class="row">
                <div class="col-4"></div>
                <div class="col-4">
              <button type="button" routerLink="/addclient" class="btn btn-success">ADD CLIENT</button>
            </div>
            <div class="col-4"></div>
        </div>

            </div>
        </div>
    </div>
</div> -->
<div class="row">
    <div class="col-6">
        <div class="card upcomingSessions">
            <div class="card-body d-flex justify-content-between">
              <h5 class="card-title fw-bold">Upcoming Sessions</h5>
              <button type="button" routerLink="#" class="btn">View All</button>
            </div>

            
            <div class="upcomingsessions list-container container">
              <table class="table" >
                <thead>
                  <th colspan="1">Name</th>
                  <th colspan="1">Date</th>
                  <th colspan="1">Start Time</th>
                  <th colspan="1">End Time</th>
                  <th colspan="1">Venue</th>
                  <th colspan="1">Status</th>
                  <th colspan="1" class="text-center" width="100px">Actions</th>
                </thead>
                <tbody class="list-container">
                  <tr *ngFor="let session of sessions">
                    <td>{{ session.name }}</td>
                    <td>{{ session.sessionDate | date: "MMM d y" }}</td>
                    <td>{{ session.sessionStartTime | date: " h:mm a" }}</td>
                    <td>{{ session.sessionEndTime | date: " h:mm a" }}</td>
                    <td>{{ session.sessionVenue | titlecase }}</td>
                    <td>
                      <span class="value">
                      <!-- <span
                      class="badge"
                      [ngClass]="{
                        'badge-warning': session.sessionStatus === 'DELIVERED',
                        'badge-success': session.sessionStatus === 'CONFIRMED',
                        'badge-danger': session.sessionStatus === 'CANCELLED',
                        'badge-primary': session.sessionStatus === 'NEW'
                      }"
                      >{{ session.sessionStatus }}</span> -->
                      
                    </span>
                    {{ session.sessionStatus }}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-sm btn-success" routerLink="/editclient/{{session.id}}">View</button>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
           
          </div>
        </div>

  
    <div class="col-6">
      <div class="card upcomingSessions">
        <div class="card-body d-flex justify-content-between">
          <h5 class="card-title fw-bold">Contracts</h5>
          <button type="button" routerLink="#" class="btn">View All</button>
        </div>
        <div class="upcomingsessionsTable list-container container ">
          <table class="table">
            <thead>
              <th colspan="1">Name</th>
              <th colspan="1">Date</th>
              <th colspan="1">Start Time</th>
              <th colspan="1">End Time</th>
              <th colspan="1">Venue</th>
              <th colspan="1">Status</th>
              <th colspan="1" class="text-center" width="100px">Actions</th>
            </thead>
            <tbody>
              <tr *ngFor="let contract of contracts">
                <td>{{ contract.name }}</td>
                <td>{{ contract.contractDate | date: "MMM d y" }}</td>
                <td>{{ contract.contractStartTime | date: " h:mm a" }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <!-- <ul class="list-group list-group-flush">
          <li class="list-group-item">.</li>
          <li class="list-group-item">.</li>
          <li class="list-group-item">.</li>
        </ul> -->
       
    </div>
</div>  


