
@import 'ngx-toastr/toastr';
@import "~intl-tel-input/build/css/intlTelInput.css";


/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

html{
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;

}
body {
  background-color: #f1f1f4!important;
  scroll-behavior: smooth !important;
  letter-spacing: 0.5px;
  font-size: 1.0em;
  font-family: 'Roboto', sans-serif!important;
    position: relative;
    min-height: 100vh;
}
input,
select,
textarea {
  border: 2px solid #e1e1e1 !important;
  outline: none !important;
  box-shadow: none !important;
  background-clip: padding-box !important;
  color: #5f6063 !important;
}

::-ms-reveal {
  display: none;
}

input:active,
input:focus,
input:hover,
select:active,
select:focus,
select:hover,
textarea:active,
textarea:focus,
textarea:hover {
  border: 2px solid #003d4c !important;
}

input[type='checkbox'] {
  z-index: 100;
}

img::selection {
  background-color: transparent !important;
}

* img {
  user-drag: none !important;
  user-select: none !important;
  -moz-user-select: none !important;
  -webkit-user-drag: none !important;
  -webkit-user-select: none !important;
  -ms-user-select: none !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #80868b99 !important;
  opacity: 1;
  font-family: 'Montserrat', sans-serif !important;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #80868b99 !important;
  font-family: 'Montserrat', sans-serif !important;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #80868b99 !important;
  font-family: 'Montserrat', sans-serif !important;
}

.outlet {
  padding: 50px 0;
  min-height: calc(100vh - 40px);
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color: #fff;
    margin: 1.25rem 0 1.25rem 0;
    box-shadow: 0 .25rem .5rem #e6edef;
}
.card-head {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #edf1f7;
    font-size: 1rem;
    font-weight: 600;
}

.card-body {
    padding: 1rem 1.5rem; 
} 

.card-table {
  padding: 20px 30px;
  border-radius: 8px!important;
  border: 1px solid #f1f1f1!important;
  margin-bottom: 30px;
  min-height: 320px;
}
.card-table .title {
    font-weight: 600;
    color: #5f6063;
} 

/* // ************************
// GLOBAL SPINNER STYLING
// ************************ */


.donut-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.donut {
  width: 3rem;
  height: 3rem;
  margin: 2rem;
  border-radius: 50%;
  border: 0.3rem solid #1B3A2744;
  border-top-color:  #1B3A27;;
  animation: 1.5s spin infinite linear;
}
.donut.multi {
    border-bottom-color: #1B3A27;;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

 .modal {
  backdrop-filter: blur(2px);
} 

  .modal-content {
    border-radius: 8px;
  }


.modal-header {
  padding: 32px 32px 16px;
}

  .modal-title {
    font-size: 22px;
    color: #3c4043;
    font-weight: 600;
  }

  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/0.8em auto no-repeat;
  }


.modal-body {
  padding: 16px 32px;
}

  input[type='checkbox'] {
    z-index: 2000;
  }
  .modal-backdrop.show {
    opacity: 0 !important;
  }


.modal-footer >.btn {
    font-weight: 600;
    font-size: 0.9rem;
    padding: 5px 15px;
    letter-spacing: 0.5px;
    border-radius: 4px;
  }
  .btn-refresh{
    width: 100px!important;
    font-size: 12px!important;
    padding: 3px 6px!important;
  }
  .dropdown-menu{
    background-color: #eaecef!important;
    border: none!important;
    box-shadow: none!important;
  }
  .dropdown-menu>.dropdown-item{
    color: rgb(11, 10, 10)!important;
    z-index: 0;
   }
   .tabs-section button {
    padding: 4px !important;
    /* // width: 30%!important; */
  }
  body {
    background-color: #ffff!important;
    scroll-behavior: smooth !important;
    letter-spacing: 0.5px;
    font-size: 1.0em;
    font-family: 'Poppins', sans-serif!important;
  }
  
/* **********************
TABLE GENERAL STYLING
********************** */

.tabs-section {
  border-bottom: 1px solid #f1f1f1;
}

  .tabs-section>.button {
    padding: 15px;
    border-radius: 0;
    color: #80868b;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border-bottom: 3px solid #fff;
    margin: 0;
  }

  .tabs-section>.button :hover {
      border-bottom: 3px solid #e1e1e1;
      background-color: #f1f1f188;
    }
  

  .active-tab {
    font-weight: 600!important;
    color: #003d4c!important;
    border-bottom: 3px solid #2f2c2c!important;
  }

@media (max-width: 3000px) {}
@media (max-width: 2000px) {}
@media (max-width: 1700px) {}
@media (max-width: 1500px) {}
@media (max-width: 1370px) {}
@media (max-width:920px) {
  .show-ms {
    display: block!important;
  }


  .outlet {
    padding:15px 0;
  }
.btn-add{
  font-size: 0.75rem!important;
  height: 32px!important;
}
  .listing-item {
    padding: 5px 15px;
    border-bottom: 3px solid #f1f1f1;
  }

    .listing-item :last-child {
      border-bottom: none;
    }

    h6 {
      color: #292d2e;
      font-weight: 500;
    }

    span {
      font-size: 0.9rem;
      color: #80868b;
    }

  .search-res-listing {
    top: 120px!important;
    width: 100%!important;
  }
  .select-ms {
    border: 1px #d4d4d4 solid!important;
    width: 130px!important;
    font-size: 12px!important;
    height: 28px!important;
  
    border-radius: 4px!important;
    background-color:  #EDEDED !important;
    color: rgb(146, 146, 146) !important;
    font-size: 0.9rem !important;
    letter-spacing: 1px !important;
  }



      
    .profile-search-innerwrap>input {
        width: 100%!important;
      }

      input::-webkit-input-placeholder {
        font-size: 0.75rem;
      }
    

    .fa-caret-down {
      position: absolute;
      padding-left: 5px!important;
      left: 25%!important;
      top: 7px!important;
      color: #80868b;
    }

    .small-border {
      height: 22px;
      width: 1px;
      left: 32%!important;
    }
  

  .holder {
    width: 100%!important;
  }

    .holder> .btn-search {
      width: 15%!important;
    }
  

  .card-table {
    padding: 5px !important;
    margin-bottom: 10px!important;
    width: 100%;
  }
  .dashboard-cards{
    width: 100%!important;
  }
  .order-summary-card{
    height: 300px!important;
  }
  .title-ms{
    font-size: 16px!important;
  }
  .btn-refresh{
    width: 100px!important;
    font-size: 12px!important;
    padding: 3px 6px!important;
  }
  .details-card {
    padding: 30px 20px;
  }

  .customer-orders-card {
    padding: 10px !important;
  }

  .tabs-section button {
    padding: 4px !important;
 
  }

  .btn-tabs {
    font-size: 0.7rem!important;
  
  }

  .customer-details-card {
    padding: 30px !important;
  }

  label {
    font-size: 12px;
    padding: 5px;
  }

  .notification-options {
    display: flex;
    flex-direction: column;
  }

  .switch {
    height: 20px!important;
    width: 45px!important;
  }

  .slider:before {
    height: 13px!important;
    width: 13px!important;
  }
  .row>* {
    width: 100%;
    padding: 0;
  }
  .hero-img{
    margin-top: 90px!important;
  }
  .filters-section select{
    min-width: 100%!important;
  }
  .btn-add-order{
    position: absolute!important;
    top: 90px !important;;
    right: 20px !important;
  }

  .temp, .setting-toggle{
    width: 100%!important;
  }
  .form-control, .form-select{
    width: 100%!important;
  }
  .input-group{
    flex-wrap: nowrap!important;
  }
  .home-page{
   
    margin: 0!important;
  }
    .home-page >.hero-section{
      padding: 0 25px 10px 25px!important;
    }
  
  .hero-text{
    position:relative!important;
    margin-top: 0!important;
    padding: 10px!important;
   
  }
  .lead{
    font-size: 0.9rem!important;
    font-weight: 200!important;
  }
  p{
    font-size: 0.9rem!important;
  }
  .container{
    padding: 20px!important;
  }
  .navbar-collapse.collapsing .navbar-nav {
    display: block;
     flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -69%;
    transition: all 0.5s ease-out;

  }

.navbar-collapse.show .navbar-nav {
  position: fixed;
  
  margin-top: 1%;
 
  top: 0;
  bottom: -1px;
 
  flex-direction: column;

  width: 100%;
  background-color: #363F4E;
 
   transition: 0.5s;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
.nav-item{
  margin-top: 30px!important;
}
.dropdown-menu{
  background-color: #eaecef!important;
  border: none!important;
  box-shadow: none!important;
}
 .dropdown-item{
  color: rgb(11, 10, 10)!important;
  z-index: 0;
 }




.sticky-top-mobile {
  position: sticky;
}
.select-ms {
  border: 1px #d4d4d4 solid !important;
  width: 105px !important;
  font-size: 12px !important;
  height: 35px !important;
  border-radius: 5px !important;
  background-color: #EDEDED !important;
  color: rgb(165, 165, 165) !important;
  font-size: 0.9rem !important;
  letter-spacing: 1px !important;
}

.title-custom {
  font-family: "Montserrat" !important;
  font-size: 0.9rem !important;
  font-weight: 600;
  padding-left: 5px;
  padding-top: 10px;
}
.row{
  --bs-gutter-x: 0rem;
}
.secondary-title-ms{
font-size: 1rem;
color: #2f2c2c!important;
text-decoration: none!important;
}

.secondary-title-ms:visited{
color: #2f2c2c!important;
}

.input-group > .form-control:focus, .input-group > .form-floating:focus-within, .input-group > .form-select:focus {
  z-index: 0!important;
}

}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #363F4E;
  color: white;
  text-align: center;
  padding-top: 10px;
  font-size: 0.8rem;
  font-weight: 200;
  letter-spacing: 1px;
}


.tabs-section {
  border-bottom: 1px solid #f1f1f1;

  
}