<app-user></app-user>
<div class="container-fluid mt-3 mb-5">
    <div class="d-lg-block d-none mb-3 justify-content-center">
      <div class="d-flex justify-content-center page-title p-3">
        <h2 class="page-title text-center">Settings</h2>
      </div>
    </div>
    <div class="container">
      <h5 class="section-title mb-3">Account details</h5>
  
      <div class="card card-table">
        <p>
          Here are your account details.
        </p>
        <form>
          <div>
           
  
            <div class="d-flex justify-content-between mb-3">
              <label for="displayName">Business name</label>
              <input
              value="{{fullNames}}"
                type="text"
                disabled
                class="form-control select-dropdown"
                aria-describedby="emailHelp"
                name="emailDisplayName"
              />
            </div>
            <div class="d-flex justify-content-between mb-3">
              <label for="displayName">Phone number</label>
              <input
                value="{{coachPhoneNumber}}"
                type="text"
                disabled
                class="form-control select-dropdown"
                aria-describedby="emailHelp"
                name="smsDisplayName"
              />
            </div>
            <div class="d-flex justify-content-between mb-3">
              <label for="displayName">Email</label>
              <input
                value="{{coachEmail}}"
                type="text"
                disabled
                class="form-control select-dropdown"
                aria-describedby="emailHelp"
                name="smsDisplayName"
              />
            </div>
          </div>
        </form>
      </div>
<!-- add availability for coaches -->
      <h5 *ngIf="userRole == 'COACH'" class="section-title mb-3">Availability settings</h5>
      <div *ngIf="userRole == 'COACH'" class="card card-table">
        <div class="row">
          <div class="col-6">
            <p>
              Set your availability here to allow clients to book sessions with you.
            </p>
          </div>
          <div class="col-3">
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-success" [routerLink]="['/addAvailableSlots']">Add Slots</button>
          </div>
        </div>
      </div>
      <h5 class="section-title mb-3">Notification settings</h5>
  
      <div class="card card-table">
        <p>
          This system allows you to send text messages (SMS) to your clients at
          different levels of the Session process. You can customize/turnoff the
          messages here:
        </p>
        <form>
          <div class="d-flex justify-content-between">
            <p>Enable:</p>
            <label class="switch">
              <input
                type="checkbox"
                [checked]="notificationForm.notificationEnable"
                [(ngModel)]="notificationForm.notificationEnable"
                name="enable"
              />
              <span class="slider round"></span>
            </label>
          </div>
  
          <div class="d-flex justify-content-between mb-1">
            <p>Notification mode</p>
            <div class="d-flex select-dropdown notification-options">
              <div class="d-flex">
                <input
                  [(ngModel)]="notificationForm.NotificationMode"
                  class="px-3"
                  type="radio"
                  id="sms"
                  name="notification_type"
                  value="SMS"
                />
                <label class="px-3 py-2" for="yes">SMS</label><br />
              </div>
              <div class="d-flex">
                <input
                  [(ngModel)]="notificationForm.NotificationMode"
                  class="px-3"
                  type="radio"
                  id="email"
                  name="notification_type"
                  value="EMAIL"
                />
                <label class="px-3 py-2" for="no">Email</label><br />
              </div>
              <div class="d-flex">
                <input
                  [(ngModel)]="notificationForm.NotificationMode"
                  class="px-3"
                  type="radio"
                  id="email"
                  name="notification_type"
                  value="SMS_EMAIL"
                />
                <label class="px-3 py-2" for="no">SMS and Email</label><br />
              </div>
            </div>
          </div>
  
          <div>
            <div class="d-flex justify-content-between mb-3">
              <label for="displayName">SMS display name</label>
              <input
              value="{{businessName}}"
                type="text"
                disabled
                class="form-control select-dropdown"
                aria-describedby="emailHelp"
                name="smsDisplayName"
              />
            </div>
  
            <div class="d-flex justify-content-between mb-3">
              <label for="displayName">Email display name</label>
              <input
              value="{{businessName}}"
                type="text"
                disabled
                class="form-control select-dropdown"
                aria-describedby="emailHelp"
                name="emailDisplayName"
              />
            </div>
          </div>
        </form>
      </div>
  
      <h5 class="section-title mb-3">Session notification templates</h5>
      <div class="card card-table">
        <div class="mb-5 d-flex flex-wrap justify-content-between">
          <div class="setting-toggle">
            <h5 class="section-title mb-3">A New Session created template</h5>
            <div class="d-flex justify-content-between">
              <p>Enable:</p>
              <label class="switch">
                <input
                  type="checkbox"
                  [disabled]="!notificationForm.notificationEnable"
                  [checked]="notificationForm.newContractEnable"
                  [(ngModel)]="notificationForm.newContractEnable"
                  name="newSession"
                />
                <span
                  [ngClass]="{
                    'disable-toggle': !notificationForm.notificationEnable
                  }"
                  class="slider round"
                ></span>
              </label>
            </div>
          </div>
  
          <div class="d-flex-column temp">
            <label for="Template">Template</label>
            <textarea
              name="newSession"
              class="form-control"
              id="newSession"
              aria-describedby="newSession"
              placeholder=""
              rows="4"
              [disabled]="!notificationForm.notificationEnable"
              [(ngModel)]="notificationForm.newSessionTemplate"
            >
            </textarea>
          </div>
        </div>
        <hr />
        <div class="mb-5 mt-3 d-flex flex-wrap justify-content-between">
          <div class="setting-toggle">
            <h5 class="section-title mb-3">Partial Session payment template</h5>
            <div class="d-flex justify-content-between">
              <p>Enable</p>
              <label class="switch">
                <input
                  type="checkbox"
                  [disabled]="!notificationForm.notificationEnable"
                  [checked]="notificationForm.partialSessionPaymentEnable"
                  [(ngModel)]="notificationForm.partialSessionPaymentEnable"
                  name="partialSessionPayment"
                />
                <span
                  [ngClass]="{
                    'disable-toggle': !notificationForm.notificationEnable
                  }"
                  class="slider round"
                ></span>
              </label>
            </div>
          </div>
  
          <div class="d-flex-column temp">
            <label for="Template">Template</label>
            <textarea
              name="newSession"
              class="form-control"
              id="newSession"
              aria-describedby="newSession"
              placeholder=""
              rows="4"
              [disabled]="!notificationForm.notificationEnable"
              [(ngModel)]="notificationForm.partialSessionPaymentTemplate"
            >
            </textarea>
          </div>
        </div>
        <hr />
  
        <div class="mb-5 mt-3 d-flex flex-wrap justify-content-between">
          <div class="setting-toggle">
            <h5 class="section-title mb-3">Full Session payment template</h5>
            <div class="d-flex justify-content-between">
              <p>Enable</p>
              <label class="switch">
                <input
                  [disabled]="!notificationForm.notificationEnable"
                  type="checkbox"
                  [checked]="notificationForm.fullSessionPaymentEnable"
                  [(ngModel)]="notificationForm.fullSessionPaymentEnable"
                  name="fullSessionPayment"
                />
                <span
                  [ngClass]="{
                    'disable-toggle': !notificationForm.notificationEnable
                  }"
                  class="slider round"
                ></span>
              </label>
            </div>
          </div>
  
          <div class="d-flex-column temp">
            <label for="Template">Template</label>
            <textarea
              name="newSession"
              class="form-control"
              id="newSession"
              aria-describedby="newSession"
              placeholder=""
              rows="4"
              [disabled]="!notificationForm.notificationEnable"
              [(ngModel)]="notificationForm.fullSessionPaymentTemplate"
            >
            </textarea>
          </div>
        </div>
        <hr />
  
        <div class="mb-5 mt-3 d-flex flex-wrap justify-content-between">
          <div class="setting-toggle">
            <h5 class="section-title mb-3">A delivered Session template</h5>
            <div class="d-flex justify-content-between">
              <p>Enable</p>
              <label class="switch">
                <input
                  type="checkbox"
                  [disabled]="!notificationForm.notificationEnable"
                  [checked]="notificationForm.deliverSessionEnable"
                  [(ngModel)]="notificationForm.deliverSessionEnable"
                  name="deliverSession"
                />
                <span
                  [ngClass]="{
                    'disable-toggle': !notificationForm.notificationEnable
                  }"
                  class="slider round"
                ></span>
              </label>
            </div>
          </div>
  
          <div class="d-flex-column temp">
            <label for="Template">Template</label>
            <textarea
              name="newSession"
              class="form-control"
              id="newSession"
              aria-describedby="newSession"
              placeholder=""
              rows="4"
              [disabled]="!notificationForm.notificationEnable"
              [(ngModel)]="notificationForm.deliverSessionTemplate"
            >
            </textarea>
          </div>
        </div>
        <hr />
        <div class="mb-5 mt-3 d-flex flex-wrap justify-content-between">
          <div class="setting-toggle">
            <h5 class="section-title mb-3">Cancel Session template</h5>
            <div class="d-flex justify-content-between">
              <p>Enable</p>
              <label class="switch">
                <input
                  type="checkbox"
                  [disabled]="!notificationForm.notificationEnable"
                  [checked]="notificationForm.cancelSessionEnable"
                  [(ngModel)]="notificationForm.cancelSessionEnable"
                  name="cancelSession"
                />
                <span
                  [ngClass]="{
                    'disable-toggle': !notificationForm.notificationEnable
                  }"
                  class="slider round"
                ></span>
              </label>
            </div>
          </div>
          <div class="d-flex-column temp">
            <label for="Template">Template</label>
            <textarea
              name="newSession"
              class="form-control"
              id="newSession"
              aria-describedby="newSession"
              placeholder=""
              rows="4"
              [disabled]="!notificationForm.notificationEnable"
              [(ngModel)]="notificationForm.cancelSessionTemplate"
            >
            </textarea>
          </div>
        </div>
        <div class="text-center">
          <button class="btn btn-add" (click)="saveSettings()">
            Save Changes
          </button>
        </div>
      </div>
    </div>
  </div>
  
