.btn btn-outline-success:active {
  color: #fff;
  background: #5c6ac4 !important;
  padding-top: 8px;
  padding-bottom: 6px;
  border-radius: 4px;
  vertical-align: middle;
  border: none;
  min-width: 120px;
  margin: 2px 0;
}
.smaller-font{
  font-size: 15px;
 
}