<body>
    <h1>REGISTER HERE</h1>
    <form #signUpForm="ngForm" (ngSubmit)="signUp(signUpForm)">
      <fieldset>
        <label for="fullName">Enter your Fullname: <br>
          <input id="fullName" name="fullName" type="text"ngModel required />
        </label>
        <label for="businessName">Enter your Business Name: <br>
          <input id="businessName" name="businessName" type="text" ngModel  required />
        </label>
        <label for="msisdn">Enter your Phone No.: <br>
          <input id="msisdn" name="msisdn" type="number" ngModel  required />
        </label>
        <label for="email">Enter your Email: <br>
          <input id="email" name="email" type="email" ngModel  required />
        </label>
        <label for="password">Set your password: <br>
          <input id="password" name="password" type="password" ngModel  required />
        </label>
        <label for="password">Repeat your password: <br>
          <input id="password1" name="resetPassword" type="password"/>
        </label>
      </fieldset>
      <fieldset>
        <label for="show password">Show password <input class="checkbox" type="checkbox" name="show password" id="show password"></label>
      </fieldset>
      <input type="submit" value="REGISTER"/>
    </form>
    <div>
      <span>Proceed to Login
        <a routerLink="/signin" href="">Login</a> 
      </span>
    </div>
  </body>
