<body>
    <h1>REGISTER HERE</h1>
    <form method="post" action=''>
      <fieldset>
        <label for="email">Enter your Email: <br><input id="email" name="email" type="email" required /></label>
        <label for="password">Set your password: <br><input id="password" name="password" type="password" required /></label>
        <label for="password">Repeat your password: <br><input id="password" name="password" type="password" required /></label>
      </fieldset>
      <fieldset>
        <label for="show password">Show password <input class="checkbox" type="checkbox" name="show password" id="show password"></label>
      </fieldset>
      <input type="submit" value="REGISTER" />
    </form>
  </body>
