.footer {
    
    width:100%;
    color: rgba(0, 0, 0, 0.746);
    height: 50px;
    align-items: center;
    
    
} 

footer{
    color: rgba(0, 0, 0, 0.746);
    position: fixed;

   
}
p, h5{
    text-align: center;
    margin: 0;
} 