<app-user></app-user>
<div class="container-fluid mt-3 mb-5">

  <div class="container customer-details">
    <div class="card card-table">

      <div class="alert alert-success" *ngIf="saveSuccess" [@fadeIn]>
        <span>Payment changes saved succesfully</span>
      </div>

      <div class="d-flex justify-content-end border-0" *ngIf="!editingSettings" [@fadeIn]>
        <button class="btn btn-add" (click)="toggleEditingSettings()" [disabled]="disableButton">
          Edit
        </button>
      </div>

      <div class="donut-wrapper" *ngIf="isSaving" [@fadeIn]>
        <div class="donut multi"></div>
      </div>


      <div class="d-flex justify-content-between" [ngClass]="{'flex-column-sm':editingSettings}">
        <span class="title">Payment mode</span>
        <span class="description" *ngIf="!editingSettings" [@fadeIn]>{{(this.user.baker.defaultBakerPaymentDetails?.paymentType | titlecase) ?? 'not set'}}</span>
        <select class="form-select" name="option" [(ngModel)]="paymentDetails.paymentType" (change)="selectPaymentOption()" [disabled]="isSaving" *ngIf="editingSettings" [@fadeIn]>
          <option value="MPESA">Mpesa</option>
          <option value="CASH">Cash</option>
        </select>
      </div>

      <div *ngIf="paymentDetails?.paymentType === 'MPESA'">

        <div class="d-flex justify-content-between" [ngClass]="{'flex-column-sm':editingSettings}">
          <span class="title">Mpesa option</span>
          <span class="description" *ngIf="!editingSettings" [@fadeIn]>{{replaceUnderScoreSymbols(this.user.baker.defaultBakerPaymentDetails?.mpesaPaymentType) | titlecase}}</span>
          <select class="form-select" name="mpesaOption" [(ngModel)]="paymentDetails.mpesaPaymentType" (change)="selectPaymentOption()" [disabled]="isSaving" *ngIf="editingSettings" [@fadeIn]>
            <option [value]="option.value" *ngFor="let option of paymentOptions">{{option.name}}</option>
          </select>
        </div>

        <div class="d-flex justify-content-between " [ngClass]="{'flex-column-sm':editingSettings}" *ngIf="paymentDetails.mpesaPaymentType === 'BUY_GOODS'" [@fadeIn]>
          <span class="title">Till number</span>
          <span class="description" *ngIf="!editingSettings" [@fadeIn]>{{this.user.baker.defaultBakerPaymentDetails?.tillNumber}}</span>
          <input [(ngModel)]="paymentDetails.tillNumber" (ngModelChange)="!paymentDetails.tillNumber ? optionFilled = false : optionFilled = true;" name="tillNumber" type="text" class="form-control" id="tillNumber" aria-describedby="tillNumber"
            placeholder="eg 5156299" *ngIf="editingSettings" [@fadeIn] oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^7/,2547).replace(/(\..*)\./g, '$1');" [disabled]="isSaving" />
        </div>

        <div class="d-flex justify-content-between " [ngClass]="{'flex-column-sm':editingSettings}" *ngIf="paymentDetails.mpesaPaymentType === 'SEND_MONEY' || paymentDetails.mpesaPaymentType === 'POCHI_LA_BIASHARA'" [@fadeIn]>
          <span class="title" for="displayName">Phone number</span>
          <span class="description" *ngIf="!editingSettings" [@fadeIn]>{{this.user.baker.defaultBakerPaymentDetails?.msisdn}}</span>
          <input [(ngModel)]="paymentDetails.msisdn" (ngModelChange)="!paymentDetails.msisdn ? optionFilled = false : optionFilled = true;" name="msisdn" type="text" class="form-control" id="msisdn" aria-describedby="msisdn"
            placeholder="eg 254703******" *ngIf="editingSettings" [@fadeIn] oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0/,254).replace(/^7/,2547).replace(/(\..*)\./g, '$1');" [disabled]="isSaving" />
        </div>

        <div *ngIf="paymentDetails?.mpesaPaymentType === 'PAY_BILL'" [@fadeIn]>
          <div class="d-flex justify-content-between " [ngClass]="{'flex-column-sm':editingSettings}">
            <span class="title" for="displayName">Paybill number</span>
            <span class="description" *ngIf="!editingSettings" [@fadeIn]>{{this.user.baker.defaultBakerPaymentDetails?.businessNumber}}</span>
            <input [(ngModel)]="paymentDetails.businessNumber" (ngModelChange)="!paymentDetails.businessNumber || !paymentDetails.accountNumber ? optionFilled = false : optionFilled = true;" name="businessNumber" type="text" class="form-control"
              id="businessNumber" aria-describedby="businessNumber" placeholder="eg 5165149" *ngIf="editingSettings" [@fadeIn] oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^7/,2547).replace(/(\..*)\./g, '$1');"
              [disabled]="isSaving" />
          </div>

          <div class="d-flex justify-content-between " [ngClass]="{'flex-column-sm':editingSettings}">
            <span class="title" for="displayName">Account number</span>
            <span class="description" *ngIf="!editingSettings" [@fadeIn]>{{this.user.baker.defaultBakerPaymentDetails?.accountNumber}}</span>
            <input [(ngModel)]="paymentDetails.accountNumber" (ngModelChange)="!paymentDetails.accountNumber || !paymentDetails.businessNumber ? optionFilled = false : optionFilled = true;" name="accountNumber" type="text" class="form-control"
              id="accountNumber" aria-describedby="accountNumber" placeholder="eg  07299******" *ngIf="editingSettings" [@fadeIn] oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^7/,2547).replace(/(\..*)\./g, '$1');"
              [disabled]="isSaving" />
          </div>
        </div>

      </div>


      <div class="d-flex justify-content-between border-0 position-relative" [ngClass]="{'flex-column-sm':editingSettings}">
        <span class="title">Deposit percentage</span>
        <span class="description" *ngIf="!editingSettings" [@fadeIn]>{{this.user.baker.defaultBakerPaymentDetails?.depositPercentage ?? 'not set'}}</span>
        <input *ngIf="editingSettings" [@fadeIn] [(ngModel)]="paymentDetails.depositPercentage" (ngModelChange)="percentageValidation(paymentDetails.depositPercentage)" type="text" class="form-control" name="depositPercentage" placeholder="eg: 50"
          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/^0/,254).replace(/^7/,2547).replace(/(\..*)\./g, '$1');" [disabled]="isSaving" />
           <span class="deposit-percentage" *ngIf="editingSettings" [@fadeIn]>&nbsp; %</span>
      </div>




      <div class="d-flex justify-content-end border-0 mt-3" *ngIf="editingSettings" [@fadeIn]>
        <button class="btn btn-back" (click)="toggleEditingSettings()" [disabled]="disableButton || isSaving">
          Cancel
        </button>
        <button class="btn btn-add ms-2" (click)="savePaymentSettings()" [disabled]="disableButton || isSaving">
          Save changes
        </button>
      </div>
    </div>
  </div>

</div>
