
        <app-user></app-user>
<div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    
    <form>
    
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Coach Name" name="name" ngModel required>
        </div>


        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" ngModel required>
        </div>

        
        <div class="form-group col-md-6">
          <label for="phone">Phone</label>
          <input type="number" class="form-control" id="phone" placeholder="phone" name="phone" ngModel required>
        </div>
    
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter Client Address" name="address" ngModel>
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="PaymentMode">Payment Mode</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="PaymentMode" ngModel>
            <option selected>Select Payment Mode</option>
            <option value="PREPAY">PREPAY</option>
            <option value="POSTPAY">POSTPAY</option>
          </select>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="clientType">Coach Type</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="clientType" ngModel>
            <option selected>Select Client type</option>
            <option value="INDIVIDUAL">INDIVIDUAL</option>
            <option value="CORPORATE">CORPORATE</option>
          </select>
        </div>     
      <button type="submit" class="btn btn-success">ADD Coach</button>
    </form>
    </div>
    <div class="col-2"></div>
  </div>