<div class="row">
  <div class="col-10">
      <h3>Add Clients</h3>
  </div>
  <div class="col-2">
      <app-user></app-user>
  </div>
</div>
<body>
  <div class="container">
    <h1>ADD CLIENT</h1>
    <form method="post" action=''>
      <fieldset>
        <label for="first-name">Enter First Name: <br><input id="first-name" name="first-name" type="text" required /></label>
        <label for="last-name">Enter Last Name: <br><input id="last-name" name="last-name" type="text" required /></label>
        <label for="email">Enter Email: <br><input id="email" name="email" type="email" required /></label>
        <label for="email">Enter Phone No: <br><input id="phone" name="phone" type="text" required /></label>
      </fieldset>
      <fieldset>
        <label for="referrer">Select type of client <br>
          <select id="clientType" name="clientType">
            <option value="">(select one)</option>
            <option value="1">Individual</option>
            <option value="2">Corporate</option>
            <option value="3">Group</option>
          </select>
        </label>
      </fieldset>
      <input type="submit" value="ADD" />
    </form>
    </div>
  </body>