<div class="row">
  <div class="col-5">
  </div>
  <div class="col-5">
    
      <img src="../../../assets/images/CoachMatePRO.png" alt="logo" class="logo" style="  width: 150px;
      height: 100px; padding-top: 0%; margin-top: 0%;">
    
</div>
  <div class="col-2">
        <app-user></app-user>
  </div>
</div>

<div class="container mb-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card card-table d-flex">
        <div class="">
      <h1 class="modal-title fs-5 text-center" id="exampleModalLabel" >
        Add New Client
      </h1>
    </div>
      <form>
        <div class="row p-2">
          <div class=" mb-3 col-md-6 ">
          <label for="exampleInputEmail1">First Name *</label>
          <input
          [(ngModel)]="addClient.firstName" 
            name="firstName"
            type="text"
            class="form-control"
            id="firstname"
            aria-describedby="emailHelp"
            placeholder="First name"
            required
          />
        </div>
        <div class=" mb-3 col-md-6 ">
          <label for="exampleInputEmail1">Last Name *</label>
          <input
          [(ngModel)]="addClient.lastName"
            name="lastName"
            type="lastNname"
            class="form-control"
            id="lastName"
            aria-describedby="emailHelp"
            placeholder="First name"
            required
          />
        </div>
        </div>
          <div class="row p-2">
            <div class=" mb-3 col-md-6 ">
          <label for="exampleInputPassword1">Mobile no *</label>
          <input
            required
            [(ngModel)]="addClient.msisdn" 
            name="msisdn"
            type="number"
            class="form-control"
            id="contact"
            placeholder="Contact"
            required
            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
          />
        </div>
            <div class=" mb-3 col-md-6 ">
          <label for="exampleInputPassword1">Email *</label>
          <input
          [(ngModel)]="addClient.email" 
            name="email"
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
        </div>
            </div>
            <div class="row p-2">
              <div class=" mb-3 col-md-6 ">
          <label for="exampleInputPassword1">Address *</label>
          <input
          [(ngModel)]="addClient.physicalAddress"
            name="address"
            type="text"
            class="form-control"
            id="adress"
            placeholder="Address"
            required
          />
        </div>
              <div class=" mb-3 col-md-6 ">
          <label for="profession">Profession</label>
          <input 
          type="text" 
          class="form-control" 
          id="profession" 
          name="profession"
          placeholder="Enter Client Profession" 
          [(ngModel)]="addClient.profession" 
          >
        </div>
              </div>
            
              <div class="row p-2">
                <div class=" mb-3 col-md-6 ">
                <label class="input-group-text" for="paymentMode">Payment Mode</label>
              <select class="form-select" name="paymentMode" id="inputGroupSelect01" [(ngModel)]="addClient.paymentMode">
                <option selected>Select Payment Mode</option>
                <option value="PREPAY">PREPAY</option>
                <option value="POSTPAY">POSTPAY</option>
              </select>
                </div>
          <div class=" mb-3 col-md-6 ">
                <label class="input-group-text" for="clientType">Client Type</label>
              <select class="form-select" id="inputGroupSelect01" name="clientType" [(ngModel)]="addClient.clientType" >
                <option selected>Select Client type</option>
                <option value="INDIVIDUAL">INDIVIDUAL</option>
                <option value="CORPORATE">CORPORATE</option>
                <option value="GROUP">GROUP</option>
              </select>
        </div>
        <div class=" mb-3 col-md-6 " *ngIf="this.userRole == 'ORGANIZATION'">
                <label class="input-group-text" for="coach">Assign Coach</label>
              <select class="form-select" id="inputGroupSelect01" [(ngModel)]="addClient.id"  >
               <option *ngFor="let coach of OrgCoaches" [value]="coach.id">{{coach.firstName}} {{coach.lastName}}</option>
              </select>
          </div>
        </div>
        <div class="row p-2">
    <div class=" mb-3">
      <label for="reason">Reason</label>
      <input 
      type="text" 
      class="form-control" 
      placeholder="Reason" 
      name="reason"
      [(ngModel)]="addClient.reason" >
    </div>
        </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" data-bs-dismiss="exampleModalLabel">
        Close
      </button>
      <button
        type="submit"
        class="btn btn-success"
        data-bs-dismiss="modal"
        (click)="newClient()"
        [disabled]="
        !addClient.firstName||
        !addClient.lastName||
        !addClient.email||
        !addClient.msisdn||
        !addClient.physicalAddress
      ">ADD CLIENT
      </button>
    </div>
<!-- <div class="row">
  <div class="col-10">
     
  </div>
  <div class="col-2">
      <app-user></app-user>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    <h3>Add Client</h3>
    <form #AddClientForm="ngForm" (ngSubmit)="AddClient(AddClientForm)">
    
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Client Name" name="name" ngModel required>
        </div>


        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email_address" ngModel required>
        </div>

        
        <div class="form-group col-md-6">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="phone" name="msisdn" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
          ngModel required>
        </div>
    
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter Client Address" name="physical_address" ngModel>
        </div>

        <div class="form-group col-md-6">
          <label for="profession">Profession</label>
          <input type="text" class="form-control" id="profession" placeholder="Enter Client Profession" name="profession" ngModel>
        </div>
        <div class="form-group col-md-6">
          <label for="profession">added by </label>
          <input type="text" class="form-control" id="" placeholder="Enter created by" name="createdBy" ngModel>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="PaymentMode">Payment Mode</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="payment_mode" ngModel>
            <option selected>Select Payment Mode</option>
            <option value="PREPAY">PREPAY</option>
            <option value="POSTPAY">POSTPAY</option>
          </select>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="clientType">Client Type</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="type" ngModel>
            <option selected>Select Client type</option>
            <option value="INDIVIDUAL">INDIVIDUAL</option>
            <option value="CORPORATE">CORPORATE</option>
            <option value="GROUP">GROUP</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="reason">Reason</label>
          <input type="text" class="form-control" placeholder="Reason" name="reason" ngModel>
        </div>
     
      <button type="submit" class="btn btn-success">ADD Client</button>
    </form>
    </div>
    <div class="col-2"></div>
  </div> -->