<div class="row">

  <div class="col-10">
      <h3>Add Client</h3>
  </div>
  <div class="col-2">
      <app-user></app-user>
  </div>

</div>
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <h1 class="modal-title fs-5" id="exampleModalLabel">
        Add New Client
      </h1>

      <button
        type="button"
        class="btn-close btn-close-white"
        data-bs-dismiss="modal"
        aria-label="Close"
      ></button>
    </div>
    <div class="modal-body">
      <form [formGroup]="addClient" ngNativeValidate>
        <div class="mb-3 form-group">
          <label for="exampleInputEmail1">First Name *</label>
          <input
            formControlName="firstName"
            name="firstName"
            [(ngModel)]="firstName"
            type="firstNname"
            class="form-control"
            id="firstname"
            aria-describedby="emailHelp"
            placeholder="First name"
            required
          />
        </div>
        <div class="mb-3 form-group">
          <label for="exampleInputEmail1">Last Name *</label>
          <input
            formControlName="lastName"
            name="lastName"
            [(ngModel)]="lastName"
            type="lastNname"
            class="form-control"
            id="lastName"
            aria-describedby="emailHelp"
            placeholder="First name"
            required
          />
        </div>
   
        <div class="form-group">
          <label for="exampleInputPassword1">Mobile no *</label>
          <input
            required
            formControlName="msisdn"
            name="msisdn"
            type="number"
            class="form-control"
            id="contact"
            placeholder="Contact"
            required
            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Email *</label>
          <input
            formControlName="email_address"
            name="email_address"
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Address *</label>
          <input
            formControlName="physical_address"
            name="address"
            type="text"
            class="form-control"
            id="adress"
            placeholder="Address"
            required
          />
        </div>
        <div class="form-group ">
          <label for="profession">Profession</label>
          <input 
          type="text" 
          class="form-control" 
          id="profession" 
          placeholder="Enter Client Profession" 
          formControlName="profession" 
          >
        </div>
        <!-- <div class="form-group ">
          <label for="profession">added by </label>
          <input 
          type="text" 
          class="form-control" 
          id="" placeholder="Enter created by" 
          formControlName="createdBy"
          >
        </div> -->
        <div class="form-group mb-3">
          <label for="reason">Reason</label>
          <input 
          type="text" 
          class="form-control" 
          placeholder="Reason" 
          formControlName="reason" >
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="PaymentMode">Payment Mode</label>
              </div>
              <select class="form-select" id="inputGroupSelect01" formControlName="payment_mode">
                <option selected>Select Payment Mode</option>
                <option value="PREPAY">PREPAY</option>
                <option value="POSTPAY">POSTPAY</option>
              </select>
            </div>
          </div>
          <div class="col-md-6">
            <div class="input-group">
              <div class="input-group-prepend">
                <label class="input-group-text" for="clientType">Client Type</label>
              </div>
              <select class="form-select" id="inputGroupSelect01" formControlName="type" >
                <option selected>Select Client type</option>
                <option value="INDIVIDUAL">INDIVIDUAL</option>
                <option value="CORPORATE">CORPORATE</option>
                <option value="GROUP">GROUP</option>
              </select>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
        Close
      </button> -->
      <button
        type="submit"
        class="btn btn-success"
        data-bs-dismiss="modal"
        (click)="newClient()"
        [disabled]="
        !addClient.value.firstName||
        !addClient.value.lastName||
        !addClient.value.email_address||
        !addClient.value.msisdn||
        !addClient.value.physical_address
      ">ADD CLIENT
      </button>
    </div>
  </div>
</div>
<!-- <div class="row">
  <div class="col-10">
     
  </div>
  <div class="col-2">
      <app-user></app-user>
  </div>
</div>
<div class="row">
  <div class="col-4"></div>
  <div class="col-6">
    <h3>Add Client</h3>
    <form #AddClientForm="ngForm" (ngSubmit)="AddClient(AddClientForm)">
    
        <div class="form-group col-md-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" placeholder="Enter Client Name" name="name" ngModel required>
        </div>


        <div class="form-group col-md-6">
          <label for="inputEmail4">Email</label>
          <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email_address" ngModel required>
        </div>

        
        <div class="form-group col-md-6">
          <label for="phone">Phone</label>
          <input type="text" class="form-control" id="phone" placeholder="phone" name="msisdn" oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
          ngModel required>
        </div>
    
        <div class="form-group col-md-6">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" placeholder="Enter Client Address" name="physical_address" ngModel>
        </div>

        <div class="form-group col-md-6">
          <label for="profession">Profession</label>
          <input type="text" class="form-control" id="profession" placeholder="Enter Client Profession" name="profession" ngModel>
        </div>
        <div class="form-group col-md-6">
          <label for="profession">added by </label>
          <input type="text" class="form-control" id="" placeholder="Enter created by" name="createdBy" ngModel>
        </div>

        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="PaymentMode">Payment Mode</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="payment_mode" ngModel>
            <option selected>Select Payment Mode</option>
            <option value="PREPAY">PREPAY</option>
            <option value="POSTPAY">POSTPAY</option>
          </select>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label class="input-group-text" for="clientType">Client Type</label>
          </div>
          <select class="custom-select" id="inputGroupSelect01" name="type" ngModel>
            <option selected>Select Client type</option>
            <option value="INDIVIDUAL">INDIVIDUAL</option>
            <option value="CORPORATE">CORPORATE</option>
            <option value="GROUP">GROUP</option>
          </select>
        </div>

        <div class="form-group col-md-6">
          <label for="reason">Reason</label>
          <input type="text" class="form-control" placeholder="Reason" name="reason" ngModel>
        </div>
     
      <button type="submit" class="btn btn-success">ADD Client</button>
    </form>
    </div>
    <div class="col-2"></div>
  </div> -->