<div class="row">
  <div class="col-10">
    <h3>Clients</h3>
  </div>
  <div class="col-2">
    <app-user></app-user>
  </div>
</div>
<div class="row">
  <div class="col-10"></div>
  <div class="col-2">
    <button type="button" routerLink="/addclient" class="btn btn-success">
      <i class="fa-solid fa-user-plus"></i> ADD CLIENT
    </button>
  </div>
</div>
<div class="row">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Client Name</th>
        <th scope="col">Email</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Group/Individual</th>
        <th scope="col">Added On</th>
        <th scope="col">Reason</th>
        <th scope="col">Status</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let client of Clients">
        <th>{{ client.id }}</th>
        <td>{{ client.firstName + " " + client.lastName | titlecase }}</td>
        <td>{{ client.email_address }}</td>
        <td>{{ client.msisdn }}</td>
        <td>{{ client.type }}</td>
        <td>{{ client.createdAt }}</td>
        <td>{{ client.reason }}</td>
        <td>{{ client.status }}</td>

        <td class="actions">
          <i
            class="fa-solid fa-arrow-up-right-from-square"
            (click)="navigateToClientView(client.id)"
          ></i>
          <i class="fa-solid fa-pen-to-square" data-bs-toggle="modal"
          data-bs-target="#editClientModal"
          (click)="editClient(client)"></i>
          <!-- <i
            class="fa-solid fa-trash-can"
            (click)="suspendClient(client)"
          ></i> -->
        </td>
      </tr>
    </tbody>
  </table>
  <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
    <div class="donut multi"></div>
  </div>
  <p class="text-muted mt-5" *ngIf="!loading && !Clients.length">
    No clients Found.
  </p>
</div>



<!-- Modal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="editClientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
