<div class="row">
  <div class="d-flex justify-content-between mt-2">
    <div class="col  mt-4" style="margin-left: 5px;">
      <h3 class="fw-semi-bold fs-5 f-weight ">Dashboard</h3>
    </div>
    <!-- <div>
      <button *ngIf="this.userRole != 'COACH' && this.userRole != 'CLIENT'" class="btn btn-outline-success m-1"
        routerLink="/addCoach"><i class="fa fa-plus"></i> Add Coach</button>
      <button *ngIf="this.userRole != 'CLIENT'" class="btn btn-outline-success m-1" routerLink="/addclient"><i
          class="fa fa-plus"></i> Add Client</button>
      <button *ngIf="this.userRole != 'CLIENT'" class="btn btn-outline-success m-1" routerLink="/add-contract"><i
          class="fa fa-plus"></i> Add
        Contract</button>

      <button *ngIf="this.userRole != 'CLIENT'" class="btn btn-outline-success m-1" routerLink="/addSession"><i
          class="fa fa-plus"></i> Add Session</button>
    </div> -->
  </div>
</div>

<div class="row d-flex justify-content-around">
  <div class="col-md-4 col-sm-12">
    <div class="card">
      <div class="card-body">
        <!-- boards -->
        <div class="row">
          <div class="col stats" *ngIf="this.userRole == 'ORGANIZATION'">
            <p class="faded">Coaches</p>
            <h2 class="card-title">{{ coaches?.length }}</h2>
          </div>
          <div class="col stats" *ngIf="this.userRole != 'CLIENT'">
            <p class="faded">Clients</p>
            <h2 class="card-title">{{ numberOfClients }}</h2>
          </div>
          <div class="col stats" *ngIf="this.userRole == 'CLIENT'">
            <p class="faded">Contracts</p>
            <h2 class="card-title">{{ numberOfContracts }}</h2>
          </div>
          <div class="col stats">
            <p class="faded">Sessions</p>
            <h2 class="card-title">{{ sessions?.length }}</h2>
          </div>
        </div>

        <div class="row">
          <div class="col quicklinks">

            <h3 class="badge badge-success" *ngIf="this.userRole != 'COACH' && this.userRole != 'CLIENT'"
              [routerLink]="['/addCoach']">
              <span><i class="fa fa-plus"></i></span> Create a Coach
            </h3>

            <h3 class="badge badge-warning" *ngIf="this.userRole != 'CLIENT'" [routerLink]="['/addClient']"><span><i
                  class="fa fa-plus"></i></span> Create a Client</h3>

            <h3 class="badge badge-warning" *ngIf="this.userRole != 'CLIENT'" [routerLink]="['/add-contract']">
              <span><i class="fa fa-plus"></i></span> Create a Contract
            </h3>

            <h3 class="badge badge-success" [routerLink]="['/addSession']">
              <span><i class="fa fa-plus"></i></span> Create a Session
            </h3>

            <h3 class="badge badge-warning" *ngIf="this.userRole == 'CLIENT'"
              [routerLink]="['/schedules']">
              <span><i class="fa-solid fa-arrow-right"></i></span> Your Calendar
            </h3>

            <h3 class="badge badge-success" *ngIf="this.userRole == 'CLIENT'"
            [routerLink]="['/payment']">
            <span><i class="fa-solid fa-arrow-right"></i></span> Your Payments
          </h3>

          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="col-md-8 col-sm-12">
    <div class="col-md-12">
      <div class="card upcomingSessions">
        <div class="card-body d-flex justify-content-center">
          <li class="nav-item list-unstyled">
            <a class="nav-link" [class.active]="true" id="home-tab-just" data-toggle="tab" role="tab"
              aria-controls="home-just" aria-selected="true"><i class="fa-solid fa-chalkboard-user"
                style="color: green"></i> Today's Sessions</a>
          </li>
        </div>
        <div class="row justify-content-center d-none d-lg-block" [@fadeIn] style="height: 180px;">
          <table class="table" *ngIf="todaysSessions?.length">
            <thead>
              <th>Name</th>
              <th>Contract</th>
              <th scope="col" *ngIf="this.userRole != 'CLIENT'">Client</th>
              <th>Venue</th>
              <th>Start Time</th>
              <th>End Time</th>

              <th>Status</th>
              <th>Actions</th>
            </thead>
            <tbody class="list-container">
              <tr *ngFor="let session of todaysSessions">
                <td>{{ session?.name }}</td>
                <td>{{ session?.contractCoachingTopic.slice(0, 20) }}...</td>
                <td *ngIf="this.userRole != 'CLIENT'">{{ session?.clientFullName }}</td>
                <td>{{ session?.sessionVenue | titlecase }}</td>

                <td>{{ session?.sessionSchedulesStartTime  }}</td>
                <td>{{ session?.sessionSchedulesEndTime }}</td>
                <td>
                  <span class="badge" [ngClass]="{
                'badge-success': session?.sessionStatus === 'CONFIRMED',
                'badge-danger': session?.sessionStatus === 'CANCELLED',
                'badge-primary': session?.sessionStatus === 'NEW' || session?.sessionStatus === 'CONDUCTED'
              }">{{ session?.sessionStatus }}</span>
                </td>
                <td class="view">
                  <a [routerLink]="['/sessionView/', session?.id]"><i class="fas fa-external-link-alt"></i></a>
                </td>

              </tr>
            </tbody>
          </table>
          <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
            <div class="donut multi"></div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="!loading && !todaysSessions?.length">
            <p class="text-muted mt-5">
              No Sessions Today.
            </p>
          </div>
        </div>

        <div class="show-sm">
          <div class="d-flex justify-content-end mt-2 mb-2">
            <div>
              <button type="button" routerLink="/addSession" class="btn btn-outline-success">
                    <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>

          <div class="pt-3 pb-2 listing-item"
                *ngFor="let session of todaysSessions  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
                [routerLink]="['/sessionView', session.id]">


                <div class="d-flex justify-content-between">
                  <h4 class="farmer" [routerLink]="['/sessionView', session.id]">
                    {{ session?.name | titlecase }}
                  </h4>

                  <span class="no-word-break">{{ session?.sessionVenue | titlecase }}
                    <a [routerLink]="['/sessionView', session.id]"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>

                <div class="d-flex justify-content-between mb-2">
                  <span class="customer-name" class="mb-0">
                    {{ session?.clientFullName | titlecase }}</span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <span class="customer-name" class="mb-0" *ngIf="session?.sessionSchedulesSessionDate">
                    {{ session?.sessionSchedulesSessionDate }}
                  </span>
                  <span class="customer-name" class="mb-0" *ngIf="!session?.sessionSchedulesSessionDate">
                    {{ session?.sessionDate }}
                  </span>
                </div>
                <div class="d-flex justify-content-between mb-2">
                  <span class="customer-name" class="mb-0">
                    {{ session?.sessionSchedulesStartTime + ' - ' + session?.sessionSchedulesEndTime }}
                  </span>
                </div>

                <div class="d-flex justify-content-between mb-1">
                  <span class="badge" [ngClass]="{
                    'badge-success': session.sessionStatus === 'CONFIRMED',
                    'badge-danger': session.sessionStatus === 'CANCELLED',
                    'badge-primary': session.sessionStatus === 'NEW' || session.sessionStatus === 'CONDUCTED'
                  }">{{ session.sessionStatus }}</span>
                </div>
          </div>

          <div class="donut-wrapper" *ngIf="loading">
                <div class="donut multi"></div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="!loading && !todaysSessions?.length">
                <h2 class="text-muted mt-5">No Sessions Today.</h2>
          </div>
        </div>
      </div>
    </div>
  </div>


<div class="row">
  <div class="col-10">
    <p class="p-3 desc ">Hello {{user.firstName| lowercase }}, Here's how things currently look like...</p>
  </div>
</div>


<div class="row" *ngIf="this.userRole != 'ORGANIZATION'">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">

        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-12">
            <!--Tabs-->
            <div class="d-none d-lg-block">
              <!--*ngIf="userRole !== 'CLIENT'"-->
              <ul class="nav nav-tabs md-tabs nav-justified" id="myTabJust" role="tablist">
                <li class="nav-item" (click)="toggleTab('sessions')">
                  <a class="nav-link" [class.active]="currentTab === 'sessions'" id="home-tab-just" data-toggle="tab"
                    role="tab" aria-controls="home-just" aria-selected="true"><i class="fa-solid fa-chalkboard-user"
                      style="color: green"></i> Upcoming Sessions</a>
                </li>
                <li class="nav-item" (click)="toggleTab('contracts')">
                  <a class="nav-link" [class.active]="currentTab === 'contracts'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fa-solid fa-file-contract" style="color: green"></i> Recent Contracts</a>
                </li>
              </ul>
            </div>

            <div class="show-sm">
              <ul class="nav nav-tabs md-tabs nav-justified" id="myTabJust" role="tablist">
                <li class="nav-item" (click)="toggleTab('sessions')">
                  <a class="nav-link" [class.active]="currentTab === 'sessions'" id="home-tab-just" data-toggle="tab"
                    role="tab" aria-controls="home-just" aria-selected="true"><i class="fa-solid fa-chalkboard-user"
                      style="color: green"></i></a>
                </li>
                <li class="nav-item" (click)="toggleTab('contracts')">
                  <a class="nav-link" [class.active]="currentTab === 'contracts'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fa-solid fa-file-contract" style="color: green"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <br>

        <div *ngIf="currentTab === 'sessions'" [@fadeIn]>
          <div class="d-none d-lg-block">

            <div class="d-flex justify-content-between">
              <div></div>
              <a [routerLink]="['/sessions']">
                <span class="seeAll float-end">View all <i class="fas fa-arrow-right"></i></span>
              </a>
            </div>

            <div class="row justify-content-center">
              <table class="table" *ngIf="sessions?.length">
                <thead>
                  <th>Name</th>
                  <th>Contract</th>
                  <th scope="col" *ngIf="this.userRole != 'CLIENT'">Client</th>
                  <th>Venue</th>
                  <th>Date</th>
                  <th>Start Time</th>
                  <th>End Time</th>

                  <th>Status</th>
                  <th>Actions</th>
                </thead>
                <tbody class="list-container">
                  <tr *ngFor="let session of sessions">
                    <td>{{ session?.name }}</td>
                    <td>{{ session?.contractCoachingTopic.slice(0, 20) }}...</td>
                    <td *ngIf="this.userRole != 'CLIENT'">{{ session?.clientFullName }}</td>
                    <td>{{ session?.sessionVenue | titlecase }}</td>

                    <td *ngIf="session.sessionSchedulesSessionDate">{{ session?.sessionSchedulesSessionDate }}</td>
                    <td *ngIf="!session.sessionSchedulesSessionDate">{{ session?.sessionDate}}</td>

                    <td>{{ session?.sessionSchedulesStartTime  }}</td>
                    <td>{{ session?.sessionSchedulesEndTime }}</td>
                    <td>
                      <span class="badge" [ngClass]="{
                    'badge-success': session?.sessionStatus === 'CONFIRMED',
                    'badge-danger': session?.sessionStatus === 'CANCELLED',
                    'badge-primary': session?.sessionStatus === 'NEW' || session?.sessionStatus === 'CONDUCTED'
                  }">{{ session?.sessionStatus }}</span>
                    </td>
                    <td class="view">
                      <a [routerLink]="['/sessionView/', session?.id]"><i class="fas fa-external-link-alt"></i></a>
                    </td>

                  </tr>
                </tbody>
              </table>
              <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <div class="d-flex justify-content-center" *ngIf="!loading && !sessions?.length">
                <p class="text-muted mt-5" *ngIf="!loading && !sessions?.length">
                  No Sessions Found.
                </p>
              </div>
            </div>
          </div>

          <div class="show-sm">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between mt-2 mb-2">
                  <h3></h3>
                  <div>
                    <button type="button" routerLink="/addSession" class="btn btn-outline-success">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>

                <div class="pt-3 pb-2 listing-item"
                  *ngFor="let session of sessions  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
                  [routerLink]="['/sessionView', session.id]">


                  <div class="d-flex justify-content-between">
                    <h4 class="farmer" [routerLink]="['/sessionView', session.id]">
                      {{ session?.name | titlecase }}
                    </h4>

                    <span class="no-word-break">{{ session?.sessionVenue | titlecase }}
                      <a [routerLink]="['/sessionView', session.id]"><i class="fa fa-angle-right"></i></a>
                    </span>
                  </div>

                  <div class="d-flex justify-content-between mb-2">
                    <span class="customer-name" class="mb-0">
                      {{ session?.clientFullName | titlecase }}</span>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <span class="customer-name" class="mb-0" *ngIf="session?.sessionSchedulesSessionDate">
                      {{ session?.sessionSchedulesSessionDate }}
                    </span>
                    <span class="customer-name" class="mb-0" *ngIf="!session?.sessionSchedulesSessionDate">
                      {{ session?.sessionDate }}
                    </span>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <span class="customer-name" class="mb-0">
                      {{ session?.sessionSchedulesStartTime + ' - ' + session?.sessionSchedulesEndTime }}
                    </span>
                  </div>

                  <div class="d-flex justify-content-between mb-1">
                    <span class="badge" [ngClass]="{
                      'badge-success': session.sessionStatus === 'CONFIRMED',
                      'badge-danger': session.sessionStatus === 'CANCELLED',
                      'badge-primary': session.sessionStatus === 'NEW' || session.sessionStatus === 'CONDUCTED'
                    }">{{ session.sessionStatus }}</span>
                  </div>
                </div>

                <div class="donut-wrapper" *ngIf="loading">
                  <div class="donut multi"></div>
                </div>
                <div *ngIf="!loading && sessions?.length === 0">
                  <h2 class="text-muted mt-5">No Sessions Found.</h2>
                </div>

              </div>
            </div>
          </div>
        </div>

        <div *ngIf="currentTab === 'contracts'" [@fadeIn]>
          <div class="d-none d-lg-block">
            <div class="d-flex justify-content-between">
              <div></div>
              <a [routerLink]="['/contracts']">
                <span class="seeAll float-end">View all <i class="fas fa-arrow-right"></i></span>
              </a>
            </div>
            <div class="row justify-content-center">
              <table class="table" *ngIf="contracts?.length">
                <thead>
                  <th colspan="1">Name</th>
                  <th colspan="1">Client</th>
                  <th colspan="1">Category</th>
                  <th colspan="1">Start Date</th>
                  <th colspan="1">End Date</th>
                  <th colspan="1">No of Sessions</th>
                  <th colspan="1">Status</th>
                  <th colspan="1">Actions</th>
                </thead>
                <tbody>
                  <tr *ngFor="let contract of contracts">
                    <td>{{ contract?.coachingTopic.slice(0, 20) }}</td>
                    <td>{{ contract?.clientFullName }}</td>
                    <td>{{ contract?.coachingCategory }}</td>
                    <td>{{ contract?.startDate | date : "MMM d, y" }}</td>
                    <td>{{ contract?.endDate | date : "MMM d, y" }}</td>
                    <td>{{ contract?.noOfSessions }}</td>
                    <td>
                      <span class="badge" [ngClass]="{
                          'badge-success': contract?.contractStatus === 'SIGNED' || contract?.contractStatus === 'FINISHED',
                          'badge-danger': contract?.contractStatus === 'ONGOING',
                          'badge-primary': contract?.contractStatus === 'NEW'
                        }">{{ contract?.contractStatus }}</span>
                    </td>
                    <td class="view">
                      <a [routerLink]="['/contractDetail/', contract.id]"><i class="fas fa-external-link-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <div class="d-flex justify-content-center" *ngIf="!loading && !contracts?.length">
                <p class="text-muted mt-5" *ngIf="!loading && !contracts?.length">
                  No Contracts Found.
                </p>
              </div>
            </div>
          </div>

          <div class="show-sm">
            <div class="card">
              <div class="card-body">
                <div class="d-flex justify-content-between mt-2 mb-2">
                  <h3></h3>
                  <div>
                    <button type="button" routerLink="/add-contract" class="btn btn-outline-success">
                      <i class="fa fa-plus"></i>
                    </button>
                  </div>
                </div>
          
                <div class="pt-3 pb-2 listing-item"
                  *ngFor="let contract of contracts  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
                  [routerLink]="['/contractDetail/', contract.id]">
          
                  <div class="d-flex justify-content-between">
                    <h4 class="farmer" [routerLink]="['/contractDetail/', contract.id]">
                      {{ contract.coachingTopic | titlecase }}
                    </h4>
          
                    <span class="no-word-break">{{ contract.coachingCategory | titlecase }}
                      <a [routerLink]="['/contractDetail/', contract.id]"><i class="fa fa-angle-right"></i></a>
                    </span>
                  </div>
          
                  <div class="d-flex justify-content-between mb-2">
                    <span class="customer-name" class="mb-0"><i class="fa-solid fa-user" style="color: #078d20;"></i>
                      {{ contract.clientFullName | titlecase }}</span>
                  </div>
                  <div class="d-flex justify-content-between mb-2">
                    <span class="customer-name" class="mb-0">
                      <i class="fa-regular fa-calendar-days" style="color: #078d20;"></i>
                      {{ contract.startDate | date : "MMM d, y" }} - {{ contract.endDate | date : "MMM d, y" }}
                    </span>
                  </div>
          
                  <div class="d-flex justify-content-between mb-1">
                    <span class="badge" [ngClass]="{
                      'badge-success': contract?.contractStatus === 'SIGNED' || contract?.contractStatus === 'FINISHED',
                      'badge-info': contract?.contractStatus === 'ONGOING',
                      'badge-primary': contract?.contractStatus === 'NEW'
                  }">{{ contract?.contractStatus }}</span>
                  </div>
                </div>
          
          
                <div class="donut-wrapper" *ngIf="loading">
                  <div class="donut multi"></div>
                </div>
                <div *ngIf="!loading && contracts?.length === 0">
                  <h2 class="text-muted mt-5">No Contracts Found.</h2>
                </div>
          
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="this.userRole == 'ORGANIZATION'">
  <div class="col-md-12">
    <div class="card upcomingSessions">
      <div class="card-body d-flex justify-content-between">
        <h3 class="card-title fw-bold">Coaches</h3>
        <a [routerLink]="['/coaches']">
          <span class="seeAll float-end">View all <i class="fas fa-arrow-right"></i></span>
        </a>
      </div>
      <div class="card-body">
        <!-- upcomingsessionsTable list-container container -->
        <table class="table" *ngIf="coaches?.length">
          <thead>
            <th colspan="1">Name</th>
            <th colspan="1">Email</th>
            <th colspan="1">Phone</th>
            <th colspan="1">Created On</th>
            <th colspan="1">Status</th>
            <th colspan="1">Actions</th>
          </thead>
          <tbody class="list-container">
            <tr *ngFor="let coach of coaches">
              <td>{{ coach.fullName }}</td>
              <td>{{ coach.email}}</td>
              <td>{{ coach.msisdn }}</td>
              <td>{{ coach.createdAt | date: "MMM d y"}}</td>

              <td>
                <span class="badge" [ngClass]="{
                    'badge-success': coach?.coachStatus === 'ACTIVE' || coach?.coachStatus === 'NEW',
                    'badge-danger': coach?.coachStatus === 'SUSPENDED',
                    'badge-primary': coach?.coachStatus === 'CLOSED'
                  }">
                  {{ coach.coachStatus }}</span>

              <td class="view">
                <a [routerLink]="['/coachView', coach.id]"><i class="fas fa-external-link-alt"></i></a>
                <!-- <button type="button" class="btn btn-sm btn-success" routerLink="/editclient/{{coach.id}}">View</button> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
          <div class="donut multi"></div>
        </div>
        <div class="d-flex justify-content-center" *ngIf="!loading && !coaches?.length">
          <p class="text-muted mt-5" *ngIf="!loading && !coaches?.length">
            No Coaches Found.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
