
        <app-user></app-user>
<body>
  <div class="container">
    <div class="row mb-3">
      <h1 id="title" class="text-center">Coaching Agreement</h1>
      <div class="col-1"></div>
      <form [formGroup]="contractForm" class="col-10">
        <div class="mb-3 mt-3 description">
          <h3 for="coachingTopic" class="form-label">Coaching Title</h3>
          <input
            type="text"
            class="form-control"
            id="nucoachingTopicmber"
            placeholder="Enter the coaching topic"
            formControlName="coachingTopic"
            required="true"
          />
        </div>
        <br>
        <div class="row">
        <div class="col-6 input-group-prepend">
          <label for="coachingCategory" class="form-label">Coaching Category</label>
          <select class="form-select" aria-label="Default select example"
          formControlName="coachingCategory"
          required="true">
            <option selected>Contract Category</option>
            <option value="INDIVIDUAL">INDIVIDUAL</option>
            <option value="CORPORATE">CORPORATE</option>
          </select>
        </div>
        <div class="col-6 input-group-prepend">
          <label for="clientId" class="form-label">Select Client</label>
          <select class="form-select" aria-label="Default select example"
          formControlName="clientId" 
          required="true">
          <option selected>Select Client you want to make contract with</option>
        
          <!--Loop through clients and form options-->
          <option *ngFor="let client of clients" value="{{client.id}}">{{client.firstName}} {{client.lastName}}</option>
        
          <!--Render the create client button if no clients are found-->
          
          <div *ngIf="!clients" >
            <button class="btn btn-success" routerLink="/addclient">
            Create Client
            </button>
          </div>
        </select>
        
        
        </div>
      </div>
      <br>
        <h3>Schedule & Fees</h3>
        <div class="row">
          <div class="col">
            <label for="number" class="form-label">Start Date</label>
            <input
              type="date"
              class="form-control"
              placeholder="date"
              formControlName="startDate"
              required="true"
            />
          </div>
          <div class="col">
            <label for="number" class="form-label">End Date</label>
            <input
              type="date"
              class="form-control"
              placeholder="date"
              formControlName="endDate"
              required="true"
            />
          </div>
        </div>
        
        <div class="mb-3 mt-3">
          <div class="row">
            <div *ngIf="contractForm.controls['coachingCategory'].value == 'INDIVIDUAL'" class="col-6"
          
            >
          <label for="number" class="form-label"
            >Individual Fees Per Session</label
          >

          
          <input
            type="number"
            class="form-control"
            id="number"
            placeholder="Enter the fee to be paid in USD"
            formControlName="individualFeesPerSession"
            required="true"
          />
          </div>
          <div *ngIf="contractForm.controls['coachingCategory'].value == 'CORPORATE'"class="col-6"
          
          >
          <label for="number" class="form-label">Group Fees Per Session</label>
          <input
            type="number"
            class="form-control"
            id="number"
            placeholder="Enter the fee to be paid in USD"
            formControlName="groupFeesPerSession"
            required="true"
          />
          </div>
        </div>
        <div class="row">
          <div class="col-6">
          <label for="number" class="form-label">No. of Sessions:</label>
          <input
            type="number"
            class="form-control"
            id="number"
            placeholder="Enter number of Sessions"
            formControlName="noOfSessions"
            required="true"
          />
          </div>
        </div>
        </div>
        <section>
          <br>
          <h3>Coaching Goals</h3>
          <br>
          <div class="row mb-3">
            <div class="col-12"></div>
            
              <div class="row">
              <div class="col-6">
                <input [(ngModel)]="Objectives.objective"
                type="text"
                class="form-control"
                placeholder="Add Objective"
                formControlName="objectives"
              />
              </div>
              <div class="col-6">
                <button
                  type="button"
                  class="btn btn-success"
                  (click)="addObjective()"
                >
                  <i class="fa-solid fa-user-plus"></i>Add objective
                </button>
              </div>
             
            </div>
          </div>
          <div class="row">
            <div class="col-10">
              <div class="mb-3">
                <ol>
                  <li *ngFor="let obj of objectives; index as i">{{ obj }} <i 
                    (click)="removeObjective(i)" role="button"
                    class="fa-solid fa-trash-can p-1"></i></li>
                </ol>
              </div>
            </div>
          </div>
        </section>
        <button class="btn " type="button" data-bs-toggle="collapse" data-bs-target="#collapseService" aria-expanded="false" aria-controls="collapseService">
          <h3>Services <i class="fa fa-arrow-circle-down"></i></h3>
        </button>
        <div class="collapse" id="collapseService">
          <div class="card card-body">
        <div class="row">
          <div class="col-10">
       
              The Coach and Client agree to engage in a coaching engagement through
              in-person, email or virtual meetings as agreed by both parties. The
              Coach will be available to the Client by email, Zoom or phone in
              between scheduled meetings as defined by the Coach. The Coach may also
              be available for additional time, on the Client’s request during the
              term of this contract (engaging in other Client-related services
              outside of coaching hours to review goals, read reports, etc.). Time
              outside the agreed bracket as outlined will be at the rate of USD 50
              for every 30-minute time block.
            
          </div>
          </div>
      </div>
      </div>
        <div class="input-group mb-3">
          
          <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTerms" aria-expanded="false" aria-controls="collapseTerms">
            <h3>Terms & Conditions <i class="fa fa-arrow-circle-down"></i></h3>
          </button>
          <br />
          <div class="collapse" id="collapseTerms">
            <div class="card card-body">
          <div class="row">
            <div class="col-10">
          <ol>
            <li>
              Coaching fees are payable in full before each coaching session.
            </li>
            <li>
              That both the Coach and the Client strictly adhere to the agreed
              schedule (unless otherwise by mutual agreement or due to
              acceptable unforeseen emergencies).
            </li>
            <li>
              The coaching sessions will take place in a predetermined location
              agreeable to both parties
            </li>
            <li>
              The Client bears the cost for any calls lasting more than 10
              minutes if the Client so prefers telephone communication.
              Otherwise, the Coach uses internet-based voice communication such
              as Zoom or Skype.
            </li>
          </ol>
          </div>
          </div>
          </div>
          </div>
          <div class="input-group mb-3">
            <button class="btn" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePractice" aria-expanded="false" aria-controls="collapsePractice">
              <h3>Practice <i class="fa fa-arrow-circle-down"></i></h3>
            </button>
            
            <br />
            <div class="collapse" id="collapsePractice">
              <div class="card card-body">
            <p>I, the Client:</p>
        
          <ol>
            <li>
              Fully understand and agree that I am fully responsible for my
              physical, mental and emotional well-being during my coaching
              sessions, including my choices and decisions. I am aware that I
              can choose to discontinue coaching by giving a 14 days’ notice.
            </li>
            <li>
              Understand that Coaching is partnership (defined as an alliance,
              not a legal business partnership) between the Coach and the
              Client. That it is a thought-provoking and creative process that
              inspires the Client to maximize personal and professional
              potential.
            </li>
            <li>
              Understand that Coaching is a Professional–Client relationship I
              have with my Coach that is designed to facilitate the
              creation/development of personal, professional or business goals
              and to develop and carry out a strategy/plan for achieving those
              goals.
            </li>
            <li>
              Understand that coaching is a comprehensive process that may
              involve all areas of my life, including work, finances, health,
              relationships, education and recreation. I acknowledge that
              deciding how to handle these issues, incorporate coaching into
              those areas, and implement my choices is exclusively my
              responsibility.
            </li>
            <li>
              Understand that coaching does not involve the diagnosis or
              treatment of mental disorders. I understand that coaching is not a
              substitute for counselling, psychotherapy, psychoanalysis, mental
              health care or substance abuse treatment and I will not use it in
              place of any form of diagnosis, treatment or therapy.
            </li>
            <li>
              Understand that information will be held in confidence — unless I
              expressly state otherwise in writing — except as required by law.
            </li>
            <li>
              Understand that certain topics may be anonymously and
              hypothetically shared with other coaching professionals purely for
              training purposes, improvement of coaching practice/ methodology
              or advancement of the coaching industry
            </li>
            <li>
              Understand that coaching is not to be used as a substitute for
              professional advice by legal, medical, financial, business,
              spiritual or other qualified professionals. I will seek
              independent professional guidance for legal, medical, financial,
              business, spiritual or other matters.
            </li>
            <li>
              Understand that all decisions in these areas are exclusively mine
              and I acknowledge that my decisions and my actions regarding them
              are my sole responsibility.
            </li>
            <li>Agree to honor my scheduled session times [see Schedule].</li>
          </ol>
          </div>
          </div>
          </div>

              <button
          type="button"
          (click)="addContract()"
          class="btn btn-success"
          [disabled]="!contractForm.valid
        "
                >
                  submit
                </button>
          
