<div class="row">
  <div class="col-5">
        <h3></h3>
  </div>
  <div class="col-5">
    
      <img src="../../../assets/images/CoachMatePRO.png" alt="logo" class="logo" style="  width: 150px;
      height: 100px; padding-top: 0%; margin-top: 0%;">
    
</div>
  <div class="col-2">
        <app-user></app-user>
  </div>
</div>
<h2 style="text-align: center ;" class="" >Receipts</h2>
<div class="row">
<div  class="col-3">
        <input
          type="text"
          class="form-control search-bar text-muted mt-3"
          name="customer"
          [(ngModel)]="filters.searchItem"
          placeholder="Name, Phone or Email"
          autocomplete="off"
        />
      </div>
<div class="col-2">
<button class="btn button-filter  search-bar" >
        <i class="fa fa-search" aria-hidden="true"></i>
        Search
      </button>
</div>
<div class="col-7"></div>
</div>
<div class="mt-3" style="overflow-x:auto;">
  <table>
    <tr>
      <th>#</th>
      <th>Ref No.</th>
      <th>Amount In</th>
      <th>Payed By</th>
      <th>Description</th>
      <th>modeOfPayment</th>
      
      <th>walletBalance</th>
      <th>Created At</th>
      <th>Actions</th>

    </tr>
    <tr *ngFor="let payment of payments.data">
      <td>{{ payment.id}}</td>
      <td>{{ payment.extPaymentRef}}</td>
      <td>{{ payment.amountDeposited}}</td>
      <td>{{ payment.client.firstName }}</td>
      <td>{{ payment.description}}</td>
      <td>{{ payment.modeOfPayment}}</td>
      <td>{{ payment.walletBalance}}</td>
      <td>{{ payment.createdAt | date: "MMM d y" }}</td>
      <td >
            <div class=""> <i   data-bs-toggle="modal"
              data-bs-target="#invoicemodal"class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
    </td>
    </tr>
</table>
</div>
<!-- invoice modal -->
<div class="modal fade" id="invoicemodal" tabindex="-1" role="dialog" aria-labelledby="receiptModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <div class="modal-body" id="invoice">
        <div class="m-2" >
          <img src="../../../assets/images/CoachMatePRO.png" alt="logo" class="logo" style="  width: 150px;
      height: 100px; padding-top: 0%; margin-top: 0%;">

          <div class="customer-details" *ngIf="payment">
            <div class="d-flex justify-content-between">
              <span class="title">payment No</span>
              <span class="value">{{ payment.extPaymentRef}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Customer name</span>
              <span class="value">{{ payment.client.firstName }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Event type</span>
              <span class="value">{{ payment.modeOfPayment}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">paymented on</span>
              <span class="value">{{ payment.createdAt | date: "MMM d y" }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Description</span>
              <span class="value">{{ payment.description}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">payment amount</span>
              <span class="value">{{ payment.paymentAmount }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Amount paid</span>
              <span class="value">{{ payment.amountDeposited}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Wallet Balance</span>
              <span class="value">{{ payment.walletBalance}}</span>
            </div>
          </div>

        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="close btn-secondary" data-bs-dismiss="modal">Close</button>
        <button
      class="download btn-add"
      (click)="savePdf()"
    >
    <i class="fa fa-download"></i>
      Download
    </button>
      </div>
    </div>
  </div>
</div>
