<div class="row">
  <div class="col  mt-4" style="margin-left: 5px;">
    <h3 class="fw-semi-bold f-weight fs-5" >Receipts</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="filters-section">
      <div class="wrap">
        <select class="form-control" name="codes" [(ngModel)]="statementPeriod" (change)="applyFilter()">
          <option value="" selected>Filter By Period</option>
          <option value="PerMonth">1 month</option>
          <option value="Per6Months">6 months</option>
          <option value="PerYear">1 year</option>
        </select>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="input-group mb-3">
      <input type="text" class="form-control" name="customer"  aria-describedby="button-addon2"
        [(ngModel)]="filters.searchItem" placeholder="Client Name and Date '2000-10-31'"/>
      <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="filterByClientNameAndDate()"
        (click)="getPaymentsByClientId(this.ClientId)" (click)="getPaymentsByOrganizationId()">Search</button>
    </div>
  </div>

  <div class="col-md-2">
    <button type="button" routerLink="/record-payment" class="btn btn-outline-success" *ngIf="this.userRole != 'CLIENT'">
      <i class="fa fa-plus"></i>Add Payment
    </button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table" *ngIf="payments?.length !=0">
          <thead>
            <tr>
              <th>Payed By</th>
              <th>Amount In</th>
              <th>Mode Of Payment</th>
              <th>Wallet Balance</th>
              <th>Created On</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let payment of payments">
              <td>{{ payment.client.firstName }}</td>
              <td>{{ payment.amountDeposited}}</td>
              <td>{{ payment.modeOfPayment}}</td>
              <td>{{ payment.walletBalance}}</td>
              <td>{{ payment.createdAt | date: "MMM d y" }}</td>
              <td>
                <div class="view"> <i data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)"
                    class="fa-solid fa-arrow-up-right-from-square"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
          <div class="donut multi"></div>
        </div>
        <p class="text-muted mt-5" *ngIf="!loading && !payments.length">
          No receipts Found.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- invoice modal -->
<div class="modal fade" id="invoicemodal" tabindex="-1" role="dialog" aria-labelledby="receiptModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" id="invoice">
        <div class="m-2">
          <img src="../../../assets/images/CoachMatePRO.png" alt="logo" class="logo" style="  width: 300px;
      height: 200px; padding-top: 0%; margin-top: 0%;">

          <div class="customer-details" *ngIf="payment">
            <div class="d-flex justify-content-between">
              <span class="title">payment No</span>
              <span class="value">{{ payment.extPaymentRef}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Customer name</span>
              <span class="value">{{ payment.client.firstName }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Mode of payment</span>
              <span class="value">{{ payment.modeOfPayment}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">paymented on</span>
              <span class="value">{{ payment.createdAt | date: "MMM d y" }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Description</span>
              <span class="value">{{ payment.description}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">payment amount</span>
              <span class="value">{{ payment.amountBilled }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Amount paid</span>
              <span class="value">{{ payment.amountDeposited}}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Wallet Balance</span>
              <span class="value">{{ payment.walletBalance}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="close btn-cancel" data-bs-dismiss="modal">Close</button>
        <button class="download btn-outline-success" (click)="savePdf()">
          <i class="fa fa-download"></i>
          Download
        </button>
      </div>
    </div>
  </div>
</div>
