<div class="row">
  <div class="col mt-4" style="margin-left: 5px">
    <h3 class="fw-semi-bold f-weight fs-5">Receipts</h3>
  </div>
</div>

<div class="d-none d-lg-block">
  <div class="row">
    <div class="col-md-3">
      <div class="filters-section">
        <div class="wrap">
          <select class="form-control" name="codes" (change)="filterByStatus($event)">
            <option value="" selected>Filter By Period</option>
            <option value="PER_MONTH">1 month</option>
            <option value="PER_6_MONTHS">6 months</option>
            <option value="PER_YEAR">1 year</option>
          </select>
        </div>
      </div>
    </div>
  
    <div class="col-md-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" aria-describedby="button-addon2" [(ngModel)]="filters.search"
          placeholder="Client Name. Phone or Email" *ngIf="this.userRole != 'CLIENT'" />
        <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="getAllPayments(0)"
          *ngIf="this.userRole != 'CLIENT'">
          Search
        </button>
      </div>
    </div>
  
    <div class="col-md-2">
      <button type="button" routerLink="/record-payment" class="btn btn-outline-success"
        *ngIf="this.userRole != 'CLIENT'">
        <i class="fa fa-plus"></i>Add Payment
      </button>
    </div>
  </div>
</div>

<div class="row d-none d-lg-block">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <table class="table" *ngIf="payments.length > 0">
          <thead>
            <tr>
              <th scope="col" *ngIf="this.userRole != 'CLIENT'">Payed By</th>
              <th scope="col">Amount In</th>
              <th scope="col">Mode Of Payment</th>
              <th scope="col">Wallet Balance</th>
              <th scope="col">Created On</th>
              <th scope="col">Actions</th>
            </tr>
          </thead>
          <tbody class="list-container">
            <tr *ngFor="let payment of payments | paginate: {itemsPerPage: pageSize,currentPage:page,totalItems:totalElements}">
              <td *ngIf="this.userRole != 'CLIENT'" data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)">{{ payment?.clientFullName }}</td>
              <td data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)">{{ payment.amountDeposited + " " + payment.paymentCurrency }}</td>
              <td data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)">{{ payment.modeOfPayment }}</td>
              <td data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)">{{ payment.walletBalance }}</td>
              <td data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)">{{ payment.createdAt | date : "MMM d y" }}</td>
              <td>
                <!-- <div class="view">
                  <i
                    data-bs-toggle="modal"
                    data-bs-target="#invoicemodal"
                    (click)="viewInvoice(payment)"
                    class="fa-solid fa-arrow-up-right-from-square"
                  ></i>
                </div> -->
                <div class="view">
                  <i data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)" class="fa fa-download"></i>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
          <div class="donut multi"></div>
        </div>
        <p class="text-muted mt-5" *ngIf="!loading && !payments?.length">
          No receipts Found.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="show-sm">
  <div class="card">
    <div class="card-body">
      <div class="row" [@fadeIn]>
        <div class="col-md-4">
          <div class="input-group mb-3">
            <input type="text" class="form-control" aria-describedby="button-addon2" [(ngModel)]="filters.search"
              placeholder="Client Name. Phone or Email" *ngIf="this.userRole != 'CLIENT'" />
            <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="getAllPayments(0)"
              *ngIf="this.userRole != 'CLIENT'">
              Search
            </button>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-end mt-2 mb-2">
        <div (click)="toggleFilters()">
          Filters
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
            viewBox="0 0 16 16">
            <path
              d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg>
        </div>
      </div>

      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-end mt-2 mb-2">
            <div>
              <button type="button" routerLink="/record-payment" class="btn btn-outline-success" *ngIf="this.userRole != 'CLIENT'">
                <i class="fa fa-plus"></i>
              </button>
            </div>
          </div>
  
          <div class="pt-3 pb-2 listing-item" *ngFor="let payment of payments | paginate: {itemsPerPage: pageSize,currentPage:page,totalItems:totalElements}"
            data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)">

            <div class="d-flex justify-content-between">
              <h4 class="farmer" *ngIf="this.userRole != 'CLIENT'">
                {{ payment?.clientFullName | titlecase }}
              </h4>
  
              <span class="no-word-break">{{ payment?.modeOfPayment | titlecase }}
                <a data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewInvoice(payment)"><i class="fa fa-angle-right"></i></a>
              </span>
            </div>
  
            <div class="d-flex justify-content-between mb-2">
              <span class="customer-name" class="mb-0">
                {{ payment?.amountDeposited }}</span>
            </div>
            <div class="d-flex justify-content-between mb-2">
              <span class="customer-name" class="mb-0">
                {{ payment?.createdAt | date : "MMM d y"  }}
              </span>
            </div>
          </div>
  
          <div class="donut-wrapper" *ngIf="loading">
            <div class="donut multi"></div>
          </div>
          <div *ngIf="!loading && !payments?.length">
            <h2 class="text-muted mt-5">No Payments Found.</h2>
          </div>
  
        </div>
      </div>
    </div>
  </div>
</div>

<!-- invoice modal -->
<div class="modal fade" id="invoicemodal" tabindex="-1" role="dialog" aria-labelledby="receiptModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="row d-flex justify-content-end">
          <img src="../../../assets/images/CoachMatePRO.png" alt="logo" class="logo" style="width: 300px; height: 200px; padding-top: 0%; margin-top: 0%"/>
        </div>
      </div>
      <div class="modal-body" id="invoice">
        <div class="m-2">
          <div class="row">
            <div class="d-flex justify-content-between">
              <span class="title">Billed to</span>
              <span class="value">{{ payment?.clientFullName }}</span>
            </div>
              <div class="d-flex justify-content-between">
                <span class="title">Payment Ref:</span>
                <span class="value">{{ payment?.extPaymentRef }}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="title">Receipt Date:</span>
                <span class="value">{{ today | date: "MMM d y" }}</span>
              </div>
              <div class="d-flex justify-content-between">
                <span class="title">Payment Date:</span>
                <span class="value">{{ payment?.createdAt | date: "MMM d y" }}</span>
              </div>
            </div>

          <hr>
          <div class="row" *ngIf="payment">
            <div class="d-flex justify-content-between">
              <span class="title">Mode of payment</span>
              <span class="value">{{ payment.modeOfPayment }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span class="title">Amount paid</span>
              <span class="value">{{ payment.amountDeposited }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button class="btn btn-outline-success" (click)="savePdf()">
          <i class="fa fa-download"></i>
          Download
        </button>
      </div>
    </div>
  </div>
</div>





<!-- filter modal  -->
<div class="add-options-container show-sm" [ngClass]="{'active-panel':showFilters}">

  <div class="add-options-panel" *ngIf="showFilters" [@fadeIn]>
    <div class="add-options-panel-heading">
      <h4>Filter Status</h4>
      <button type="button" class="btn-close" (click)="toggleFilters()" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>


    <div class="mb-1 border-bottom">
      <div class="add-filter-option" *ngFor="let period of statementPeriod;index as i"
        (click)="filters.status = period">
        <span>{{period | titlecase}}</span>
        <span class="checkbox-border">
          <span class="checkbox-circle" [ngClass]="{'active-checkbox-circle':period === filters.status}"></span>
        </span>
      </div>
    </div>

    <div class="action-buttons mb-4">
      <button class="btn btn-cancel" (click)="toggleFilters();resetPeriod()">Reset</button>
      <button class="btn btn-outline-success" (click)="toggleFilters();filterByStatus(0)">Filter</button>
    </div>
  </div>

</div>
