<div class="row">
  <div class="col mt-4" style="margin-left: 5px">
    <h2 class="fw-bold"><i class="fas fa-chevron-left pe-3 pt-1 back-icon back" (click)="back()"></i>Sessions</h2>
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-md-8 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row dtl">
          <h3 class="fw-bold col">Details</h3>

          <div class="col">
            <a class="btn btn-outline-success" *ngIf="this.userRole == 'CLIENT'" data-bs-toggle="modal"
              data-bs-target="#addfeedbackModal">Give Feedback</a>


            <div class="dropdown" *ngIf="this.userRole != 'CLIENT'">
              <a class="btn btn-outline-success dropdown-toggle" role="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Actions
              </a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <li class="dropdown-item" *ngIf="userRole === 'COACH'">
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#attachmentModal"
                    (click)="addAttachment()">Add Attachments
                  </a>
                </li>

                <li *ngIf="this.userRole == 'COACH'" class="dropdown-item">
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#confirmsessionModal"
                    (click)="statusState('CONFIRMED')">Confirm
                  </a>

                </li>
                <li *ngIf="this.userRole == 'COACH'" class="dropdown-item">
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#conductedsessionModal"
                    (click)="statusState('CONDUCTED')">conducted</a>
                </li>
                <li *ngIf="this.userRole == 'COACH'" class="dropdown-item">
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#cancelsessionModal"
                    (click)="statusState('CANCELLED')">Cancel</a>
                </li>
                <li class="dropdown-item">
                  <a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#editsessionModal"
                    (click)="editSession(sessions)">Reschedule</a>
                </li>
              </ul>
            </div>

          </div>

        </div>

        <br>

        <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
          <div class="donut multi"></div>
        </div>

        <div class="col-md-12" [@fadeIn] *ngIf="sessions">
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font faded col">Session Ref</h6>
            <p class="col">{{ sessions?.sessionNumber }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font col">Name</h6>
            <p class="col">{{ sessions?.name }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font col">Client name</h6>
            <p class="col">{{ sessions?.clientFullName }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font col">Date</h6>
            <p class="col">{{ sessions?.sessionSchedulesSessionDate }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font col">Start Time</h6>
            <p class="col">{{ sessions?.sessionSchedulesStartTime }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font faded col">End Time</h6>
            <p class="col">{{ sessions?.sessionSchedulesEndTime }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font faded col">Session type</h6>
            <p class="col">{{ sessions?.sessionType }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font col">Status</h6>
            <p class="col">
              <span _ngcontent-tvo-c211="" class="badge ng-tns-c211-5" [ngClass]="{
                'badge-success': sessions?.sessionStatus === 'CONFIRMED',
                'badge-danger': sessions?.sessionStatus === 'CANCELLED',
                'badge-primary': sessions?.sessionStatus === 'NEW' || sessions?.sessionStatus === 'CONDUCTED'
              }">
                {{ sessions?.sessionStatus }}
              </span>


            </p>
          </div>


          <div class="row dtl">
            <h6 class="fw-semi-bold smaller-font col">Venue</h6>
            <p class="col">{{ sessions?.sessionVenue }}</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<br>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-12">
            <!--Tabs-->
            <div class="d-none d-lg-block">
              <ul *ngIf="userRole !== 'CLIENT'" class="nav nav-tabs md-tabs nav-justified" id="myTabJust"
                role="tablist">
                <li class="nav-item" (click)="toggleTab('feedback')">
                  <a class="nav-link" [class.active]="currentTab === 'feedback'" id="home-tab-just" data-toggle="tab"
                    role="tab" aria-controls="home-just" aria-selected="true"><i class="far fa-comment-alt"
                      style="color: green"></i> Feedback</a>
                </li>
                <li class="nav-item" (click)="toggleTab('attachments')">
                  <a class="nav-link" [class.active]="currentTab === 'attachments'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fas fa-paperclip" style="color: green"></i> Attachments</a>
                </li>
              </ul>
            </div>

            <div class="show-sm">
              <ul class="nav nav-tabs md-tabs nav-justified" id="myTabJust" role="tablist">
                <li class="nav-item" (click)="toggleTab('feedback')">
                  <a class="nav-link" [class.active]="currentTab === 'feedback'" id="home-tab-just" data-toggle="tab"
                    role="tab" aria-controls="home-just" aria-selected="true"><i class="far fa-comment-alt"
                      style="color: green"></i></a>
                </li>
                <li class="nav-item" (click)="toggleTab('attachments')">
                  <a class="nav-link" [class.active]="currentTab === 'attachments'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fas fa-paperclip" style="color: green"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <br>

        <div *ngIf="currentTab === 'feedback'" [@fadeIn]>
          <div class="d-none d-lg-block">
            <div class="row justify-content-center">
              <table class="table" *ngIf="feedbacks?.length">
                <thead>
                  <tr>
                    <th scope="col">Availability</th>
                    <th scope="col">Clarification Score</th>
                    <th scope="col">Emotional Intelligence</th>
                    <th scope="col">Listening Skills</th>
                    <th scope="col">Understanding</th>
                    <th scope="col">Average</th>
                    <th scope="col">Comments</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let feedback of feedbacks">
                    <td>{{ feedback.availabilityScore }}</td>
                    <td>{{ feedback.emotionalIntelligenceScore }}</td>
                    <td>{{ feedback.clarificationScore }}</td>
                    <td>{{ feedback.listeningSkillsScore }}</td>
                    <td>{{ feedback.understandingScore }}</td>
                    <td>{{ feedback.overallScore }}</td>
                    <td class="view">
                      <a data-bs-toggle="modal" data-bs-target="#feedbackModal" (click)="viewComment(feedback)">
                        <i class="far fa-comment-alt"></i>
                      </a>
                    </td>
                  </tr>


                </tbody>

              </table>
              <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <p class="text-muted mt-5" *ngIf="!loading && !feedbacks.length">
                No feedbacks Found.
              </p>
            </div>
          </div>

          <div class="show-sm">
            <div class="pt-3 pb-2 listing-item" *ngFor="let feedback of feedbacks">

              <div class="d-flex justify-content-between">
                <h4 class="farmer" class="mb-0">
                  Over all: {{ feedback.overallScore }}
                </h4>

                <span class="no-word-break">
                  Emotional Intelligence: {{ feedback.emotionalIntelligenceScore }}
                </span>
              </div>

              <div class="d-flex justify-content-between mb-2">
                <span class="customer-name" class="mb-0">
                  Clarification: {{ feedback.clarificationScore }}
                </span>
                <span class="no-word-break">
                  <a data-bs-toggle="modal" data-bs-target="#feedbackModal" (click)="viewComment(feedback)">
                    <i class="far fa-comment-alt"></i>
                  </a>
                </span>
              </div>
              <div class="d-flex justify-content-between mb-2">
                <span class="customer-name" class="mb-0">
                  Listening Skills: {{ feedback.listeningSkillsScore }}
                </span>
              </div>

              <div class="d-flex justify-content-between mb-1">
                <span class="customer-name" class="mb-0">
                  Understanding: {{ feedback.understandingScore }}
                </span>
              </div>
              <div class="d-flex justify-content-between mb-1">
                <span class="customer-name" class="mb-0">
                  Availability: {{ feedback.availabilityScore  }}
                </span>
              </div>
            </div>

            <div class="donut-wrapper" *ngIf="loading">
              <div class="donut multi"></div>
            </div>
            <p class="text-muted mt-5" *ngIf="!loading && !feedbacks.length">
              No feedbacks Found.
            </p>
          </div>
        </div>


        <div *ngIf="currentTab === 'attachments'" [@fadeIn]>

          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#attachmentModal">
              <i class="fa fa-plus"></i> Attachments
            </button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table" *ngIf="attachments?.length">
                <thead>
                  <th scope="col">Link</th>
                  <th scope="col">Created At</th>
                  <th scope="col">Last Updated At</th>
                  <!-- <th scope="col">Action</th> -->
                </thead>
                <tbody>
                  <tr *ngFor="let attachment of attachments">
                    <td class="view"><a href="{{ attachment.link }}" target="_blank">{{ attachment.link }}</a></td>
                    <td>{{ attachment.createdAt | date: "MMM d, y" }}</td>
                    <td>{{ attachment.lastUpdatedAt | date: "MMM d, y" }}</td>
                    <!-- <td class="view">
                      <a><i class="fa-solid fa-trash-can" (click)="deleteAttachment(attachment.id)"></i></a>
                    </td> -->
                  </tr>
                </tbody>
              </table>
              <p class="text-muted mt-5" *ngIf="!loading && !attachments.length">
                No attachment Found.
              </p>
            </div>
          </div>
        </div>

        <div class="show-sm">
          <div class="pt-3 pb-2 listing-item" *ngFor="let attachment of attachments">
            <div class="d-flex justify-content-between">
              <h4 class="farmer" class="mb-0">
                Attachment No: {{ attachment.attachmentNo }}
              </h4>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <span class="customer-name" class="mb-0">
                Attachment date: {{ attachment.createdAt | date : "MMM d, y " }}
              </span>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <span class="customer-name" class="mb-0">
                Details: {{ attachment.links }}
              </span>
            </div>

            <div class="d-flex justify-content-between mb-1">
              <span class="customer-name" class="mb-0">
                <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#attachmentDetailModal">
                  View
                </button>
              </span>
            </div>
          </div>

          <div class="donut-wrapper" *ngIf="loading">
            <div class="donut multi"></div>
          </div>
          <p class="text-muted mt-5" *ngIf="!loading && !attachments.length">
            No attachment Found.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Notification details modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Notification Details
        </h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="notification">
        <div class="d-flex justify-content-between">
          <p>Destination</p>
          <span>{{ notification.destinationAddress }}</span>
        </div>

        <div class="d-flex justify-content-between">
          <p>Source Address</p>
          <span>{{ notification.sourceAddress}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Sent on:</p>
          <span>{{ notification.createdAt | date : "MMM d, y " }}</span>
        </div>
        <div class="d-flex-column">
          <p>Content:</p>
          <span>{{ notification.content }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- edit session modal -->
<div class="modal fade" id="editsessionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit session</h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="editedsessionForm">
          <div class="row p-2">
            <div class=" mb-3 col-md-6">
              <label for="name">Session Name *</label>
              <input formControlName="name" value="{{currentSession?.name}}" id="name" name="name" type="text"
                class="form-control" required />
            </div>
            <div class=" mb-3 col-md-6">
              <label for="sessionType">Session Type *</label>
              <input formControlName="sessionType" value="{{currentSession?.sessionType}}" id="sessionType" type="text"
                class="form-control" placeholder="Enter Session Type" name="sessionType" required />
            </div>
          </div>
          <div class="row p-2">
            <div class="mb-3 col-md-6">
              <label for="sessionStartTime">From *</label>
              <input formControlName="sessionStartTime" value="{{currentSession?.sessionStartTime}}"
                id="sessionStartTime" type="time" class="form-control" placeholder="Time" name="session_time_from">
            </div>
            <div class="mb-3 col-md-6">
              <label for="sessionEndTime">To *</label>
              <input formControlName="sessionEndTime" value="{{currentSession?.sessionEndTime}}" id="sessionEndTime"
                type="time" class="form-control" placeholder="Time" name="session_time_to">
            </div>
          </div>
          <div class="row p-2">
            <div class=" mb-3 col-md-6 ">
              <label class="form-group-text" for="sessionVenue">Session Venue *</label>
              <select formControlName="sessionVenue" value="{{currentSession?.sessionVenue}}" id="sessionVenue"
                class="form-control" name="sessionVenue">
                <option value="VIRTUAL">VIRTUAL</option>
                <option value="PHYSICAL">PHYSICAL

                <option value="PHYSICAL">PHYSICAL</option>
              </select>
            </div>
            <div class=" mb-3 col-md-6">
              <label for="sessionDate">Session Date *</label>
              <input formControlName="sessionDate" value="{{currentSession?.sessionDate}}" id="sessionDate" type="date"
                class="form-control" placeholder="Date" name="sessionDate">
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-submit" data-bs-dismiss="modal" (click)="editedSession(currentSession.id)">
          Update session
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Confirm session modal -->
<div class="modal fade bd-example-modal-lg" id="confirmsessionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm session</h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p>Client Name</p>
          <span>{{
            sessions?.clientFullName 
              | titlecase
          }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Session name</p>
          <span>{{ sessions?.name }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-submit" data-bs-dismiss="modal" (click)=" changeSessionStatus()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- conducted session modal -->
<div class="modal fade bd-example-modal-lg" id="conductedsessionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">
          set session as conducted
        </h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p>Client Name</p>
          <span>{{
            sessions?.clientFullName 
              | titlecase
          }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Session name</p>
          <span>{{ sessions?.name }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-submit" data-bs-dismiss="modal" (click)=" changeSessionStatus()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Cancel session modal -->
<div class="modal fade bd-example-modal-lg" id="cancelsessionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Cancel session</h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p>Client Name</p>
          <span>{{
            sessions?.clientFullName 
              | titlecase
          }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Session</p>
          <span>{{ sessions?.name }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-submit" data-bs-dismiss="modal" (click)=" changeSessionStatus()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Delete session modal -->

<div class="modal fade bd-example-modal-lg" id="deletesessionModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Delete session</h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p>Client Name</p>
          <span>{{
            sessions?.clientFullName 
              | titlecase
          }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Session</p>
          <span>{{ sessions?.name }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-submit" data-bs-dismiss="modal" (click)=" changeSessionStatus()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>


<!-- Add Feedback Modal -->
<div class="modal fade" id="addfeedbackModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-x1">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Give Session Feedback</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <h3>Session Feedback Form</h3>
        <p>Thank you for choosing to work with our professional coach.
          We value your feedback and would appreciate if you could take a few minutes to complete this form.
          Your input will help us to continue to improve our coaching services and ensure that you have the best
          experience possible.
          Please rate each statement on a scale of 1-5, with 1 being the least and 5 being the most.
          Your comments and suggestions are also welcome. Thank you for your time and support.</p>
        <form [formGroup]="feebackForm">
          <div class="form-group">
            <label for="goalSetting">1. My coach helped me to bring out my goals, values and beliefs as they affect me
              personally and professionally:</label>
            <div class="form-group__rating">
              <input type="radio" formControlName="understandingScore" value="1" required id="goalSetting1">
              <label for="goalSetting1">1</label>
              <input type="radio" formControlName="understandingScore" value="2" required id="goalSetting2">
              <label for="goalSetting2">2</label>
              <input type="radio" formControlName="understandingScore" value="3" required id="goalSetting3">
              <label for="goalSetting3">3</label>
              <input type="radio" formControlName="understandingScore" value="4" required id="goalSetting4">
              <label for="goalSetting4">4</label>
              <input type="radio" formControlName="understandingScore" value="5" required id="goalSetting5">
              <label for="goalSetting5">5</label>
            </div>
          </div>
          <div class="form-group">
            <label for="emotionManagement">2. My coach demonstrated an ability to work with strong emotions and was
              not overpowered:</label>
            <div class="form-group__rating">
              <input type="radio" formControlName="emotionalIntelligenceScore" value="1" required
                id="emotionManagement1">
              <label for="emotionManagement1">1</label>
              <input type="radio" formControlName="emotionalIntelligenceScore" value="2" required
                id="emotionManagement2">
              <label for="emotionManagement2">2</label>
              <input type="radio" formControlName="emotionalIntelligenceScore" value="3" required
                id="emotionManagement3">
              <label for="emotionManagement3">3</label>
              <input type="radio" formControlName="emotionalIntelligenceScore" value="4" required
                id="emotionManagement4">
              <label for="emotionManagement4">4</label>
              <input type="radio" formControlName="emotionalIntelligenceScore" value="5" required
                id="emotionManagement5">
              <label for="emotionManagement5">5</label>
            </div>
          </div>
          <div class="form-group">
            <label for="activeListening">3. My coach asked questions that demonstrated active listening and
              understanding of my perspective and encouraged clarity, learning and exploration:</label>
            <div class="form-group__rating">
              <input type="radio" formControlName="listeningSkillsScore" value="1" required id="activeListening1">
              <label for="activeListening1">1</label>
              <input type="radio" formControlName="listeningSkillsScore" value="2" required id="activeListening2">
              <label for="activeListening2">2</label>
              <input type="radio" formControlName="listeningSkillsScore" value="3" required id="activeListening3">
              <label for="activeListening3">3</label>
              <input type="radio" formControlName="listeningSkillsScore" value="4" required id="activeListening4">
              <label for="activeListening4">4</label>
              <input type="radio" formControlName="listeningSkillsScore" value="5" required id="activeListening5">
              <label for="activeListening5">5</label>
            </div>

          </div>
          <div class="form-group">
            <label for="clarification">4. My coach was able to repeat what I said for clarification:</label>
            <div class="form-group__rating">
              <input type="radio" formControlName="clarificationScore" value="1" required id="clarification1">
              <label for="clarification1">1</label>
              <input type="radio" formControlName="clarificationScore" value="2" required id="clarification2">
              <label for="clarification2">2</label>
              <input type="radio" formControlName="clarificationScore" value="3" required id="clarification3">
              <label for="clarification3">3</label>
              <input type="radio" formControlName="clarificationScore" value="4" required id="clarification4">
              <label for="clarification4">4</label>
              <input type="radio" formControlName="clarificationScore" value="5" required id="clarification5">
              <label for="clarification5">5</label>
            </div>
          </div>
          <div class="form-group">
            <label for="presence">5. I felt that the coach was fully present and flexible during the session:</label>
            <div class="form-group__rating">
              <input type="radio" formControlName="availabilityScore" value="1" required id="presence1">
              <label for="presence1">1</label>
              <input type="radio" formControlName="availabilityScore" value="2" required id="presence2">
              <label for="presence2">2</label>
              <input type="radio" formControlName="availabilityScore" value="3" required id="presence3">
              <label for="presence3">3</label>
              <input type="radio" formControlName="availabilityScore" value="4" required id="presence4">
              <label for="presence4">4</label>
              <input type="radio" formControlName="availabilityScore" value="5" required id="presence5">
              <label for="presence5">5</label>
            </div>

          </div>
          <div class="form-group">
            <label for="additionalComments">Additional Comments:</label>
            <textarea formControlName="comments" id="additionalComments"></textarea>
          </div>

        </form>
      </div>
   
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="button" data-bs-dismiss="modal" class="btn btn-success" [disabled]="!feebackForm.valid" (click)="giveFeedback()">Save
          changes</button>
      </div>
    </div>
  </div>
</div>

<!-- feedback details modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          feedback Comments
        </h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="feedback">
        <div class="d-flex-column">
          <span>{{ feedback.comments }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- add attachment modal -->
<div class="modal fade" id="attachmentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Attachments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form (submit)="addAttachment()" class="modal-body">
        <section>
          <h3>Links</h3>
          <div class="mb-3">
            <div class="input-group">
              <input [(ngModel)]="addlink" type="text" name="link" class="form-control input-height"
                placeholder="Add link">
              <button type="button" class="btn btn-success btn-match-height" [disabled]="!addlink"
                (click)="addLink()"><i class="fa fa-plus"></i> Add</button>
            </div>
          </div>

          <div class="mb-3">
            <ol>
              <li class="view" *ngFor="let link of links; index as i">
                {{ link.link?.slice(0, 40) }}
                  <a><i class="fa-solid fa-trash-can p-1" (click)="removeLink(i)"></i></a>
              </li>
            </ol>
          </div>
        </section>

        <!-- <section>
          <h3>Files</h3>
          <div class="mb-3">
            <div class="input-group">
              <input type="file" id="fileInput" multiple (change)="onFileSelected($event)"
                class="form-control-file input-height">
              <button class="btn btn-success btn-match-height" style="transform: translateY(-0.5cm);" type="button"
                (click)="addFile()">Add</button>
            </div>
          </div>
          <div class="mb-3">
            <ol>
              <li *ngFor="let file of files; let i = index">
                <span>{{ file.name }}</span>
                <button type="button" (click)="removeFile(i)"
                  class="btn btn-link text-danger btn-match-height">Remove</button>
              </li>
            </ol>
          </div>
        </section> -->

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-small" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success btn-small" data-bs-dismiss="modal" (click)="addAttachment()">Add Attachment</button>
        </div>

      </form>

    </div>
  </div>
</div>

<!-- attachment details modal -->
<div class="modal fade" id="attachmentDetailModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class=" d-flex  modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Attachments
        </h1>

        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="feedback">
        <div class="d-flex-column">
          <span>{{ feedback.comments }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
