<div class="row">
    <div class="col-2">
        <i class="fa-solid fa-bell"></i>
        
    </div>
    <div class="col-5">
        <h6>{{businessName}}  <span class="profile-img">
        <i class="fa-solid fa-user"></i>
         </span>
        </h6>
        
    </div>

    <div class="col-5">
        <button class="btn btn-outline-dark" routerLink="/signin" (click)="logOut()">
        <!-- <i class="fa fa-sign-out" aria-hidden="true" ></i> -->Logout
        </button>
      </div>    
</div>

    