<div class="row">
  <div class="col  mt-4" style="margin-left: 5px;">
    <h3 class="fw-semi-bold f-weight fs-5">Contracts</h3>
  </div>
</div>

<div class="d-none d-lg-block">
  <div class="row justify-content-center">
    <div class="col-md-12 col-sm-12">

      <div class="row">
        <div class="col-md-3">
          <div class="filters-section">
            <div class="wrap">
              <select class="form-control" name="codes" [(ngModel)]="filters.status" (change)="getAllContracts(0)">
                <option value="">Filter By Status</option>
                <option value="NEW">NEW</option>
                <option value="SIGNED">SIGNED</option>
                <option value="ONGOING">ONGOING</option>
                <option value="FINISHED">FINISHED</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Client Name"
              aria-label="Client Name" aria-describedby="button-addon2" [(ngModel)]="filters.searchItem">
            <button class="btn btn-outline-success" type="button" id="button-addon2"
              (click)="getAllContracts(0)">Search</button>
          </div>
        </div>
        <div class="col-md-2 mr-1" *ngIf="this.userRole != 'CLIENT'">
          <button type="button" routerLink="/add-contract" class="btn btn-outline-success">
            <i class="fa fa-plus"></i> Add Contract
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <table class="table" *ngIf="contracts?.length">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Client</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">No Of Sessions</th>
                    <th scope="col">Amount Due</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let contract of contracts | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }">
                    <td>{{ contract?.coachingTopic}}</td>
                    <td>{{ contract?.coachingCategory }}</td>
                    <td>{{ contract?.clientFullName }}</td>
                    <td>{{ contract?.startDate | date : "MMM d, y" }}</td>
                    <td>{{ contract?.endDate | date : "MMM d, y" }}</td>
                    <td>{{ contract?.noOfSessions}}</td>
                    <td>{{ contract?.amountDue }}</td>
                    <td>
                      <span class="badge" [ngClass]="{
                    'badge-success': contract?.contractStatus === 'SIGNED' || contract?.contractStatus === 'FINISHED',
                    'badge-info': contract?.contractStatus === 'ONGOING',
                    'badge-primary': contract?.contractStatus === 'NEW'
                  }">{{ contract?.contractStatus }}</span>
                    </td>
                    <td class="view">
                      <a [routerLink]="['/contractDetail/', contract.id]"><i class="fas fa-external-link-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <p class="text-muted mt-5" *ngIf="!loading && !contracts?.length">
                No Contracts Yet.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
<div class="text-center" *ngIf="totalElements > 15">
  <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
<br>
