<div class="row">
  <div class="col-5">
        <h3>Feedbacks</h3>
  </div>
  <div class="col-5">
    
      <img src="../../../assets/images/CoachMatePRO.png" alt="logo" class="logo" style="  width: 150px;
      height: 100px; padding-top: 0%; margin-top: 0%;">
    
</div>
  <div class="col-2">
        <app-user></app-user>
  </div>
</div>

  <br>

  <div class="row list-container container ">
    <table class="table">
      <thead>
        <tr>
       
          <th scope="col">Comments</th>
          <th scope="col">Session Name</th>
          <th scope="col">Client Name</th>
          <th scope="col">Phone Number</th>
          <th scope="col">availabilityScore</th>
          <th scope="col">clarificationScore</th>
          <th scope="col">emotionalIntelligenceScore</th>
          <th scope="col">listeningSkillsScore</th>
          <th scope="col">understandingScore</th>
          <th scope="col">overallScore</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let feedback of Feedbacks">
      
          <td>{{ feedback.comments }}</td>
          <td>{{ feedback.session.name }}</td>
          <td>{{ feedback.client.firstName }}</td>
          <td>{{ feedback.client.msisdn }}</td>
          <td>{{ feedback.availabilityScore }}</td>
          <td>{{ feedback.clarificationScore }}</td>
          <td>{{ feedback.emotionalIntelligenceScore }}</td>
          <td>{{ feedback.listeningSkillsScore }}</td>
          <td>{{ feedback.understandingScore }}</td>
          <td>{{ feedback.overallScore }}</td>
          
        </tr>
      </tbody>
    </table>
    <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
      <div class="donut multi"></div>
    </div>
    <p class="text-muted mt-5" *ngIf="!loading && !Feedbacks.length">
      No clients Found.
    </p>
  </div>