<body>
    <h1>Log into the CMS</h1>
    <form method="post" action=''>
      <fieldset>
        <label for="email">Enter your Email: <br><input id="email" name="email" type="email" required /></label>
        <label for="password">Enter your password: <br><input id="password" name="password" type="password" required /></label>
      </fieldset>
      <fieldset>
        <label for="show password">Show password <input class="checkbox" type="checkbox" name="show password" id="show password"></label>
        <label for="Remember password?">Remember password<input class="checkbox" type="checkbox" name="remember password" id="remember password"></label>
    </fieldset>
      <input type="submit" value="LOG IN" />
      <p>forgot password?</p>
    </form>
  </body>
