.btn-signup{
  background-color: #1B3A27;;
  color: #fff;
  letter-spacing: 1px;
  font-size: 0.9rem;
  border-radius: 4px ;
  width: 100%;
  height: 50px;
}
.card a{
    color: #1B3A27;
    text-decoration: none;
}
.back-link{
  cursor: pointer;
}
.back-link :hover {
  color: #1B3A27;;
}
fa-icon{
      font-size:larger;
      cursor: pointer;
}
.logo{

  margin: 0 auto;
  display: block;
  align-content: center;
}

.login_photo{
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}
/* styles.css */
.back-link {
  cursor: pointer;
  transition: all ease;
  text-decoration: none;
  color: #156211;
  display: block;
}

.back-link fa-icon {
  font-size: 0.9rem;
  margin-right: 15px;
}

.back-link:hover {
  color: #0c821f;
  text-decoration: underline;
}
