<div class="row">
  <div class="col  mt-2" style="margin-left: 5px;">
    <h3 class="fw-semi-bold f-weight fs-5">Clients</h3>
  </div>
</div>

<div class="d-none d-lg-block">
  <div class="row">
    <div class="col-md-3">
      <div class="filters-section">
        <div class="wrap">
          <select class="form-control" name="codes" [(ngModel)]="filters.status" (change)="filterByStatus()">
            <option value="">All statuses</option>
            <option value="ACTIVE">ACTIVE</option>
            <option value="SUSPENDED">SUSPENDED</option>
            <option value="CLOSED">CLOSED</option>
          </select>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="input-group mb-3">
        <input type="text" class="form-control" [(ngModel)]="filters.searchItem" placeholder="Name, Phone or Email"
          aria-label="Name, Phone or Email" aria-describedby="button-addon2">
        <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="search()">Search</button>
      </div>
    </div>
    <div class="col-md-2">
      <button type="button" routerLink="/addClient" class="btn btn-outline-success">
        <i class="fa fa-plus"></i> Add Client
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table" *ngIf="clients?.length">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Group/Cooporate</th>
                <th scope="col">Address</th>
                <th scope="col">Profession</th>
                <th scope="col">Status</th>
                <th scope="col">Actions</th>
              </tr>
            </thead>

            <tbody>
              <tr
                *ngFor="let client of clients | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }">
                <td>{{ client?.firstName + ' ' + client?.lastName | titlecase }}</td>
                <td>{{ client?.email }}</td>
                <td>{{ client?.msisdn }}</td>
                <td>{{ client?.clientType }}</td>
                <td>{{ client?.physicalAddress }}</td>
                <td>{{ client?.profession }}</td>
                <td>
                  <span class="badge" [ngClass]="{
              'badge-success': client?.clientStatus === 'ACTIVE',
              'badge-danger': client?.clientStatus === 'SUSPENDED' || client?.clientStatus === 'CLOSED',
              'badge-primary': client?.clientStatus === 'NEW'
            }">{{ client?.clientStatus }}</span>
                </td>

                <td class="view">
                  <a class="m-1"><i class="fa-solid fa-arrow-up-right-from-square" (click)="navigateToClientView(client.id)"></i></a>
                  <a class="m-1"><i class="fa-solid fa-pen-to-square" data-bs-toggle="modal" data-bs-target="#editClientModal"
                    (click)="editClient(client)"></i></a>
                  <!-- <i
            class="fa-solid fa-trash-can"
            (click)="suspendClient(client)"
          ></i> -->
                </td>
              </tr>
            </tbody>
          </table>
          <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
            <div class="donut multi"></div>
          </div>
          <p class="text-muted mt-5" *ngIf="!loading && !clients.length">
            No Clients Found.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="show-sm">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-between mt-2 mb-2">
        <h3></h3>
        <div>
          <button type="button" routerLink="/addclient" class="btn btn-outline-success">
            <i class="fa fa-plus"></i> Add Client
          </button>
        </div>
      </div>

      <div class="row" [@fadeIn]>
        <div class="col-md-10 mb-2">
          <div class="input-group">
            <input type="text" class="form-control" [(ngModel)]="filters.searchItem" placeholder="Name, Phone or Email"
              aria-label="Name, Phone or Email" aria-describedby="button-addon2">
            <button class="btn btn-outline-success" type="button" id="button-addon2" (click)="search()">Search</button>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-between mt-2 mb-2">
        <h5>Clients</h5>
        <div (click)="toggleFilters()">
          Filters
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter"
            viewBox="0 0 16 16">
            <path
              d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
          </svg>
        </div>
      </div>

      <div class="pt-3 pb-2 listing-item"
        *ngFor="let client of clients  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
        [routerLink]="['/clientView', client.id]">


        <div class="d-flex justify-content-between">
          <h4 class="farmer" [routerLink]="['/clientView', client.id]">
            {{ client?.firstName + ' ' + client?.lastName | titlecase }}
          </h4>

          <span class="no-word-break">{{ client.clientType | titlecase }}
            <a [routerLink]="['/clientView', client.id]"><i class="fa fa-angle-right"></i></a>
          </span>
        </div>

        <div class="d-flex justify-content-between mb-2">
          <span class="customer-name" class="mb-0">
            {{ client.msisdn | titlecase }}</span>
        </div>
        <div class="d-flex justify-content-between mb-2">
          <span class="customer-name" class="mb-0">
            <i class="fa fa-map-marker-alt"></i>
            {{ client.physicalAddress }}
          </span>
        </div>

        <div class="d-flex justify-content-between mb-1">
          <span class="badge" [ngClass]="{
          'badge-success': client?.clientStatus === 'ACTIVE',
          'badge-danger': client?.clientStatus === 'SUSPENDED' || client?.clientStatus === 'CLOSED',
          'badge-primary': client?.clientStatus === 'NEW'
        }">{{ client?.clientStatus }}</span>
        </div>
      </div>


      <div class="donut-wrapper" *ngIf="loading">
        <div class="donut multi"></div>
      </div>
      <div *ngIf="!loading && clients?.length === 0">
        <h2 class="text-muted mt-5">No Clients Found.</h2>
      </div>

    </div>
  </div>
</div>

<br>
<div class="text-center" *ngIf="totalElements > 15">
  <pagination-controls (pageChange)="onTableDataChange($event)"></pagination-controls>
</div>
<br>



<!-- Panel -->
<div class="add-options-container show-sm" [ngClass]="{'active-panel':showFilters}">

  <div class="add-options-panel" *ngIf="showFilters" [@fadeIn]>
    <div class="add-options-panel-heading">
      <h4>Filter Status</h4>
      <button type="button" class="btn-close" (click)="toggleFilters()" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>


    <div class="mb-1 border-bottom">
      <div class="add-filter-option" 
        *ngFor="let status of clientStatuses;index as i" (click)="filters.status = status">
        <span>{{status | titlecase}}</span>
        <span class="checkbox-border">
          <span class="checkbox-circle" [ngClass]="{'active-checkbox-circle':status === filters.status}"></span>
        </span>
      </div>
    </div>

    <div class="action-buttons mb-4">
      <button class="btn btn-cancel" (click)="toggleFilters();resetStatuses()">Reset</button>
      <button class="btn btn-outline-success" (click)="toggleFilters();getClients(0)">Filter</button>
    </div>
  </div>

</div>

<!-- Edit Client Modal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-x1">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="updateClient">
          <div class="mb-3 form-group">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName" formControlName="firstName"
              value="{{ clientToBeUpdated?.firstName }}" />
          </div>
          <div class="mb-3 form-group">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName" formControlName="lastName"
              value="{{ clientToBeUpdated?.lastName }}">
          </div>
          <div class="mb-3 form-group">
            <label for="email_address" class="form-label">Email</label>

            <input type="text" class="form-control" id="email" name="email_address" formControlName="email"
              value="{{ clientToBeUpdated?.email }}">
          </div>
          <div class="mb-3 form-group">
            <label for="msisdn" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="msisdn" name="msisdn" formControlName="msisdn"
              value="{{ clientToBeUpdated?.msisdn }}">
          </div>

          <div class="mb-3 form-group">

            <label for="physicalAddress" class="form-label">Address</label>
            <input type="text" class="form-control" id="physicalAddress" name="physicalAddress"
              formControlName="physicalAddress" value="{{ clientToBeUpdated?.physicalAddress}}">
          </div>
          <div class="mb-3 form-group">
            <label for="reason" class="form-label">Reason</label>
            <input type="text" class="form-control" id="reason" name="reason" formControlName="reason"
              value="{{ clientToBeUpdated?.reason}}">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="PaymentMode">Payment Mode</label>
            </div>

            <select class="form-select" id="inputGroupSelect01" formControlName="paymentMode"
              value="{{ clientToBeUpdated?.paymentMode }}">
              <option selected>Select Payment Mode</option>
              <option value="PREPAY">PREPAY</option>
              <option value="POSTPAY">POSTPAY</option>
            </select>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="clientType">Client Type</label>
            </div>
            <select class="form-select" id="inputGroupSelect01" formControlName="type"
              value="{{ clientToBeUpdated?.clientType }}">
              <option selected>Select Client type</option>
              <option value="INDIVIDUAL">INDIVIDUAL</option>
              <option value="CORPORATE">CORPORATE</option>
              <option value="GROUP">GROUP</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-success" (click)="updateClientDetails(clientToBeUpdated.id)">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
