

  <br>

  <div class="row list-container container ">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Session Name</th>
          <th scope="col">Client Name</th>
          <th scope="col">Availability</th>
          <th scope="col">Clarification Score</th>
          <th scope="col">Emotional Intelligence</th>
          <th scope="col">Listening Skills</th>
          <th scope="col">Understanding</th>
          <th scope="col">Average</th>
          <th scope="col">Comments</th>
        </tr>
      </thead>
  
      <tbody>
        <tr *ngFor="let feedback of feedbacks">
      
         
          <td>{{ feedback.session.name }}</td>
          <td>{{ feedback.client.firstName }}</td>
          <td>{{ feedback.availabilityScore }}</td>
          <td>{{ feedback.clarificationScore }}</td>
          <td>{{ feedback.emotionalIntelligenceScore }}</td>
          <td>{{ feedback.listeningSkillsScore }}</td>
          <td>{{ feedback.understandingScore }}</td>
          <td>{{ feedback.overallScore }}</td>
          <td>     <button class="btn btn-success"
            data-bs-toggle="modal"
          data-bs-target="#feedbackModal"
          (click)="viewComment(feedback)"
          >
            <i   class="fa-solid fa-arrow-up-right-from-square"></i>
            Comments
          </button></td>
          
        </tr>
      </tbody>
    </table>
    <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
      <div class="donut multi"></div>
    </div>
    <p class="text-muted mt-5" *ngIf="!loading && !feedbacks">
      No feedbacks Found.
    </p>
  </div>
  <!-- feedback details modal -->
<div
class="modal fade"
id="feedbackModal"
tabindex="-1"
aria-labelledby="exampleModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-lg">
<div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="exampleModalLabel">
      feedback Comments
    </h1>

    <button
      type="button"
      class="btn-close btn-close-white"
      data-bs-dismiss="modal"
      aria-label="Close"
    ></button>
  </div>
  <div class="modal-body" *ngFor="let feedback of feedbacks">
    <div class="d-flex-column">
      <span>{{ feedback.comments }}</span>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" 
    class="btn btn-secondary" 
    data-bs-dismiss="modal"
    >
      Close
    </button>
  </div>
</div>
</div>
</div> 