
<div class="row">
  <div class="col  mt-4 m-3" style="margin-left: 5px;">
    <h2 class="fw-semi-bold f-weight fs-5">Feedbacks</h2>
  </div>
</div>

  <div class="row d-none  d-lg-block">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <table class="table" *ngIf="feedbacks?.length">
            <thead>
              <tr>
                <th scope="col">Session Name</th>
                <th scope="col">Client Name</th>
                <th scope="col">Availability</th>
                <th scope="col">Clarification Score</th>
                <th scope="col">Emotional Intelligence</th>
                <th scope="col">Listening Skills</th>
                <th scope="col">Understanding</th>
                <th scope="col">Average</th>
                <th scope="col">Comments</th>
              </tr>
            </thead>
        
            <tbody>
              <tr *ngFor="let feedback of feedbacks">
                <td>{{ feedback?.session.name }}</td>
                <td>{{ feedback?.client.firstName }}</td>
                <td>{{ feedback?.availabilityScore }}</td>
                <td>{{ feedback?.clarificationScore }}</td>
                <td>{{ feedback?.emotionalIntelligenceScore }}</td>
                <td>{{ feedback?.listeningSkillsScore }}</td>
                <td>{{ feedback?.understandingScore }}</td>
                <td>{{ feedback?.overallScore }}</td>
                <td>     
                <button class="btn"
                  data-bs-toggle="modal"
                  data-bs-target="#feedbackModal"
                  (click)="viewComment(feedback)"
                >
                  <i class="fa-regular fa-comment fa-xl" style="color: #076e1c;"></i>
                </button></td>
              </tr>
            </tbody>
          </table>
          <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
            <div class="donut multi"></div>
          </div>
          <div class="d-flex justify-content-center" *ngIf="!loading && !feedbacks?.length">
            <p class="text-muted mt-5">
              No feedbacks Found.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- mobile view -->
  <div class="show-sm">
    <div class="pt-3 pb-2 listing-item m-2" *ngFor="let feedback of feedbacks"> 
      <div class="d-flex justify-content-between m-2">
        <h4 class="farmer">
          {{ feedback?.client.firstName | titlecase }}
        </h4>

        <span class="no-word-break">{{ feedback?.session.name | titlecase }}
          <a data-bs-toggle="modal" data-bs-target="#feedbackModal" (click)="viewComment(feedback)">
            <i class="far fa-comment-alt"></i>
          </a>
        </span>
      </div>

      <div class="d-flex justify-content-between mb-2 m-2">
        <span class="customer-name" class="mb-0">
          Overall: {{ feedback.overallScore }}
        </span>
       
      </div>
      <div class="d-flex justify-content-between mb-2 m-2">
      <span class="customer-name">
          Emotional Intelligence: {{ feedback.emotionalIntelligenceScore }}
        </span>
      </div>

      <div class="d-flex justify-content-between mb-2 m-2">
        <span class="customer-name" class="mb-0">
          Clarification: {{ feedback.clarificationScore }}
        </span>
       
      </div>
      <div class="d-flex justify-content-between mb-2 m-2">
        <span class="customer-name" class="mb-0">
          Listening Skills: {{ feedback.listeningSkillsScore }}
        </span>
      </div>

      <div class="d-flex justify-content-between mb-1 m-2">
        <span class="customer-name" class="mb-0">
          Understanding: {{ feedback.understandingScore }}
        </span>
      </div>
      <div class="d-flex justify-content-between mb-1 m-2">
        <span class="customer-name" class="mb-0">
          Availability: {{ feedback.availabilityScore  }}
        </span>
      </div>
    </div>

    <div class="donut-wrapper" *ngIf="loading">
      <div class="donut multi"></div>
    </div>
    <p class="text-muted mt-5" *ngIf="!loading && !feedbacks.length">
      No feedbacks Found.
    </p>
  </div>



  <!-- feedback details modal -->
<div class="modal fade" id="feedbackModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">feedback Comments</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngFor="let feedback of feedbacks">
        <div class="d-flex-column">
          <span>{{ feedback.comments }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close
        </button>
      </div>
    </div>
  </div>
</div> 