<div class="row">
  <div class="col-sm-5 col-md-5">
    <h4></h4>
  </div>
  <div class="col-sm-5 col-md-5">
    <img src="../../../assets/images/CoachMatePRO.png" alt="logo" class="logo" style="width: 150px; height: 100px; padding-top: 0%; margin-top: 0%;">
  </div>
  <div class="col-sm-2 col-md-2">
    <app-user></app-user>
  </div>
</div>
<h1>Terms and Conditions</h1>
<p>Please read the following terms and conditions carefully:</p>

    <h3>Services</h3>

    <div class="card card-body">
  <div class="row">
    <div class="col-10">
 
        The Coach and Client agree to engage in a coaching engagement through
        in-person, email or virtual meetings as agreed by both parties. The
        Coach will be available to the Client by email, Zoom or phone in
        between scheduled meetings as defined by the Coach. The Coach may also
        be available for additional time, on the Client’s request during the
        term of this contract (engaging in other Client-related services
        outside of coaching hours to review goals, read reports, etc.). Time
        outside the agreed bracket as outlined will be at the rate of USD 50
        for every 30-minute time block.
      
    </div>
    </div>
</div>

  
      <h3>Terms & Conditions</h3>
    <br />
      <div class="card card-body">
    <div class="row">
      <div class="col-10">
    <ol>
      <li>
        Coaching fees are payable in full before each coaching session.
      </li>
      <li>
        That both the Coach and the Client strictly adhere to the agreed
        schedule (unless otherwise by mutual agreement or due to
        acceptable unforeseen emergencies).
      </li>
      <li>
        The coaching sessions will take place in a predetermined location
        agreeable to both parties
      </li>
      <li>
        The Client bears the cost for any calls lasting more than 10
        minutes if the Client so prefers telephone communication.
        Otherwise, the Coach uses internet-based voice communication such
        as Zoom or Skype.
      </li>
    </ol>
    </div>
    </div>
    </div>

       
        <h3>Practice</h3>
      <br />
        <div class="card card-body">
      <p>I, the Client:</p>
  
    <ol>
      <li>
        Fully understand and agree that I am fully responsible for my
        physical, mental and emotional well-being during my coaching
        sessions, including my choices and decisions. I am aware that I
        can choose to discontinue coaching by giving a 14 days’ notice.
      </li>
      <li>
        Understand that Coaching is partnership (defined as an alliance,
        not a legal business partnership) between the Coach and the
        Client. That it is a thought-provoking and creative process that
        inspires the Client to maximize personal and professional
        potential.
      </li>
      <li>
        Understand that Coaching is a Professional–Client relationship I
        have with my Coach that is designed to facilitate the
        creation/development of personal, professional or business goals
        and to develop and carry out a strategy/plan for achieving those
        goals.
      </li>
      <li>
        Understand that coaching is a comprehensive process that may
        involve all areas of my life, including work, finances, health,
        relationships, education and recreation. I acknowledge that
        deciding how to handle these issues, incorporate coaching into
        those areas, and implement my choices is exclusively my
        responsibility.
      </li>
      <li>
        Understand that coaching does not involve the diagnosis or
        treatment of mental disorders. I understand that coaching is not a
        substitute for counselling, psychotherapy, psychoanalysis, mental
        health care or substance abuse treatment and I will not use it in
        place of any form of diagnosis, treatment or therapy.
      </li>
      <li>
        Understand that information will be held in confidence — unless I
        expressly state otherwise in writing — except as required by law.
      </li>
      <li>
        Understand that certain topics may be anonymously and
        hypothetically shared with other coaching professionals purely for
        training purposes, improvement of coaching practice/ methodology
        or advancement of the coaching industry
      </li>
      <li>
        Understand that coaching is not to be used as a substitute for
        professional advice by legal, medical, financial, business,
        spiritual or other qualified professionals. I will seek
        independent professional guidance for legal, medical, financial,
        business, spiritual or other matters.
      </li>
      <li>
        Understand that all decisions in these areas are exclusively mine
        and I acknowledge that my decisions and my actions regarding them
        are my sole responsibility.
      </li>
      <li>Agree to honor my scheduled session times [see Schedule].</li>
    </ol>
    </div>
    <label>
        <input type="checkbox" [(ngModel)]="agreedToTerms"> I have read and agree to the terms and conditions.
      </label>
      <button   [disabled]="!agreedToTerms" (click)="navigateToContractDetail()">Next</button>