<div class="row">
  <div class="col mt-4" style="margin-left: 5px">
    <h2 class="fw-bold"><i class="fas fa-chevron-left pe-3 pt-1 back-icon back" (click)="back()"></i>Client</h2>
  </div>
</div>

<br>

<div class="row justify-content-center">
  <div class="col-md-8 col-sm-12">
    <div class="card">
      <div class="card-body">
        <div class="row dtl">
          <h3 class="fw-bold col">Details</h3>
          <div class="col">
            <div class="dropdown">
              <a class="btn btn-outline-success dropdown-toggle" href="#" role="button" id="dropdownMenuButton"
                data-bs-toggle="dropdown" aria-expanded="false">
                Actions</a>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <!-- <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#editClientModal"
                  (click)="editClient(clients)">
                  <i class="fas fa-edit"></i>
                  Edit
                </button> -->
                <li (click)="editClient(clients)" class="dropdown-item"><a class="dropdown-item" data-bs-toggle="modal"
                    data-bs-target="#editClientModal"><i class="fas fa-edit"></i> Edit </a></li>
                <li (click)="statusState('ACTIVE')" class="dropdown-item"><a class="dropdown-item"
                    data-bs-toggle="modal" data-bs-target="#activateclientModal">Activate </a></li>
                <li (click)="statusState('SUSPENDED')" class="dropdown-item"><a class="dropdown-item"
                    data-bs-toggle="modal" data-bs-target="#suspendclientModal">Suspend </a></li>
                <li (click)="statusState('CLOSED')" class="dropdown-item"><a class="dropdown-item"
                    data-bs-toggle="modal" data-bs-target="#closeclientModal">Close </a></li>
              </ul>
            </div>
          </div>
        </div>
        <br>
        <div class="donut-wrapper" *ngIf="loadingClient" [@fadeIn]>
          <div class="donut multi"></div>
        </div>

        <div class="col-md-12" [@fadeIn] *ngIf="clients">
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Id</h6>
            <p class="col">{{ clients?.id }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Name</h6>
            <p class="col">{{ clients?.firstName + " " + clients?.lastName | titlecase }}</p>
          </div>

          <div class="d-none d-lg-block">
            <div class="row dtl">  
              <h6 class="fw-semi-bold  faded col smaller-font">Email</h6>
              <p class="col">{{ clients?.email}}</p>
            </div>
          </div>
          <div class="row dtl d-flex d-block d-lg-none">
            <h6 class="fw-semi-bold  faded col smaller-font">Email</h6>
            <p class="col">{{ clients?.email?.slice(0, 10)}}...</p>
          </div>

          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Phone number</h6>
            <p class="col">{{ clients?.msisdn }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Address</h6>
            <p class="col">{{ clients?.physicalAddress }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Client Type</h6>
            <p class="col">{{ clients?.clientType }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Profession</h6>
            <p class="col">{{ clients?.profession }}</p>
          </div>

          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Payment Mode</h6>
            <p class="col">{{ clients?.paymentMode }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Status</h6>
            <p class="col">
              <span class="badge" [ngClass]="{
                'badge-success': clients?.clientStatus === 'ACTIVE',
                'badge-danger': clients?.clientStatus === 'SUSPENDED' || clients?.clientStatus === 'CLOSED',
                'badge-primary': clients?.clientStatus === 'NEW'
              }">{{ clients?.clientStatus }}</span>
            </p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Created On</h6>
            <p class="col">{{ clients?.createdAt | date: "MMM d y" }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Last Updated</h6>
            <p class="col">{{ clients?.lastUpdatedAt | date: "MMM d y" }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Created By</h6>
            <p class="col">{{ clients?.createdBy }}</p>
          </div>
          <div class="row dtl">
            <h6 class="fw-semi-bold  faded col smaller-font">Reason</h6>
            <p class="col">{{ clients?.reason }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p>{{payments}}</p>
<br>

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="row justify-content-center">
          <div class="col-md-7 col-sm-12">
            <!--Tabs-->
            <div class="d-none d-lg-block">
              <ul *ngIf="userRole !== 'CLIENT'" class="nav nav-tabs md-tabs nav-justified" id="myTabJust"
                role="tablist">
                <li class="nav-item" (click)="toggleTab('sessions')">
                  <a class="nav-link" [class.active]="currentTab === 'sessions'" id="home-tab-just" data-toggle="tab"
                    role="tab" aria-controls="home-just" aria-selected="true"><i class="fa-solid fa-chalkboard-user"
                      style="color: green"></i> Sessions</a>
                </li>
                <li class="nav-item" (click)="toggleTab('contracts')">
                  <a class="nav-link" [class.active]="currentTab === 'contracts'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fa-solid fa-file-contract" style="color: green"></i> Contracts</a>
                </li>
                <li class="nav-item" (click)="toggleTab('payments')">
                  <a class="nav-link" [class.active]="currentTab === 'payments'" id="contact-tab-just" data-toggle="tab"
                    role="tab" aria-controls="contact-just" aria-selected="false"><i class="fas fa-money-check-alt"
                      style="color: green"></i> Payments</a>
                </li>
                <li class="nav-item" (click)="toggleTab('notifications')">
                  <a class="nav-link" [class.active]="currentTab === 'notifications'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fa fa-bell" style="color: green"></i> Notifications</a>
                </li>
              </ul>
            </div>

            <div class="show-sm">
              <ul class="nav nav-tabs md-tabs nav-justified" id="myTabJust" role="tablist">
                <li class="nav-item" (click)="toggleTab('sessions')">
                  <a class="nav-link" [class.active]="currentTab === 'sessions'" id="home-tab-just" data-toggle="tab"
                    role="tab" aria-controls="home-just" aria-selected="true"><i class="fa-solid fa-chalkboard-user"
                      style="color: green"></i></a>
                </li>
                <li class="nav-item" (click)="toggleTab('contracts')">
                  <a class="nav-link" [class.active]="currentTab === 'contracts'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fa-solid fa-file-contract" style="color: green"></i></a>
                </li>
                <li class="nav-item" (click)="toggleTab('payments')">
                  <a class="nav-link" [class.active]="currentTab === 'payments'" id="contact-tab-just" data-toggle="tab"
                    role="tab" aria-controls="contact-just" aria-selected="false"><i class="fas fa-money-check-alt"
                      style="color: green"></i></a>
                </li>
                <li class="nav-item" (click)="toggleTab('notifications')">
                  <a class="nav-link" [class.active]="currentTab === 'notifications'" id="contact-tab-just"
                    data-toggle="tab" role="tab" aria-controls="contact-just" aria-selected="false"><i
                      class="fa fa-bell" style="color: green"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <br>

        <div *ngIf="currentTab === 'sessions'" class="d-none d-lg-block">
          <!-- add session button -->
          <div class="d-flex justify-content-end">
            <button *ngIf="!loading" class="btn btn-outline-success" [routerLink]="['/addSession']">
              <i class="fas fa-plus"></i> Add Session
            </button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table" *ngIf="sessions?.length">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Contract</th>
                    <th scope="col">Venue</th>
                    <th scope="col">Type</th>
                    <th scope="col">Date</th>
                    <th scope="col">Start Time</th>
                    <th scope="col">End Time</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let session of sessions | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }">
                    <td>{{ session?.name }}</td>
                    <td>{{ session?.contractCoachingTopic }}</td>
                    <td>{{ session?.sessionVenue }}</td>
                    <td>{{ session?.sessionType | titlecase }}</td>

                    <td *ngIf="session?.sessionSchedulesSessionDate">{{ session?.sessionSchedulesSessionDate }}</td>
                    <td *ngIf="!session?.sessionSchedulesSessionDate">{{ session?.sessionDate }}</td>

                    <td>{{ session?.sessionSchedulesStartTime }}</td>
                    <td>{{ session?.sessionSchedulesEndTime }}</td>
                    <td>
                      <span class="badge" [ngClass]="{
                  'badge-success': session.sessionStatus === 'CONFIRMED',
                  'badge-danger': session.sessionStatus === 'CANCELLED',
                  'badge-primary': session.sessionStatus === 'NEW' || session.sessionStatus === 'CONDUCTED'
                }">{{ session.sessionStatus }}</span>
                    </td>
                    <td class="view">
                      <a [routerLink]="['/sessionView/', session.id]"><i class="fas fa-external-link-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <p class="text-muted mt-5" *ngIf="!loading && !sessions?.length">
                No sessions Found.
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab === 'sessions'" class="show-sm">
          <div class="card">
            <div class="d-flex justify-content-end m-2">
              <div>
                <button type="button" routerLink="/addsession" class="btn btn-outline-success">
                  <i class="fa fa-plus"></i> Add Session
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="pt-3 pb-2 listing-item"
                *ngFor="let session of sessions  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
                [routerLink]="['/sessionView', session.id]">
        
        
                <div class="d-flex justify-content-between">
                  <h4 class="farmer" [routerLink]="['/sessionView', session.id]">
                    {{ session?.name | titlecase }}
                  </h4>
        
                  <span class="no-word-break">{{ session.contractCoachingTopic | titlecase }}
                    <a [routerLink]="['/sessionView', session.id]"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
        
                <div class="d-flex justify-content-between mb-2" *ngIf="session?.sessionSchedulesSessionDate">
                  <span class="customer-name" class="mb-0">
                    {{ session?.sessionSchedulesSessionDate }}</span>
                </div>
                <div class="d-flex justify-content-between mb-2" *ngIf="!session?.sessionSchedulesSessionDate">
                  <span class="customer-name" class="mb-0">
                    {{ session?.sessionDate }}</span>
                </div>

                <div class="d-flex justify-content-between mb-2">
                  <span class="customer-name" class="mb-0">
                    <i class="fa fa-map-marker-alt"></i>
                    {{ session?.sessionSchedulesStartTime }} - {{ session?.sessionSchedulesEndTime }}
                  </span>
                </div>
        
                <div class="d-flex justify-content-between mb-1">
                  <span class="badge" [ngClass]="{
                    'badge-success': session?.sessionStatus === 'CONFIRMED',
                    'badge-danger': session?.sessionStatus === 'CANCELLED',
                    'badge-primary': session?.sessionStatus === 'NEW' || session?.sessionStatus === 'CONDUCTED'
                }">{{ session.sessionStatus }}</span>
                </div>
              </div>
        
        
              <div class="donut-wrapper" *ngIf="loading">
                <div class="donut multi"></div>
              </div>
              <div *ngIf="!loading && session?.length === 0">
                <h2 class="text-muted mt-5">No Sessions Found.</h2>
              </div>
        
            </div>
          </div>
        </div>

        <div *ngIf="currentTab === 'contracts'" class="d-none d-lg-block">
          <!-- add contract button -->
          <div class="d-flex justify-content-end">
            <button *ngIf="!loading" class="btn btn-outline-success" [routerLink]="['/add-contract']">
              <i class="fas fa-plus"></i> Add Contract
            </button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table table-sm" *ngIf="contracts.length">
                <thead>
                  <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Client</th>
                    <th scope="col">Start Date</th>
                    <th scope="col">End Date</th>
                    <th scope="col">No Of Sessions</th>
                    <th scope="col">Amount Due</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let contract of contracts | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }">
                    <td>{{ contract?.coachingTopic}}</td>
                    <td>{{ contract?.coachingCategory }}</td>
                    <td>{{ contract?.clientFullName }}</td>
                    <td>{{ contract?.startDate | date : "MMM d, y" }}</td>
                    <td>{{ contract?.endDate | date : "MMM d, y" }}</td>
                    <td>{{ contract?.noOfSessions}}</td>
                    <td>{{ contract?.amountDue }}</td>
                    <td>
                      <span class="badge" [ngClass]="{
                  'badge-success': contract?.contractStatus === 'SIGNED' || contract?.contractStatus === 'FINISHED',
                  'badge-danger': contract?.contractStatus === 'ONGOING',
                  'badge-primary': contract?.contractStatus === 'NEW'
                }">{{ contract?.contractStatus }}</span>
                    </td>
                    <td class="view">
                      <a [routerLink]="['/contractDetail/', contract.id]"><i class="fas fa-external-link-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="donut-wrapper" *ngIf="loading" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <p class="text-muted mt-5" *ngIf="!loading && !contracts?.length">
                No contracts Found.
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab === 'contracts'" class="show-sm">
          <div class="card">
            <div class="d-flex justify-content-end m-2">
              <div>
                <button type="button" routerLink="/addcontract" class="btn btn-outline-success">
                  <i class="fa fa-plus"></i> Add Contract
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="pt-3 pb-2 listing-item"
                *ngFor="let contract of contracts  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
                [routerLink]="['/contractDetail/', contract.id]">
        
        
                <div class="d-flex justify-content-between">
                  <h4 class="farmer" [routerLink]="['/contractDetail/', contract.id]">
                    {{ contract?.coachingTopic | titlecase }}
                  </h4>
        
                  <span class="no-word-break">{{ contract?.coachingCategory | titlecase }}
                    <a [routerLink]="['/contractDetail/', contract.id]"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
        
                <div class="d-flex justify-content-between mb-2" >
                  <span class="customer-name" class="mb-0">
                    {{ contract?.clientFullName }}</span>
                </div>

                <div class="d-flex justify-content-between mb-2">
                  <span class="customer-name" class="mb-0">
                    <i class="fa fa-map-marker-alt"></i>
                    {{ contract?.startDate | date : "MMM d, y"  }} - {{ contract?.endDate | date : "MMM d, y"  }}
                  </span>
                </div>
        
                <div class="d-flex justify-content-between mb-1">
                  <span class="badge" [ngClass]="{
                  'badge-success': contract?.contractStatus === 'SIGNED' || contract?.contractStatus === 'FINISHED',
                  'badge-danger': contract?.contractStatus === 'ONGOING',
                  'badge-primary': contract?.contractStatus === 'NEW'
                }">{{ contract?.contractStatus }}</span>
                </div>
              </div>
        
              <div class="donut-wrapper" *ngIf="loading">
                <div class="donut multi"></div>
              </div>
              <div *ngIf="!loading && contracts?.length === 0">
                <h2 class="text-muted mt-5">No Contracts Found.</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-lg-block" *ngIf="currentTab === 'payments'" [@fadeIn]>
          <div class="d-flex justify-content-end">
            <button class="btn btn-outline-success" [routerLink]="['/record-payment']">
              <i class="fas fa-plus"></i> Add Payment
            </button>
          </div>
          <div class="row">
            <div class="col-md-12">
              <table class="table" *ngIf="payments?.length">
                <thead>
                  <tr>
                    <th>Mode Of Payment</th>
                    <th>Payment Reference</th>
                    <th>Amount In</th>
                    <th>Wallet Balance</th>
                    <th>Recorded On</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let payment of payments">
                    <td>{{ payment?.modeOfPayment | titlecase}}</td>
                    <td>{{ payment?.extPaymentRef}}</td>
                    <td>{{ payment?.amountDeposited}}</td>
                    <td>{{ payment?.walletBalance}}</td>
                    <td>{{ payment?.createdAt | date: "MMM d y" }}</td>
                    <td class="view">
                      <a><i data-bs-toggle="modal" data-bs-target="#paymentModal" (click)="viewPayment(payment)"
                          class="fas fa-external-link-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="donut-wrapper" *ngIf="searching" [@fadeIn]>
                <div class="donut multi"></div>
              </div>
              <p class="text-muted mt-5" *ngIf="!loading && !payments?.length">
                No Payments Found.
              </p>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab === 'payments'" class="show-sm">
          <div class="card">
            <div class="d-flex justify-content-end m-2">
              <div>
                <button type="button" [routerLink]="['/record-payment']" class="btn btn-outline-success">
                  <i class="fa fa-plus"></i> Add Payment
                </button>
              </div>
            </div>
            <div class="card-body">
              <div class="pt-3 pb-2 listing-item"
                *ngFor="let payment of payments  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
                data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewPayment(payment)">
        
        
                <div class="d-flex justify-content-between">
                  <h4 class="farmer" data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewPayment(payment)">
                    {{ payment?.modeOfPayment | titlecase }}
                  </h4>
        
                  <span class="no-word-break">{{ payment?.amountDeposited }}
                    <a data-bs-toggle="modal" data-bs-target="#invoicemodal" (click)="viewPayment(payment)"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>
        
                <div class="d-flex justify-content-between mb-2" >
                  <span class="customer-name" class="mb-0">
                    {{ payment?.walletBalance }}</span>
                </div>

                <div class="d-flex justify-content-between mb-2">
                  <span class="customer-name" class="mb-0">
                    <i class="fa fa-map-marker-alt"></i>
                    {{ payment?.createdAt | date: "MMM d y"  }}
                  </span>
                </div>
              </div>
        
              <div class="donut-wrapper" *ngIf="loading">
                <div class="donut multi"></div>
              </div>
              <div *ngIf="!loading && !payments?.length">
                <h3 class="text-muted mt-5">No Payments Found.</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="d-none d-lg-block" *ngIf="currentTab === 'notifications'" [@fadeIn]>
          <div class="row">
            <div class="col-md-12">
              <table class="table" *ngIf="notifications?.length">
                <thead>
                  <tr>
                    <th>Mode</th>
                    <th>Source Address</th>
                    <th>Destination Address</th>
                    <th>Content</th>
                    <th>Sent At</th>
                    <th>Reason</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let notification of notifications">
                    <td>{{ notification?.notificationMode | titlecase}}</td>
                    <td>{{ notification?.sourceAddress}}</td>
                    <td>{{ notification?.destinationAddress}}</td>
                    <td>{{ notification?.content?.slice(0, 20)}}...</td>
                    <td>{{ notification?.createdAt | date : "MMM d, y " }}</td>
                    <td>{{ notification?.sendReason}}</td>
                    <td class="view">
                      <a><i data-bs-toggle="modal" data-bs-target="#notificationModal"
                          (click)="viewNotification(notification)" class="fas fa-external-link-alt"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="show-ms" *ngIf="currentTab === 'notifications'" [@fadeIn]>
                <p class="text-muted mt-5" *ngIf="!notifications?.length">
                  No notifications found.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div *ngIf="currentTab === 'notifications'" class="show-sm">
          <div class="card">
            <div class="card-body">
              <div class="pt-3 pb-2 listing-item"
                *ngFor="let notification of notifications  | paginate: { itemsPerPage: pageSize, currentPage: page, totalItems: totalElements }"
                data-bs-toggle="modal" data-bs-target="#notificationModal" (click)="viewNotification(notification)">
        
        
                <div class="d-flex justify-content-between">
                  <h4 class="farmer" data-bs-toggle="modal" data-bs-target="#notificationModal" (click)="viewNotification(notification)">
                    {{ notification?.sendReason | titlecase }}
                  </h4>
        
                  <span class="no-word-break">{{ notification?.notificationMode | titlecase }}
                    <a data-bs-toggle="modal" data-bs-target="#notificationModal" (click)="viewNotification(notification)"><i class="fa fa-angle-right"></i></a>
                  </span>
                </div>

                <div class="d-flex justify-content-between mb-2">
                  <span class="customer-name" class="mb-0">
                    {{ notification?.sourceAddress  }} - {{ notification?.destinationAddress  }}
                  </span>
                </div>
        
                <div class="d-flex justify-content-between mb-2" >
                  <span class="customer-name" class="mb-0">
                    {{ notification?.createdAt | date : "MMM d, y " }}</span>
                </div>
              </div>
        
              <div class="donut-wrapper" *ngIf="loading">
                <div class="donut multi"></div>
              </div>
              <div *ngIf="!loading && !notifications?.length">
                <h3 class="text-muted mt-5">No Notifications Found.</h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- suspend client modal -->
<div class="modal fade bd-example-modal-lg" id="suspendclientModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Suspend Client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p class="">
            Are you sure you want to suspend
            <span class="fw-bold">{{ clients?.firstName + " " + clients?.lastName }}</span>?
          </p>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-outline-success" (click)=" changeClientStatus()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Close client modal -->
<div class="modal fade bd-example-modal-lg" id="closeclientModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Close client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p>client Name:</p>
          <span>{{
        clients?.firstName + " " + clients?.lastName | titlecase
      }}</span>
        </div>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1">Reason</label>
            <textarea name="narration" class="form-control" id="narration" aria-describedby="narration"
              placeholder="narration for closing the client">
        </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-outline-success" (click)=" changeClientStatus()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Activate client modal -->
<div class="modal fade" id="activateclientModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Activate client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="d-flex justify-content-between">
          <p>client Name:</p>
          <span>{{ clients?.firstName + " " + clients?.lastName }}</span>
        </div>
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1">Reason</label>
            <textarea name="narration" class="form-control" id="narration" aria-describedby="narration"
              placeholder="narration for activating the client">
        </textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-outline-success" (click)="changeClientStatus()">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Payment View modal -->
<div class="modal fade" id="paymentModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Payment Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="payment">
        <div class="d-flex justify-content-between">
          <p>Ext Payment Ref:</p>
          <span>{{ payment.extPaymentRef }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Client:</p>
          <span>{{ payment.clientFullName | titlecase}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Coach:</p>
          <span>{{ payment.createdBy}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Payment Currency:</p>
          <span>{{ payment.paymentCurrency}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Mode:</p>
          <span>{{ payment.modeOfPayment}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Amount Paid:</p>
          <span>{{ payment.amountDeposited }}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Wallet Balance:</p>
          <span>{{ payment.walletBalance}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Payment Date:</p>
          <span>{{ payment.createdAt | date : "MMM d, y hh "}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Payment Time:</p>
          <span>{{ payment.createdAt| date : " hh:mm a"}}</span>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Notification details modal -->
<div class="modal fade" id="notificationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel" *ngIf="notification">{{ notification.sendReason }}</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" *ngIf="notification">
        <div class="d-flex justify-content-between">
          <p>Destination</p>
          <span>{{ notification.destinationAddress }}</span>
        </div>

        <div class="d-flex justify-content-between">
          <p>Source Address</p>
          <span>{{ notification.sourceAddress}}</span>
        </div>
        <div class="d-flex justify-content-between">
          <p>Sent on:</p>
          <span>{{ notification.createdAt | date : "MMM d, y " }}</span>
        </div>
        <div class="d-flex-column">
          <p>Content:</p>
          <span>{{ notification.content }}</span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Edit Client Modal -->
<div class="modal fade" id="editClientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-x1">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Edit Client</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"></span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3 form-group">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" class="form-control" id="firstName" name="firstName"
              value="{{ clientToBeUpdated?.firstName }}" />
          </div>
          <div class="mb-3 form-group">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" class="form-control" id="lastName" name="lastName"
              value="{{ clientToBeUpdated?.lastName }}">
          </div>
          <div class="mb-3 form-group">
            <label for="email_address" class="form-label">Email</label>
            <input type="text" class="form-control" id="email_address" name="email_address"
              value="{{ clientToBeUpdated?.email }}">
          </div>
          <div class="mb-3 form-group">
            <label for="msisdn" class="form-label">Phone Number</label>
            <input type="text" class="form-control" id="msisdn" name="msisdn" value="{{ clientToBeUpdated?.msisdn }}">
          </div>

          <div class="mb-3 form-group">
            <label for="physical_address" class="form-label">Address</label>
            <input type="text" class="form-control" id="physical_address" name="physicalAddress"
              value="{{ clientToBeUpdated?.physicalAddress}}">
          </div>
          <div class="mb-3 form-group">
            <label for="reason" class="form-label">Reason</label>
            <input type="text" class="form-control" id="reason" name="reason" value="{{ clientToBeUpdated?.reason}}">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="PaymentMode">Payment Mode</label>
            </div>
            <select class="form-select" id="inputGroupSelect01" value="{{ clientToBeUpdated?.paymentMode }}">
              <option selected>Select Payment Mode</option>
              <option value="PREPAY">PREPAY</option>
              <option value="POSTPAY">POSTPAY</option>
            </select>
          </div>
          <div class="input-group">
            <div class="input-group-prepend">
              <label class="input-group-text" for="clientType">Client Type</label>
            </div>
            <select class="form-select" id="inputGroupSelect01" value="{{ clientToBeUpdated?.clientType }}">
              <option selected>Select Client type</option>
              <option value="INDIVIDUAL">INDIVIDUAL</option>
              <option value="CORPORATE">CORPORATE</option>
              <option value="GROUP">GROUP</option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-outline-success" (click)="updateClientDetails(clientToBeUpdated.id)">Save
          changes</button>
      </div>
    </div>
  </div>
</div>
