
  <div class="card card-table d-flex justify-content-center align-items-center" style="padding: 20;" >
  <div style="margin: 10;">
<div class="row">
  <div class="col-10">
  </div>
  <div class="col-2">
        <app-user></app-user>
  </div>
</div>
<div style="margin: 10;">
<h3>Session Feedback Form</h3>
<p>Thank you for choosing to work with our professional coach. 
    We value your feedback and would appreciate if you could take a few minutes to complete this form.
    Your input will help us to continue to improve our coaching services and ensure that you have the best experience possible. 
    Please rate each statement on a scale of 1-5, with 1 being the least and 5 being the most.
    Your comments and suggestions are also welcome. Thank you for your time and support.</p>
<form [formGroup]="feebackForm" (ngSubmit)="submitForm()">
    <div class="form-group">
      <label for="goalSetting">1. My coach helped me to bring out my goals, values and beliefs as they affect me personally and professionally:</label>
      <div class="form-group__rating">
        <input type="radio" formControlName="goalSetting" value="1" id="goalSetting1">
        <label for="goalSetting1">1</label>
        <input type="radio" formControlName="goalSetting" value="2" id="goalSetting2">
        <label for="goalSetting2">2</label>
        <input type="radio" formControlName="goalSetting" value="3" id="goalSetting3">
        <label for="goalSetting3">3</label>
        <input type="radio" formControlName="goalSetting" value="4" id="goalSetting4">
        <label for="goalSetting4">4</label>
        <input type="radio" formControlName="goalSetting" value="5" id="goalSetting5">
        <label for="goalSetting5">5</label>
      </div>
    </div>
    <div class="form-group">
      <label for="emotionManagement">2. My coach demonstrated an ability to work with strong emotions and was not overpowered:</label>
      <div class="form-group__rating">
        <input type="radio" formControlName="emotionManagement" value="1" id="emotionManagement1">
        <label for="emotionManagement1">1</label>
        <input type="radio" formControlName="emotionManagement" value="2" id="emotionManagement2">
        <label for="emotionManagement2">2</label>
        <input type="radio" formControlName="emotionManagement" value="3" id="emotionManagement3">
        <label for="emotionManagement3">3</label>
        <input type="radio" formControlName="emotionManagement" value="4" id="emotionManagement4">
        <label for="emotionManagement4">4</label>
        <input type="radio" formControlName="emotionManagement" value="5" id="emotionManagement5">
        <label for="emotionManagement5">5</label>
      </div>
    </div>
    <div class="form-group">
      <label for="activeListening">3. My coach asked questions that demonstrated active listening and understanding of my perspective and encouraged clarity, learning and exploration:</label>
      <div class="form-group__rating">
        <input type="radio" formControlName="activeListening" value="1" id="activeListening1">
        <label for="activeListening1">1</label>
        <input type="radio" formControlName="activeListening" value="2" id="activeListening2">
        <label for="activeListening2">2</label>
        <input type="radio" formControlName="activeListening" value="3" id="activeListening3">
        <label for="activeListening3">3</label>
        <input type="radio" formControlName="activeListening" value="4" id="activeListening4">
        <label for="activeListening4">4</label>
<input type="radio" formControlName="activeListening" value="5" id="activeListening5">
<label for="activeListening5">5</label>
</div>

  </div>
  <div class="form-group">
    <label for="clarification">4. My coach was able to repeat what I said for clarification:</label>
    <div class="form-group__rating">
      <input type="radio" formControlName="clarification" value="1" id="clarification1">
      <label for="clarification1">1</label>
      <input type="radio" formControlName="clarification" value="2" id="clarification2">
      <label for="clarification2">2</label>
      <input type="radio" formControlName="clarification" value="3" id="clarification3">
      <label for="clarification3">3</label>
      <input type="radio" formControlName="clarification" value="4" id="clarification4">
      <label for="clarification4">4</label>
      <input type="radio" formControlName="clarification" value="5" id="clarification5">
      <label for="clarification5">5</label>
    </div>
  </div>
  <div class="form-group">
    <label for="agenda">5. The coach attended to the my agenda and not their own agenda:</label>
    <div class="form-group__rating">
      <input type="radio" formControlName="agenda" value="1" id="agenda1">
      <label for="agenda1">1</label>
      <input type="radio" formControlName="agenda" value="2" id="agenda2">
      <label for="agenda2">2</label>
      <input type="radio" formControlName="agenda" value="3" id="agenda3">
      <label for="agenda3">3</label>
      <input type="radio" formControlName="agenda" value="4" id="agenda4">
      <label for="agenda4">4</label>
      <input type="radio" formControlName="agenda" value="5" id="agenda5">
      <label for="agenda5">5</label>
    </div>
  </div>
  <div class="form-group">
    <label for="presence">6. I felt that the coach was fully present and flexible during the session:</label>
    <div class="form-group__rating">
      <input type="radio" formControlName="presence" value="1" id="presence1">
      <label for="presence1">1</label>
      <input type="radio" formControlName="presence" value="2" id="presence2">
      <label for="presence2">2</label>
      <input type="radio" formControlName="presence" value="3" id="presence3">
      <label for="presence3">3</label>
      <input type="radio" formControlName="presence" value="4" id="presence4">
<label for="presence4">4</label>
<input type="radio" formControlName="presence" value="5" id="presence5">
<label for="presence5">5</label>
</div>

  </div>
  <div class="form-group">
    <label for="additionalComments">Additional Comments:</label>
    <textarea formControlName="additionalComments" id="additionalComments"></textarea>
  </div>
  <button type="submit" [disabled]="!feebackForm.valid">Submit</button>
</form>
</div>
  </div>
</div>


